﻿@model MVC442.Models.ViewModel.BankWebLinkVM 

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
}
 

<!-- ==================  CKfinder -->
<script src="~/ckfinder/ckfinder.js"></script>   
<!-- ==================   CKFinder Config    -->
<script >
    function BrowseServer(startupPath, functionData) {
        // You can use the "CKFinder" class to render CKFinder in a page:
        var finder = new CKFinder();
         
        finder.basePath = '../'; 
        finder.startupPath = startupPath; 
        finder.selectActionFunction = SetFileField;

        // Additional data to be passed to the selectActionFunction in a second argument.
        // We'll use this feature to pass the Id of a field that will be updated.
        finder.selectActionData = functionData; 
        // Name of a function which is called when a thumbnail is selected in CKFinder.
        finder.selectThumbnailActionFunction = ShowThumbnails; 
        // Launch CKFinder
        finder.popup();
    }

    // This is a sample function which is called when a file is selected in CKFinder.
    function SetFileField(fileUrl, data) {
        document.getElementById(data["selectActionData"]).value = fileUrl;
    }

    // This is a sample function which is called when a thumbnail is selected in CKFinder.
    function ShowThumbnails(fileUrl, data) {
        // this = CKFinderAPI
        var sFileName = this.getSelectedFile().name;
        document.getElementById('thumbnails').innerHTML +=
                '<div class="thumb">' +
                    '<img src="' + fileUrl + '" />' +
                    '<div class="caption">' +
                        '<a href="' + data["fileUrl"] + '" target="_blank">' + sFileName + '</a> (' + data["fileSize"] + 'KB)' +
                    '</div>' +
                '</div>';

        document.getElementById('preview').style.display = "";
        // It is not required to return any value.
        // When false is returned, CKFinder will not close automatically.
        return false;
    }
</script>
 

<h2>BankLink - Edit</h2>
<div class="outerForm">


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

  
        <div class="editor-label">
            @Html.LabelFor(model => model.IdCon)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.IdCon)
            @Html.HiddenFor(model => model.IdCon)
            @Html.ValidationMessageFor(model => model.IdCon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BankName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BankName)
            @Html.ValidationMessageFor(model => model.BankName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BankLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.BankLink)
            @Html.ValidationMessageFor(model => model.BankLink)
        </div> 
         
    
         <div class="editor-label">
            @Html.LabelFor(model => model.IconPathImage)
        </div>
        <div class="editor-field">
           @Html.TextBoxFor(model => model.IconPathImage, new { @id="xImagePath" , onclick="BrowseServer('Images:/bankIcon/', 'xImagePath' );"    } )
      
            @Html.ValidationMessageFor(model => model.IconPathImage)
        </div> 
      
    
        <div class="editor-label">
            @Html.LabelFor(model => model.IconPathFlash)
        </div>
        <div class="editor-field">  
           @Html.TextBoxFor(model => model.IconPathFlash, new { @id="xFilePath" , onclick="BrowseServer(  'Flash:/', 'xFilePath' );"    } )
      
            @Html.ValidationMessageFor(model => model.IconPathFlash)
        </div>
    
     
      <div class="editor-label">
            @Html.LabelFor(model => model.BankSort)
        </div>
        <div class="editor-field">

         @Html.EditorFor(model => model.BankSort)
            @Html.ValidationMessageFor(model => model.BankSort)
        </div>
     

        <div class="editor-label">
            @Html.LabelFor(model => model.BankStaus)
        </div>
        <div class="editor-field">
       <label>@Html.RadioButton("BankStaus", "0"   ) Hide</label>  
        <label>@Html.RadioButton("BankStaus", "1"  ) Show</label>
             
            @Html.ValidationMessageFor(model => model.BankStaus)
        </div>
    
  

       <div class="editor-label"> 
        </div>
        <div class="editor-field">
             <input type="submit" value="ยืนยัน" class="btnDefault" />
            @Html.ActionLink("ย้อนกลับ", "Index", null , new { @class = "btnDefault" }) 
        </div> 
 
}

 
 </div> <!-- /.outerForm -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
