﻿@model IEnumerable<MVC442.Models.ViewModel.BankWebLinkVM> 


<div class="bankIcon"> 	
		<ul> 


   @foreach (var item in Model ){
       
		<li>
		<div class="rowBankicon"> 
            <a onclick="window.open('@Html.DisplayFor(modelItem => item.BankLink)' ,'_blank') "  rel="nofollow">
            <img src="@(@Html.DisplayFor(modelItem => item.IconPathImage))" width="57"  />  
            </a> 
		</div>
		<div class="rowBankname">
          <a onclick="window.open( '@Html.DisplayFor(modelItem => item.BankLink)' ,'_blank') "  rel="nofollow">
        @Html.DisplayFor(modelItem => item.BankName)
        </a> 
		</div>
		</li>
       
    } 	 
		
		</ul>
		</div><!-- /.bankIcon --> 