﻿@model MVC442.Models.ClientMessage

<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ClientMessage</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCat)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCat)
            @Html.ValidationMessageFor(model => model.IdCat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tel1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tel1)
            @Html.ValidationMessageFor(model => model.Tel1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InputDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InputDate)
            @Html.ValidationMessageFor(model => model.InputDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ip)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ip)
            @Html.ValidationMessageFor(model => model.Ip)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
