﻿<div id="dialogLiveChat" style="display: none; height: 450px; overflow-x: hidden; background-color:#fff;">
<div class="buttonDialogClose" style="position: absolute; right: 5px; top: 5px;"></div> 
    <iframe src="http://www.appsmodule.4-4-2.im/cashcredit/Module/CLiveChat.aspx" width="300px" height="550" scrolling="NO" frameborder="0"></iframe>
</div>

