﻿ 
<style>
   #areaPromotion{ 
    background-color:#fff;
    border: 6px solid #726f13 ;
    border-radius: 25px;
    z-index: 11111; 
    height:323px;
    background :  #726f13  url('../../Images/fontend/promotion/bgPromotion.png') no-repeat left top; 
    padding:10px;
     padding-top:20px;
    }

   #areaPromotion h1{
      font-family: 'DBHelvethaiCamon';   text-align :center ;   font-size: 47px;   color:#fff;     padding-bottom:10px;
    }
    #areaPromotion p{ 
      font-family: 'DBHelvethaiCamon';    text-align :center ;    font-size: 37px;  color:#fff; line-height:30px;
    }
 
    #areaPromotion .emp { 
    font-family: 'DBHelvethaiCamon';  text-align :center ;    font-size: 40px;    color:#ffd800;    padding :10px  0px ;   line-height:30px;
    }

    #areaPromotion .logo {
        font-family: 'DBHelvethaiCamon';    text-align :center ;    font-size: 33px;  color:#fff; line-height:30px; margin-bottom:10px;
    }

    #areaPromotion .btnPromotion   {
    padding: 2px 5px;   font-size: 22px;  background-color: #B10808;   color: white; border: #666 1px solid;    text-decoration: none;
    }

</style>
<div  id="dialogPromotion"> 

    <div class="buttonDialogClose" style="position: absolute; right: 10px; top: 0px; z-index:111"> </div>
    <div id="areaPromotion">

        <h1>ต้อนรับเปิดสนามพรีเมียร์ลีก</h1> 

        <p>
            เชิญสมาชิก 4-4-2 ทุกท่าน
        </p>
            <p>
                ร่วมสนุกทายผลพรีเมียร์ลีกแต่ละคู่
            </p>

        <p class="emp">ชิงรางวัลเครดิตเข้าบัญชีหลายหมื่นบาท</p>

        <p class="logo">

            <img src="~/Images/fontend/logo442-xs.png"  width="130px"/>
            <img src="~/Images/fontend/socail/socail_line.png" />    Line ID: 4-4-2
        </p>

        <p style="text-align:center">  
         @Html.ActionLink("รายละเอียด" , "Promotion" , null,  new { @class = "btnPromotion"  , @target ="_blank" })
        </p> 

    </div>
</div>
<!-- / .demo-wrap3  -->
<!-- / #dialog  -->
