﻿ 
<style>
   #areaPromotion{ 
    background-color:#fff;
    border: 6px solid #726f13 ;
    border-radius: 25px;
    z-index: 111 ; 
    height:323px;
    background :  #726f13  url('../../Images/fontend/promotion/bgPromotion2.png') no-repeat left top; 
    padding:10px;
     padding-top:20px;
	 position:relative;
    }

 
    #areaPromotion .btnPromotionArea   { position:absolute;  
	    bottom: 8px; 
    left: 200px;
	 font-family: 'DBHelvethaiCamon';    text-align :center ;    color:#fff;  
      font-size: 22px;    color: white; border: #666 1px solid;    text-decoration: none;
      line-height: 22px;
	  
}
	 
    #areaPromotion .btnPromotion   {   
	 width: 100px;
	    color:#fff;   text-decoration:none; 
		background-color: #E42222 ; padding :2px 7px;
		 border-radius:  5px;
     }
	     #areaPromotion .btnPromotion:hover   {   
	    color:#fff;   background-color: #B10808; 
		
     }

</style>
<div  id="dialogPromotion"> 

    <div class="buttonDialogClose" style="position: absolute; right: 10px; top: 0px; z-index:1111"> </div>
    <div id="areaPromotion">

        @* 
        <div class="btnPromotionArea">  
         @Html.ActionLink("รายละเอียด" , "Promotion" , null,  new { @class = "btnPromotion"  , @target ="_blank" })
        </div> 
		*@

    </div>
</div>
<!-- / .demo-wrap3  -->
<!-- / #dialog  -->
