﻿<div class="demo-wrap3" id="dialogBannerFloat">
     <div class="buttonDialogClose" style="position: absolute; right: 27px; top: 0px; z-index:111"> </div> 

<ul id="bxslider3"> 
<li><img src="@Url.Content("~/images/fontend/banner/popupTor-Small.png")" title="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์" alt="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์"></li>
<li><img src="@Url.Content("~/images/fontend/banner/442big_bonus_01.gif")" title="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์" alt="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์"></li>
<li>
<a hrf="@Url.Action("~/download/torbrowser-install.zip")" target="_blank">
<img src="@Url.Content("~/images/fontend/banner/442big_bonus_02.gif")" title="แทงบอลผ่านเน็ต sbobet,เล่นบอล Sbo" alt="แทงบอลผ่านเน็ต sbobet,เล่นบอล Sbo">
</a> 
</li>       
</ul>

</div>
    <!-- / .demo-wrap3  -->

 
<!-- / #dialog  -->

