﻿@model MVC442.Models.ViewModel.ClientRegisterVM 

<style>
#modalOpenAccount { background-color: #490E0E; color: #fff; border-radius: 10px; border: 2px solid #A88F33; padding: 5px; }
#modalOpenAccount input[type=text]{width:200px; }
#modalOpenAccount input[type=email]{width:200px; }
</style>
<div id="modalOpenAccount" style="display: none;">
    <div class="buttonClose" style="position: absolute; right: 0px; top: 0px;">
        <img src="~/images/fontend/btn_float_close.png" />
    </div>
    <!-- /.buttonClose --> 

    @using (Html.BeginForm("Create", "ClientRegisterController", FormMethod.Post )) {
        @Html.ValidationSummary(true) 
        <div class="editor-label">
            @Html.LabelFor(model => model.IdClientRegister, "ประเภทบริการ") :
        </div>
        <div class="editor-field">

               
        @*  @Html.DropDownListFor(model => model.IdCasinoCat, (IEnumerable<SelectListItem>)ViewBag.CasinoCats, "======= Select ========", new { @class = "select" }) *@    
            
    @*    @Html.DropDownListFor(model => model.IdCasinoCat , Model.CasinoCat )*@
                        
        @Html.ValidationMessageFor(model => model.IdCasinoCat)

        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Tel1) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tel1)
            @Html.ValidationMessageFor(model => model.Tel1)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GetSms) :
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.GetSms)
            @Html.ValidationMessageFor(model => model.GetSms)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.GetNews) :
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.GetNews)
            @Html.ValidationMessageFor(model => model.GetNews)
        </div>
        <div class="editor-label">
        </div>
    
    
        <div class="editor-field">
            <input type="submit" value="Create" class="btnDefault" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btnDefault" })
        </div> 
    }
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


</div>
