﻿<style>
#dialogOTP { background-color:#fff; }
</style>
<div id="dialogOTP" style="display: none;"> 
<div  class="buttonDialogClose" >  </div>  
<iframe src="" width="320px" height="550" scrolling="NO" frameborder="0"></iframe> 
</div> 

