﻿@{
    ViewBag.Title = "_HeadCallCenterPatial";
}


<div class="boxSocial">

<div style="float: left;"> 
@*
<a href="https://twitter.com/442im" target="_blank"> <img src="~/Images/fontend/socail/socail_02.png" width="32" height="32"></a>
<a href="https://plus.google.com/u/0/107840801575774500136/" target="_blank"> <img src="~/Images/fontend/socail/socail_03.png" width="32" height="32"></a>
*@

<a href="#" title="Live Chat" id="openDialogLiveChat1">
<img src="~/Images/fontend/socail/socail_liveChat.gif" />
</a> 

<a href="#" id="openDialogLine" title="Line"> 
<img src="~/Images/fontend/socail/socail_line.png"  width="32" height="32"/>
</a>
     
<a href="http://www.youtube.com/user/442im?feature=mhee" target="_blank">
<img src="~/Images/fontend/socail/socail_04.png" width="32" height="32"></a>
    <a href="https://www.facebook.com/pages/fourfourtwoim/529344200508203?ref=hl" target="_blank">
        <img src="~/Images/fontend/socail/socail_01.png" width="32" height="32" />
    </a> 


</div> 

    <div style="float: left;" class="facebookLikeButton">
        <div class="fb-like" data-href="https://www.facebook.com/pages/fourfourtwoim/529344200508203" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>

    </div>
    <!-- /.facebookLikeButton  -->
</div>
<!-- /.boxSocial -->


