﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">  

    <meta name="viewport" content="width=device-width, initial-scale=0.5" />

    
    <title>@ViewBag.Title - 442.im  แทงบอล เล่นพนันบอลออนไลน์ผ่านเน็ต แทงสเต็ปบอล Sbobet Ibcbet เล่นบาคาร่าออนไลน์ จีคลับ</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!-- ////// CSS Basic -  API   //// -->
        <link href="~/Content/442styles/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
        <link href="~/Content/442styles/bootstrap.min.css" rel="stylesheet" />   

         <!--///// CSS Custom ///// -->  
        <link href="~/Content/442styles/reset.css" rel="stylesheet" />
        <link href="~/Content/442styles/fontface.css" rel="stylesheet" />
        <link href="~/Content/442styles/layout.css" rel="stylesheet" />  
        <link href="~/Content/442styles/crudMVC4.css" rel="stylesheet" />
        <link href="~/Content/442styles/442Custom.css" rel="stylesheet" /> 

        <!--///// CSS - Jquery Plugin ///// -->  
        <link href="~/Content/442styles/jquery.bxslider.css" rel="stylesheet" />

        <!--///// CSS Override   ///// -->
        <link href="~/Content/442styles/Override-bootstrap.css" rel="stylesheet" />
        <link href="~/Content/442styles/Override-bootstrap-responsive.css" rel="stylesheet" />
        <link href="~/Content/442styles/Override-Jquery-UI.css" rel="stylesheet" />  
     
        <!-- ////// Script MVC4  //// --> 
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script> 
        <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script> 
        <script src="~/Scripts/bootstrap.js"></script>

        <!-- ////// Script Jquery UI - Modal  //// --> 
        <script src="~/Scripts/442Script/config-jqueryUiModal.js"></script> 

        <!-- ////// Script Jquery Plugin - BxSlide  //// --> 
        <script src="~/Scripts/442Script/youtubeAPI.js"></script>
        <script src="~/Scripts/bxslider.js"></script>
        <script src="~/Scripts/442Script/config-Bxslide.js"></script> 
    
        <!-- ////// JS Custom  //// -->
        <script src="~/Scripts/442Script/_jsLibrary.js"></script>
 
      
    @RenderSection("Scripts", required: false)



    <script>
        //// Process OpenAccount  ( Close dialog After Finish  )
        function closeDialogOpenAccount() {
            $("#modalOpenAccount").dialog('close'); // Close dialog Open Account
           // window.location.reload();
        }

        $(function () {

             ///////// Bootstap ( Layout OffCanvas )
                $('[data-toggle="offcanvas"]').click(function () {
                    $('.row-offcanvas').toggleClass('active')
                });

            /////// Set Preload Images
                PreLoadImages(
                "@Url.Content("~/Images/fontend/promotion/bgPromotion.png")", 
                "@Url.Content("~/Images/fontend/442tel.png")",
                "@Url.Content("~/Images/fontend/442_LogoWeb.png")",
                "@Url.Content("~/Images/fontend/btn-join_now.gif")",
                "@Url.Content("~/Images/fontend/liveChatButton.png")",
                "@Url.Content("~/Images/fontend/buttonDialogClose.png")",

                "@Url.Content("~/Images/fontend/banner/popupTor-Small.png")",
                "@Url.Content("~/Images/fontend/banner/442bb_side_001.gif")",
                "@Url.Content("~/Images/fontend/banner/442bb_side_002.gif")",
                "@Url.Content("~/Images/fontend/slide/Casino/Casino1.jpg")",
                "@Url.Content("~/Images/fontend/slide/Casino/Casino2.jpg")" ,
                "@Url.Content("~/Images/fontend/slide/Premier-League/Premier-League-Open.jpg")"
              );



        /////// Set  JqueryUI Modal Set

         DialogLiveChat(false, false, "#dialogLiveChat", '#openDialogLiveChat1', 300, 600, "right top", "right bottom", window, "fixed-dialog");
         DialogLiveChat(false, false, "#dialogLiveChat", '#openDialogLiveChat2', 300, 600, "right top", "right bottom", window, "fixed-dialog");

         DialogBasic(false, true, "#dialogOTP", '#openDialogOTP', 350, 600, "center", "top-100");
         DialogBasic(false, true, "#dialogLine", '#openDialogLine', 250, 250, "center", "center");
         DialogBasic(false, false, "#dialogRadio", '#openDialogRadio', 400, 300, "center", "center", window, null, true);
         DialogBasic(false, true, "#modalOpenAccount", '#btnOpenAccount1', 530, 420);
         DialogBasic(false, true, "#modalOpenAccount", '#btnOpenAccount2', 530, 420);



        });
    </script>

     @RenderSection("Scripts2", required: false)
  
</head>
<body>

<!-- //// Start Facebook HTML5 SDK -->
    <div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- //// End Facebook HTML5 SDK -->
    

    <div id="outer-container">

        <div id="container"> 
            <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
                <div class="warpHeader">
                    <div class="navbar-header">
                        <!-- Responsive Button For Max 767px -->
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" 
                            style="position: absolute; border:1px solid #fff ;  left: 15px;"   >  
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>


                        <!-- Header content -->
                        <div class="headerContent">
                            <a class=" hidden-xs" href="@Url.Action("Index", "Home")" style="float:left;">
                                <img src="~/Images/fontend/442_LogoWeb.png" />
                            </a>
                            <div class=" hidden-xs">
                                <img src="~/Images/fontend/442tel.png" style="float: right;" />
                            </div> 


                            <span class="navbar-brand  visible-xs"  >
                                <img src="~/Images/fontend/logo442-xs.png"   />
                                <img src="~/Images/fontend/442tel-xs.png" />
                            </span>

                           
                            @Html.Partial("_HeaderCallCenterPatial")
                        </div><!--/.headerContent-->
                       
                    </div><!-- /.navbar-header  -->
                 

                </div><!-- /.warpHeader -->
            </nav><!-- /.navbar -->
             

            <!--  MenuTop For All Size -->
            <div id="navbar" class="collapse navbar-collapse">
                @Html.Partial("_NavFrontEndPartial")
            </div><!-- /.nav-collapse -->


            @*======== Test RenderSection ======*@
              @RenderSection("Test" , required: false )  

            <div class="clear"></div>
            @*======== Banner Top ======*@
            @*@Html.Action("SlideManagePartial", "Home")*@
            @Html.Action("SlideManagePartialQuery", "Home")

            <script>
                //========== Run BxSlide1  With YouTube  (Banner Top )
                bxSliderYoutube($("#bxslider1"), true, true, 3000); //5500
                //========== Run BxSlide3 ( Banner Float )
                bxSliderBasic($("#bxslider3"), false, 4500); //4500
            </script>



            <div id="wrapper">
                <div class="row row-offcanvas row-offcanvas-right">
                    <div class=" col-xs-12 col-sm-9">
                        <p class="pull-right visible-xs">
                            @*<button type="" class="btn btn-primary bt-xs" data-toggle="offcanvas"> </button>*@
                            <span class="btn btn-primary btn-xs  btnOffcanvas" data-toggle="offcanvas"> </span>
                        </p>

                        @RenderBody()

                    </div>
                    <!--/span-->
                    <div class="col-xs-6  col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                        @*======== SideBar ======*@
                        <div style="width: 190px; margin: 0px auto;" >
                            @Html.Partial("_SidebarPartial"   )

                   <script>
                       //========== Run BxSlide2  ( Banner SideBar )
                        bxSliderBasic($("#bxslider2"), false, 4500); //4500 
                    </script>
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
            </div>
            <!--/#wrapper-->
            
            <footer> 
                @Html.Partial("_LiveScorePartial")
                @Html.Partial("_FooterFrontEndPartial")
            </footer>  

        </div>
        <!--/#container-->
    </div>
    <!--/ #outer-container --> 

    
 <!--/////////// Button Dialog  ////// -->  
<div  id="openDialogLiveChat2"  >
<img src="~/images/fontend/liveChatButton.png" width="296" height="36" >
</div> 

    <!--/////////// 442live  Analytic -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-28786480-1']);
        _gaq.push(['_setDomainName', '442.im']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>

     
<!-- //////////// Content  Dialog   ///////// -->
@Html.Partial("_DialogOpenAccountPartial")  
@*@Html.Action("OpenAccount" , "Home")*@ 
@Html.Partial("_DialogRadioPartial")  
@Html.Partial("_DialogLiveChatPartial")  
@Html.Partial("_DialogLinePartial") 
@Html.Partial("_DialogOTPPartial") 

</html>
