﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

        @* //=================== 442.im CSS  *@
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/442styles/css")

      @* //============== Default MVC4 *@
     @Scripts.Render("~/bundles/jquery") 
       @Scripts.Render("~/bundles/jqueryui")
  @*  @Scripts.Render("~/bundles/jqueryval")*@

    <script src="~/Scripts/bxslider.js"></script>
      <script src="~/Scripts/442Script/test-config-Bxslide.js"></script>
         
</head>
<body>
    <div>
        @RenderBody()
           @Html.Partial("_SidebarPartial")

    </div>
</body>
</html>
