﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title - 442.im  แทงบอล เล่นพนันบอลออนไลน์ผ่านเน็ต แทงสเต็ปบอล Sbobet Ibcbet เล่นบาคาร่าออนไลน์ จีคลับ</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" /> 
    <meta name="robots" content="index,  no-follow" />

@* //=================== 442.im CSS  *@  

<!-- ////// CSS Basic -  API   //// -->
<link href="~/Content/442styles/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
<link href="~/Content/442styles/bootstrap.min.css" rel="stylesheet" />  
    
    
     

<!--///// CSS Custom ///// -->  
<link href="~/Content/442styles/reset.css" rel="stylesheet" />
<link href="~/Content/442styles/fontface.css" rel="stylesheet" />
<link href="~/Content/442styles/layout.css" rel="stylesheet" />  
<link href="~/Content/442styles/crudMVC4.css" rel="stylesheet" />
<link href="~/Content/442styles/442Custom.css" rel="stylesheet" /> 
    
<!--///// CSS Override   ///// -->
<link href="~/Content/442styles/Override-bootstrap.css" rel="stylesheet" />
<link href="~/Content/442styles/Override-Jquery-UI.css" rel="stylesheet" />
 
<!-- ////// Script MVC4  //// --> 
<script src="~/Scripts/jquery-1.9.1.min.js"></script>  
<script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script> 
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script> 
<script src="~/Scripts/bootstrap.js"></script>

<!-- ////// Get Time Zone  //// --> 
<script src="~/Scripts/442Script/timeZone/jquery-cookie-plugin.js"></script>
<script src="~/Scripts/442Script/timeZone/timeZoneCookieCreate.js"></script>
 
<!-- ////// DatePicker  //// -->  
<link href="~/Api/JqueryUI-Datepicker/scripts/jquery-ui-1.10.3.custom.css" rel="stylesheet" /> 
<!-- // DatePicker Thai Month Name -->   
<script src="~/Api/JqueryUI-Datepicker/scripts/jquery.ui.datepicker-th.js"> </script>	    
<!-- // DatePicker Plugin Budish Year  -->   	 	
<script src="~/Api/JqueryUI-Datepicker/scripts/jquery.ui.datetimepicker.js"  ></script>	
<script src="~/Api/JqueryUI-Datepicker/scripts/jquery.ui.datepicker.ext.be.js"  ></script>  
 


    @RenderSection("Scripts" , required: false )  

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>   

  <div  id="outer-container" >
       
    <div id="container">
          <div id="inner-container">
    <div class="navbar navbar-fixed-top  " role="navigation">
        <div class="containerHeader">
            <!-- Just Small Button For 767px -->
 <div class="navbar-header">

              

           <!-- Button For Small Display --> 
                <header>
                    <div class="row"  >
                    <div  class="col-sm-3"     >
                    <a   href="@Url.Action("Index", "Home" )" > <img src="~/Images/fontend/442_LogoWeb.png"   /> </a>
                    </div>

                    <!-- /.col-sm-3  --> 
                    <div class="col-sm-9"  >   

                    <div class="boxStatus">  <!--   Status  User -->  
                    @Html.Partial("_LoginPartial")    
                    </div> <!-- /.boxStatus --> 
                    </div> <!-- /.col-sm-9  -->   
                    </div> <!-- /.row  -->   
            </header> 
 </div>  
              <div class="clear"></div>
         @*======== Navigation ======*@
       @Html.Partial("_NavBackEndPartial"  )   
         @*======== Test RenderSection ======*@
         @* @RenderSection("Test" , required: false ) *@

    
         </div>
        <!-- /.containerHeader -->
    </div>
    <!-- /.navbar -->
   
        <div id="wrapper">
             
            <div class="row row-offcanvas row-offcanvas-right">
                <div class=" col-sm-12">
      
                    @RenderBody() 
                </div>
                <!--/span-->
                 
            </div>
            <!--/row-->
           
   
        </div>
        <!--/#wrapper-->
     
 <div><!-- / #inner-container -->

    </div>   <!--/#container--> 
 </div>  <!--/ #outer-container --> 
 
 
     
</body> 
     
</html>

