﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" /> 
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
     
     <!-- ////// CSS Basic -  API   //// -->
        <link href="~/Content/442styles/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
        <link href="~/Content/442styles/bootstrap.min.css" rel="stylesheet" />   

         <!--///// CSS Custom ///// -->  
        <link href="~/Content/442styles/reset.css" rel="stylesheet" />
        <link href="~/Content/442styles/fontface.css" rel="stylesheet" />
        <link href="~/Content/442styles/layout.css" rel="stylesheet" />  
        <link href="~/Content/442styles/crudMVC4.css" rel="stylesheet" />
        <link href="~/Content/442styles/442Custom.css" rel="stylesheet" /> 
     
        <!--///// CSS Override   ///// -->
        <link href="~/Content/442styles/Override-bootstrap.css" rel="stylesheet" />
        <link href="~/Content/442styles/Override-bootstrap-responsive.css" rel="stylesheet" />
        <link href="~/Content/442styles/Override-Jquery-UI.css" rel="stylesheet" />

     
        <!-- ////// Script MVC4  //// --> 
        <script src="~/Scripts/jquery-1.9.1.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script> 
        <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script> 
        <script src="~/Scripts/bootstrap.js"></script>

     
    @RenderSection("Scripts" , required: false )  


 

</head>
<body>   
     

      @RenderBody() 

  
 
 
</body> 
 
</html>

