﻿ 
@*//////////////////  Livescore  *@
 
<div id="liveScore-outer" class="row">
<div id="liveScore">
<h3> LIVE SCORE</h3> 
<div class="col-xs-4 col-sd-3" >
<div class="title1">Watch football online </div>
<h4 class="title2"> เว็บบอล ดูบอลออนไลน์ ผลบอลทุกลีก</h4>
<div class="chanel">
<ul> 
      @Html.Action("LiveScoreLinkPartial", "Home", new { contype =1 }) 
     

</ul>
</div>
</div><!---end  class="col" ---->
<div class="col-xs-4 col-sd-3" >
<div class="title1">Score football report</div>
<h4 class="title2">รายงานผลบอล  ทุกคู่ทุกลีกดัง</h4> 
<div class="chanel">
<ul  col-sd-2">
 
       @Html.Action("LiveScoreLinkPartial", "Home", new { contype =2 }) 

</ul>
</div>
</div><!---end  class="col" ---->
<div class="col-xs-4 col-sd-3">
<div class="title1"> Other sport report </div>
<h4 class="title2">รายงานผลบอลสด</h4> 
<div class="chanel">
<ul>
<ul> 
         @Html.Action("LiveScoreLinkPartial", "Home", new { contype = 3 }) 

</ul>
</div>
</div><!---end  class="col" ----> 
</div>
</div><!-- /#liveScore-outer --> 
