﻿@model  IEnumerable<MVC442.Models.ViewModel.WebLinkLiveScoreVM>  

 @{ 
   //  Layout = null ; 
 }
 
@foreach( var item in Model){  
    <li> <a href="@item.WebLink" target="_blank" > @item.WebName </a> <span></span></li>   
}