﻿<script type="text/javascript">
    $(function () {
        //------------   navigation   control -----------------------//
        $(".subNav").attr("style", "display:none;"); 
        $('#navFrontEnd li').hover(function () {
            //////show its submenu 
           // console.log($(this));
            $('ul', this).slideDown(300);
           // $(this).css({ "background-color": "#bc0909" });
            $(this).addClass("hover");
        },
            function () {
                //////hide its submenu
                $('ul', this).slideUp(300);
                //$(this).css({ "background-color": "" });
                $(this).removeClass("hover");
            }
        ); 
    });  
</script>
<style></style>

@*//=========== Bootstap Menu  ===========*@
<div id="navFrontEnd">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("หน้าหลัก", "Index", "Home", null, new { title = "Home" })</li>
        <li>@Html.ActionLink("วิธีร่วมสนุก", "Join", "Home", null, new { title = "Join" })</li>
        <li>@Html.ActionLink("ฝาก-ถอนเงิน", "Deposit", "home", null, new { title = "Deposit" })</li>
        <li>@Html.ActionLink("เปิดบัญชี", null, null, new { title = "Open Account", id = "btnOpenAccount1" }) </li>
      @*  <li>@Html.ActionLink("เวบบอร์ด", null, null, new { title = "webboard" }) </li>*@ 
        <li>@Html.ActionLink("ดาวน์โหลดโปรแกรม", "Download", null, new { title = "Download Program" }) </li>  
        <li><a href="#">ตารางแข่ง & ผลแข่ง</a>
            <ul class="subNav">
                <li>@Html.ActionLink("ตารางแข่ง", "Matchfootball", null, new { title = "Match Football" }) </li>
                <li>@Html.ActionLink("ผลการแข่ง", "Scorefootball", null, new { title = "Score Football" }) </li>
                <li>@Html.ActionLink("คะแนนลีก", "Scoreleage", null, new { title = "Score Leage" }) </li>
            </ul>
        </li>

        <li>@Html.ActionLink("ดูบอลออนไลน์", "Onlinefootball", null, new { title = "Online Football" }) </li>
        <li>@Html.ActionLink( "ติดต่อเรา", "Contact", new { idCat =1 }, new { title = "Contacts" ,  @style="padding-right:10px"}  ) </li>
      
       
    </ul>

</div><!--  /#navFrontEnd -->
 