﻿@using CaptchaMvc.HtmlHelpers

@model MVC442.Models.ViewModel.ClientRegisterVM 
 
 
@{  
    
    Layout = "~/Views/Shared/_Layout442-blank.cshtml";

    /////// After Insert  Finish  =>  Check Close Jquery Dialog 
    if (ViewBag.Result == true) {
        ViewBag.Result = false; // reset back to false 
       <script>   
           alert("ทาง 442.im ได้รับข้อมูลของคุณเรียบร้อยแล้วครับ กรุณาเช็คข้อมูลของคุณใน Email ");
           window.top.closeDialogOpenAccount();  // call closeDialog on the master view immediately.
       </script> 
    } // end if  
} 

<style>
body { background-color: #490E0E; }  
h2 {  color:#fff ; font-size:28px; } 
.editor-field input { width: 210px;  }
.editor-label {width: 22% ;  } 
</style>
 

<h2>OpenAccount </h2>   
@using (Html.BeginForm("OpenAccount", "Home", FormMethod.Post, new { id = "formRegister" })) {
@Html.ValidationSummary(true) 
<div class="editor-label">
@Html.LabelFor(model => model.IdClientRegister, "ประเภทบริการ") :
</div>
<div class="editor-field">
 
       
    @*////// DropDown By @Html.Action  ( Be CareFull  Action in  Controller don't  under  [Authorize] ) ////////*@
    @Html.Action("CasinoCatsPartial", "Base", new { DdlIdName = "customIdName", IdCasinoCat = Model.IdCasinoCatSelected, type = string.Empty })
    @Html.ValidationMessageFor(model => model.IdCasinoCatSelected) 

    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Name) :
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Email) :
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Tel1) :
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Tel1)
        @Html.ValidationMessageFor(model => model.Tel1)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.GetSms) :
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.GetSms)
        @Html.ValidationMessageFor(model => model.GetSms)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.GetNews) :
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(model => model.GetNews)
        @Html.ValidationMessageFor(model => model.GetNews)
    </div>
     
    @*//========= Start  Captcha  ========*@
    <div class="editor-label"> 
    .
    </div>
    <div class="editor-field"  style="vertical-align:top; "> 
    @Html.Captcha("Refresh", null, 5, "ระบุข้อความให้ตรงกับ Captcha", true) @*///// Set Captcha Here*@
    </div> 
    @*//========= End  Captcha  ========*@
     
    <div class="editor-label">
    </div> 
    <div class="editor-field">
        <input type="submit" value=" ยืนยัน" class="btnDefault"  />
          <input type="reset" value="รีเซ็ต" class="form-reset btnDefault"  /> 
    </div>  
    
}  @* End Html.BeginForm  *@


</div><!-- /#modalOpenAccount  -->