﻿@using  MVC442.Helper.UT 

<div class="sectionOTP">  
<h2>Member Login</h2>
 <input type="text" id="telnoOTP" style="width:130px;" placeholder="เบอร์โทรศัพท์">
 <input type="button" value="GO" id="openDialogOTP" style="width:30px;background-color:#460202; color:#fff ;border:none; padding: 3px 0px; "> 
</div>

<div class="area-btnDownload">
<div  class="btnDownload" style=" margin-right: 8px;">
<a href="~/download/TeamViewerQS_th2.zip">
    <img src="~/Images/fontend/Icon_theamView.jpg" title="ดาวโหลดโปรแกรม TeamViewer QuickSupport"> 
</a>
</div>
<div  class="btnDownload"  >
<a href="~/download/torbrowser-install.zip"> 
    <img src="~/Images/fontend/Icon_torbrowser.jpg" title="ดาวโหลดโปรแกรม Tor Browser">  
</a>
</div>
</div>


<div id="btnOpenAccount2" class="btnJoinnow">
    <a class="inline cboxElement" href="#inline_content"><span></span></a>
</div>
<!--//// Section  Add   Telphone  Number  -->
@*<div class="callcenter">
    @using (Html.BeginForm("create", "ClientMessageTel", FormMethod.Post)) {
 
        <div class="phone-register">
            <div style="margin-top: 60px; margin-left: 15px">
                <input type="text" name="PhoneNumber" id="PhoneNumber" style="width: 100px">
                <input type="submit" name="btnSend" id="btnSend" value="ยืนยัน" class="btnDefault">
            </div>
        </div> 
    }
</div>*@
<!--////  Section Bank Deposit -->
<div class="bankDeposit">
    <h2>บริการฝาก-ถอนเงิน 24 ชม.</h2>
    <div class="bankDetail">
        <ul>
            <li>ไม่ต้องรอรอบ</li>
            <li>ไม่มีขั้นต่ำในการฝาก-ถอนเงิน</li>
        </ul>
    </div>

   
   
 
     @*//// Check Firefox (Tor Browser)   &  Is Mobile  Device *@  
     @if (Utillity.IsBrowserFirefox() == true)  {
          @Html.Action("BankLinkPatial", "Home", new {  typeDevice = true} )   // html5
     }else{
           if ( Utillity.IsMobileDevice() == true ) {
                @Html.Action("BankLinkPatial", "Home", new {  typeDevice = true} )   // html5
             }else{
               @Html.Action("BankLinkPatial", "Home", new {  typeDevice = false} ) // flash
             }
     }  
    
 
    

    <div class="clear"></div>
</div>
<!-- /.bankDeposit -->

<!--/////  Section Radio -->
@* <a href='@Url.Content( "~/StaticPage/Radio.html" )'>Radio</a>*@
@*<div class="liveRadio"  onclick="openRadio( '@Url.Content("~/StaticPage/Radio.html")') ">
</div>*@

 <div class="liveRadio"  id="openDialogRadio" >
</div>
 
<!--////  Section Side Banner   -->
<div style="margin-bottom: 5px;">
    <div class="demo-wrap2">
        <ul id="bxslider2" style="height: 200px;">
            <li>
                <img src="~/images/fontend/banner/442bb_side_001.gif" title="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์" alt="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์"></li>
            <li>
                <img src="~/images/fontend/banner/442bb_side_002.gif" title="แทงบอลผ่านเน็ต sbobet,เล่นบอล Sbo" alt="แทงบอลผ่านเน็ต sbobet,เล่นบอล Sbo">
            </li>
           
        </ul>
    </div>
    <!-- /.demo-wrap2 -->
</div>

<!--//// Facebook Like Box  -->
<div style="background-color: #fff;" class="fb-like-box" data-href="https://www.facebook.com/pages/fourfourtwoim/529344200508203?ref=hl" data-width="194" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>

<!--//// Section Histats  -->
@*<div  class="histats"> </div>*@
