﻿@using MVC442.Helper.UT  
 
<style>
    .demo-wrap1 {  /*height: 464px;*/  overflow: hidden; z-index: 11; width: 100%; background-color: #000; }
    .demo-wrap1 li { height: 464px;overflow: hidden; }
    .bx-wrapper .bx-pager { bottom: 15px; }
</style>
  
<div class="demo-wrap1">
    <ul id="bxslider1"  style="position:relative; "> 

      
        <li> <img src="~/Images/fontend/slide/Casino/Casino1.jpg" width="100%" /></li> 
        <li> <img src="~/Images/fontend/slide/Casino/Casino2.jpg" width="100%" /></li>
 

    @*//// Check Firefox (Tor Browser)   &  Is Mobile  Device *@   
    @if (Utillity.IsBrowserFirefox() != true)  { 
        
           if ( Utillity.IsMobileDevice() != true ) { 
               <li><a id="video1" href="http://www.youtube.com/embed/2ElxeOmqWnk"></a></li>
                <li><a id="video2" href="http://www.youtube.com/embed/mV3L8e355d8"></a></li>
                <li><a id="video3" href="http://www.youtube.com/embed/sgj4H6F8GDs"></a></li> 
           }
           
     }   
         
    </ul>
</div>


