﻿@model  IEnumerable< MVC442.Models.CasinoCat >


    @{
        var typeCon = ViewBag.type;
        int[] arr1 = { 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11 };
        string[] arr2 = { "SBOBET", "IBCBET", "SB1888", "Holiday-Palace", "G-Club", "Red Dragon", "855Crown", "Royal 1688", "Genting Crown", "Royal Online Entertainment", "SBO Casino & Game" };


        // var i = 0;
        bool limit;

    
        if (typeCon == 1) {
            for (var i = 0; i <= 2; i++) {
                <div class="logocasino col-xs-4 col-sm-4">
                    <div> 
                     <a href="@Url.Action("SportOnline" , "Home" , new { type = typeCon, idCat = arr1[i] } )" >
                         <img src="~/Images/fontend/logoCasino/logo-casino@(arr1[i]).jpg" /> 
                     </a>
                    </div>
                    <div class="casinoName">@(arr2[i])</div>
                    <div class="casinoLink"> » @Html.ActionLink("GO NOW", "SportOnline", "Home", new { type = typeCon, idCat = arr1[i] } , null)</div>
                </div><!--/.logocasino -->
            }//end for

        }
        else {

            for (var i = 3; i <= 10; i++) {
                <div class="logocasino col-xs-4 col-sm-4">
                    <div> 
                        <a href="@Url.Action("SportOnline" , "Home" , new { type = typeCon, idCat = arr1[i] }  )" >
                            <img src="~/Images/fontend/logoCasino/logo-casino@(arr1[i]).jpg" /> 
                        </a>  
                    </div>
                    <div class="casinoName">@(arr2[i])</div>
                    <div class="casinoLink"> » @Html.ActionLink("GO NOW", "CasinoOnline", "Home", new { type = typeCon, idCat = arr1[i] } , null)</div>
                </div><!--/.logocasino -->
            }//end for

        }

}

              