﻿@model  IEnumerable< MVC442.Models.CasinoCat >

@{ 
 var typeCon = ViewBag.type;
 
 foreach(var item in Model){
      
     <div class="logocasino col-xs-4 col-sm-4">
        <div   > 
            <img src="~/Images/fontend/logoCasino/logo-casino@(@item.IdCasinoCat).jpg" />  

        </div>
        <div class="casinoName"  >@item.CatNameTh</div>
        
    @if(typeCon == 1){
        <div class="casinoLink"> » @Html.ActionLink("GO NOW", "SportOnline", "Home", new { type=typeCon , idCat = @item.IdCasinoCat }, null)</div>
    }else{
        <div class="casinoLink"> » @Html.ActionLink("GO NOW", "CasinoOnline", "Home", new { type=typeCon , idCat = @item.IdCasinoCat }, null)</div> 
    }  
      
         
         
   </div><!--//-->  
  
    } // End foreach
}



 