﻿@model IEnumerable<MVC442.Models.WebLinkCasino >

@{
    Layout = null;
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CasinoCat.CatNameTh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebName)
        </th>
  
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CasinoCat.CatNameTh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebName)
        </td>
 
        <td>
            @Html.ActionLink("Edit", "Edit", new {   id=item.IdCon  }) | 
            @Html.ActionLink("Delete", "Delete", new { id = item.IdCon })
        </td>
    </tr>
}

</table>
