﻿@model MVC442.Models.LocalPasswordModel

 
 <div class="outerForm">

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

<div class="editor-label">
@Html.LabelFor(m => m.OldPassword)  
</div>
<div class="editor-field">  
@Html.PasswordFor(m => m.OldPassword)
</div>  
     
<div class="editor-label">
@Html.LabelFor(m => m.NewPassword) 
</div>
<div class="editor-field">  
@Html.PasswordFor(m => m.NewPassword)
</div>  
       
<div class="editor-label">
@Html.LabelFor(m => m.ConfirmPassword)  
</div>
<div class="editor-field">   
@Html.PasswordFor(m => m.ConfirmPassword)
</div>    
  
    <div class="editor-label">  
    </div>
    <div class="editor-field">   
    <input type="submit" value="ยืนยัน" class="btnDefault" /> 
    </div>      
     
 
    
}

</div><!-- /.outerForm -->