﻿@model MVC442.Models.LocalPasswordModel

<p>
    You do not have a local password for this site. Add a local
    password so you can log in without an external login.
</p>

 <div class="outerForm">

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

 
<div class="editor-label">
 @Html.LabelFor(m => m.NewPassword)
</div>
<div class="editor-field"> 
 @Html.PasswordFor(m => m.NewPassword) 
</div>  
    
<div class="editor-label">
@Html.LabelFor(m => m.ConfirmPassword)
</div>
<div class="editor-field"> 
@Html.PasswordFor(m => m.ConfirmPassword)
</div>  
    
<div class="editor-label">
</div>
<div class="editor-field">
 <input type="submit" value="Set password" />
</div> 
    
}
     </div><!-- /.outerForm -->