﻿@{
   Layout = "~/Views/Shared/_Layout.cshtml"; 
    
    ViewBag.Title = "Login Failure";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Unsuccessful login with service.</h2>
</hgroup>
