﻿@{
    Layout = "~/Views/Shared/_Layout442-blank.cshtml";
    ViewBag.Title = "ForgotPassword";
}

<style> 
h2 { font-size: 30px; font-family: 'DBHelvethaicaX45Li'; text-align: center;  color:#fff ; } 
.validation-summary-errors  li{ color: #FF0 ; }
.editor-field input {
width: 200px;
}
    #wrapper .row {
       margin-bottom:10px;
    }
     #wrapper  .text-right {
        color: #fff;
    }
    #wrapper   a {
       text-decoration : underline ;
    }
</style>




<div id="container">

    <header>
        <div class="row">
            <div class="col-xs-3">
                <a   href="@Url.Action("Index", "Home")"   >
                    <img src="~/Images/fontend/442_LogoWeb.png" />
                </a>
            </div> 
        </div>   <!-- /.row  --> 
    </header>


 <div id="wrapper">    

<div class="row">
<div class=" col-xs-12    text-center">  
<h2>Forgot Password</h2>
</div>  
</div>   <!-- /.row  --> 


@using (Html.BeginForm()){
    
    @Html.AntiForgeryToken()
  
 <div class="row">   
 <div class="col-xs-6   text-right">
  @Html.Label("User Name :", new { @for = "UserName" })
</div>
<div class="col-xs-6  "> 
 @Html.TextBox("UserName")   
@* <span style="color:red;">@TempData["Message"]</span>*@ @*  //\\\ Likhit_11092015  Get RecoverPassword  *@
</div>
</div>   <!-- /.row  --> 
    
    
 <div class="row">   
 <div class="col-xs-6   text-right"> 
</div>
<div class="col-xs-6  "> 
 <input type="submit" value="Recover"  class="btn-default btn-sm" />
</div>
</div>   <!-- /.row  -->  
 
} 
 
 
 </div>  <!-- / #Warpper --> 

</div> <!--/ #container-->

