﻿@model MVC442.Models.LoginModel
@{ 
     Layout = "~/Views/Shared/_Layout442-blank.cshtml";
    ViewBag.Title = "Login";

}
<style> 
h2 { font-size: 30px; font-family: 'DBHelvethaicaX45Li'; text-align: center;  color:#fff ; } 
.validation-summary-errors  li{ color: #FF0 ; }
.editor-field input {
width: 200px;
}
    #wrapper .row {
       margin-bottom:10px;
    }
     #wrapper  .text-right {
        color: #fff;
    }
    #wrapper   a {
       text-decoration : underline ;
    }
</style>



<div id="container" >

    <header>
        <div class="row">
            <div class="col-xs-3">
                <a   href="@Url.Action("Index", "Home")"   >
                    <img src="~/Images/fontend/442_LogoWeb.png" />
                </a>
            </div> 
        </div>   <!-- /.row  --> 
    </header>


    <div id="wrapper">  
<div class="row">
<div class=" col-xs-12    text-center">  
<h2>Login</h2> 
</div>  
</div>   <!-- /.row  --> 


    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken() // Generates a hidden form field (anti-forgery token) that is validated when the form is submitted.
        
    @Html.ValidationSummary() 

    <style>
        .field-validation-error { display: none;  }
    </style>

    <div>
    @Html.ValidationMessageFor(m => m.UserName)
    @Html.ValidationMessageFor(m => m.Password)
    </div> 
        
<br />
<div class="row">   
<div class="col-xs-6 col-md-6 text-right">
@Html.LabelFor(m => m.UserName) :
</div>     
<div class="col-xs-6  col-md-6"> 
@Html.TextBoxFor(m => m.UserName )
</div>
</div>   <!-- /.row  --> 
        
<div class="row">
<div class="col-xs-6 col-md-6 text-right">
@Html.LabelFor(m => m.Password) :
</div>
<div class="col-xs-6  col-md-6"> 
@Html.PasswordFor(m => m.Password)
</div>
</div>   <!-- /.row  --> 
        
<div class="row">
<div class="col-xs-6 col-md-6 text-right">
@Html.LabelFor(m => m.RememberMe)
</div>
<div class="col-xs-6  col-md-6"> 
@Html.CheckBoxFor(m => m.RememberMe)
</div>
</div>   <!-- /.row  -->    
         
<div class="row">     
<div class="col-xs-6 col-md-6 text-right">
</div>
<div class="col-xs-6  col-md-6"> 
<input type="submit" value="Log in" class="btn-default btn-sm" />
</div>
</div>   <!-- /.row  -->          
  
}


@*  //\\\ Likhit_11092015  Set RecoverPassword  *@
@* 
 <div class="row">
<div class="col-xs-6 col-md-6 text-right">
If you for got password. 
</div>
<div class="col-xs-6  col-md-6"> 
@Html.ActionLink("Recover", "ForgotPassword", null ,  new { @class = "sss" })  
</div>
</div>   <!-- /.row  -->    
  *@           
    
 </div>  <!-- / #Warpper --> 

</div> <!--/ #container-->

