﻿@model MVC442.Models.LocalPasswordModel

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Manage";
}
 
 

@if (ViewBag.HasLocalPassword)
{
    <h2>Change password</h2>
    <p>ชื่อที่คุณ Login ขณะนี้คือ <strong>@User.Identity.Name</strong>.</p>
 

    @Html.Partial("_ChangePasswordPartial")

}else{ 
    <p>ชื่อที่คุณ Login ขณะนี้คือ <strong>@User.Identity.Name</strong>.</p>
    
    @Html.Partial("_SetPasswordPartial")
}

 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

