﻿@model MVC442.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<p>ทำการสร้าง Account ใหม่</p>

 <div class="outerForm">

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
 

<div class="editor-label">
@Html.LabelFor(m => m.UserName)
</div>
<div class="editor-field">
@Html.TextBoxFor(m => m.UserName)
</div>
    
    
<div class="editor-label">
@Html.LabelFor(m => m.EmailId)
              
</div>
<div class="editor-field">
@Html.TextBoxFor(m => m.EmailId)
</div>
    
    
<div class="editor-label">
@Html.LabelFor(m => m.Details)
              
</div>
<div class="editor-field">
  @Html.TextBoxFor(m => m.Details)
</div>
    
    
    

<div class="editor-label">
@Html.LabelFor(m => m.Password)
</div>
<div class="editor-field">

@Html.PasswordFor(m => m.Password)
</div>
 
        
<div class="editor-label">
    @Html.LabelFor(m => m.ConfirmPassword)
</div>
<div class="editor-field"> 
@Html.PasswordFor(m => m.ConfirmPassword)
</div>
 
 <div class="editor-label">
</div>
<div class="editor-field">
<input type="submit" value="ยืนยัน"  class="btnDefault"  />   
</div> 
    
}

</div><!-- /.outerForm -->


@section Scripts {
   @* @Scripts.Render("~/bundles/jqueryval")*@
}

