﻿@model MVC442.Models.CasinoCat

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CasinoCat</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCasinoCat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCasinoCat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CatNameTh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CatNameTh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CatNameEn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CatNameEn)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
