﻿@model MVC442.Models.CasinoCat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CasinoCat</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCasinoCat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCasinoCat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CatNameTh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CatNameTh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CatNameEn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CatNameEn)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
