﻿@*/// Get Field SelectListItems  From Empty BaseVM   *@ 
@model MVC442.Models.ViewModel.BaseVM 
 

@{
    Layout = null; 
}
 
<h3> DropDownListFor by ViewBag</h3>
@Html.DropDownListFor(model => model.SelectListItems, new SelectList(ViewBag.CasinoCats, "Value", "Text"), "======= Select ========", new { @class = "select" })<br /><br />


<h3> DropDownListFor by  ViewModel  </h3>
@Html.DropDownListFor(model => model.SelectListItems , new SelectList(Model.SelectListItems , "Value", "Text") , "======= Select ========", new { @class = "select" })  

@Html.DropDownListFor(model => model.SelectListItems, (IEnumerable<SelectListItem>)ViewBag.CasinoCats, "======= Select ========", new { @class = "select" })






<br /><br /><br />
 

 
 