﻿@model MVC442.Models.ViewModel.ClientRegisterVM 
 

@{
    Layout = "~/views/shared/_Layout442-blank.cshtml"; 
}

<h3> DropDownList by ViewBag</h3>
@Html.DropDownList("nameYouWant", ViewBag.CasinoCats as SelectList) <br /><br /><br />

<h3> DropDownListFor by ViewBag</h3>
@Html.DropDownListFor(model => model.IdCasinoCat, new SelectList( ViewBag.CasinoCats   , "Value"  , "Text"))  <br /><br /><br />

<h3> DropDownListFor by Model (ViewModel) </h3>
@Html.DropDownListFor(model => model.SelectListItems ,  new SelectList(Model.SelectListItems , "Value", "Text") , "======= Select ========", new { @class = "select" })  <br /><br /><br />
 

 
@Html.Partial("_PartialView")  