﻿@model  IEnumerable<MVC442.Models.WebLinkCasino>
<table> 
       <tr> 
        <td>@Html.DisplayNameFor(model => model.IdCon)</td>
     <td>@Html.DisplayNameFor(model => model.IdCasinoCat)</td>
            <td>@Html.DisplayNameFor(model => model.WebLink)</td>
            <td>@Html.DisplayNameFor(model => model.WebName)</td>
                   
    </tr>

@foreach (var item in Model) { 
    
    <tr> 
        <td>@Html.DisplayFor(modelItem => item.IdCon)</td>
          <td>@Html.DisplayFor(modelItem => item.IdCasinoCat)</td>
        <td>@Html.DisplayFor(modelItem => item.WebLink)</td>
        <td>@Html.DisplayFor(modelItem => item.WebName)</td>
    </tr>
    
}

</table>