﻿@model  MVC442.Models.WebLinkCasino 
@{ 
    Layout = null;
}

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    //\\\\\\\ JS  retrun message SucccessPost or FailPost
    function SuccessMessage() {
        alert("Succcess Post");
    }
    function FailMessage() {
        alert("Fail Post");
    } 
</script>

 <h1>Ajax Search </h1>  

@using (Ajax.BeginForm("GetData", "TestAjaxBeginFormSearch_Partial1", null, 
    new AjaxOptions {
    HttpMethod = "POST",
    OnSuccess = "SuccessMessage",
    OnFailure = "FailMessage",
    UpdateTargetId = "resultTarget"  // Set  ID  For Update Data  
    // InsertionMode = InsertionMode.Replace, 
    // LoadingElementId = "loader" //  Set  ID & image .gif (To shown when data  loading ) 
    }  //, new { id = "MyNewNameId" } // Set Custom name Id for Form
)) 
{
    
 @Html.AntiForgeryToken()
     
 <div> 
@Html.LabelFor(x => x.WebName) :
@Html.EditorFor(x => x.WebName)    
</div>  
    
<input type="submit" value="Search" /> 
    
}


@*
<div id="loader" class=" aletr" style="display:none">
Loading...<img src="~/Images/ajax-loader.gif" />
</div>
*@ 

<div id="resultTarget"> </div> <!-- Update Data Here -->

 

