﻿@model MVC442.Models.ViewModel.WebLinkLiveScoreVM

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CasinoLink</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CasinoCat.CatNameTh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CasinoCat.CatNameTh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CatLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CatLink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InputDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InputDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
