﻿@*////// Add PageList//////// *@
@using PagedList  
@*@using PagedList.Mvc*@  
@model IPagedList<MVC442.Models.ViewModel.WebLinkLiveScoreVM> 
 
@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Index"; 
     string conType = Request.QueryString["type"];
 }

<style>
    .dataList td:nth-child(1) { width: 3%; }
    .dataList td:nth-child(2) {  width: 30%;text-align: center; }
    .dataList td:nth-child(3) { text-align: left; }
    .dataList td:nth-child(4) { width: 5%; }
    .dataList td:nth-child(5) {width: 10%;  } 
 
</style>


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { type = conType } , new { @class = "btnDefault" })
</p>
<table  class="dataList">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().IdCon)
        </th>
        <th>
           ชื่อเวบ
        </th>
         @*      
        <th>
            @Html.DisplayNameFor(model => model.ConType)
        </th>
        *@
        <th>
            @Html.DisplayNameFor(model => model.First().WebLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().InputDate)
        </th>
        <th> จัดการ</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebName)
        </td>
    @*    <td>
            @Html.DisplayFor(modelItem => item.ConType)
        </td>*@
        <td>
 
           @* @Html.ActionLink(item.CatLink  ,"create"  )*@

            <div style="text-align:left;">
            <a href="@Html.DisplayFor(modelItem => item.WebLink)" target="_blank" >@Html.DisplayFor(modelItem => item.WebLinkTrimmed)</a>
            </div> 

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InputDateDisplay)
        </td>
        <td>
            @Html.ActionLink("แก้ไข", "Edit", new { id=item.IdCon   }   ,  new {@class="btnDefault"  }  )  
              
           @Ajax.ActionLink("ลบ", "Delete", new { id=item.IdCon  } , new AjaxOptions  {
        HttpMethod = "POST",
        Confirm = "ยืนยันลบข้อมูล?",
        OnComplete = "deleteComplete"  
       } ,  
                                                                         
     new { @class="btnDefault" }        
                                                                         )  
        </td>
      
    </tr>
}

</table>

<script >
    /////// reload after delete by Ajax
   function deleteComplete() {
            window.location.reload();
 }
</script>


<!-- Start show PagedList -->
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber )
Of @Model.PageCount

@if (Model.HasPreviousPage) {
    @Html.ActionLink("<<", "Index", new { page = 1 , type= conType  } ) 
    @Html.Raw(" ");
    @Html.ActionLink("< Prev", "Index", new{page = Model.PageNumber-1  , type= conType  } )

}else{
  @:<<
  @Html.Raw(" ");  
  @: < Prev
}

@if(Model.HasNextPage){
    @Html.ActionLink("Next >" , "Index" , new{ page = Model.PageNumber +1  , type= conType })
    @Html.Raw(" ");
    @Html.ActionLink(">>", "Index", new { page = Model.PageCount , type= conType  })  
}else{
  @:Next >
  @Html.Raw("");  
  @: >>
}
 