﻿@charset "utf-8"; 
/*//==================  Share  442.imn =========================//*/
#BackEnd { /* border:1px #fff solid; */  padding: 10px; background-color:#fff;
                     height: auto !important; height: 768px;  min-height: 768px;
}

/*///////////////// NavBar */
#navFrontEnd {  }
/*#navFrontEnd .navbar-nav > li > a  { padding: 7px 17px; }*/
.navbar-inverse .navbar-nav>li>a{  color:#fff  ; }

#navBackEnd {  }
#navBackEnd .nav {
    font-size: 22px;
}
#navBackEnd .navbar-nav > li > a  { padding: 7px 11px; }
 
/*///////////////// Header */
.boxStatus { position: absolute; bottom: 0px;right: 15px;top: 0px; }

/*//////////////// Title BG */
.title-box {background: url(../../Images/fontend/pattern_dot.jpg) repeat left top;   }
.h1-bg1 {background: url(../../Images/fontend/bg-title/h1-bg1.png) no-repeat right top; padding:10px;  }
.h1-bg2 {background: url(../../Images/fontend/bg-title/h1-bg2.png) no-repeat right  top;  padding:10px;   }
.h1-bg3 {background: url(../../Images/fontend/bg-title/h1-bg3.png) no-repeat right  top;  padding:10px;   }
.h1-bg4 {background: url(../../Images/fontend/bg-title/h1-bg4.png) no-repeat right  top;  padding:10px;   }
.h1-bg5 {background: url(../../Images/fontend/bg-title/h1-bg5.png) no-repeat right  top;  padding:10px;   }
.h1-bg6 {background: url(../../Images/fontend/bg-title/h1-bg6.png) no-repeat right  top;  padding:10px;   }

.title-th { font-family: 'DBHelvethaiCamon'; font-size: 45px; background: -webkit-linear-gradient(#F8D991, #6f5d37 ); -webkit-background-clip: text; -webkit-text-fill-color: transparent; color: #F8D991; line-height: 37px; }
.title-en { font-family: 'DotFont'; font-size: 22px; background: -webkit-linear-gradient(#F8D991, #6f5d37 ); -webkit-background-clip: text; -webkit-text-fill-color: transparent; color: #F8D991; }

.info-bg1  {background: url(../../Images/fontend/bg-title/info-bg1.png) no-repeat left top; padding:10px;  height: auto !important; height: 447px;  min-height: 447px; }
.info-bg1 .info {  padding-left: 252px; }
.info-bg2  {background: url(../../Images/fontend/bg-title/info-bg2.png) no-repeat left top; padding:10px;  height: auto !important; height: 447px;  min-height: 447px; }
.info-bg2 .info {   padding-left: 252px; }
.info-bg3  {background: url(../../Images/fontend/bg-title/info-bg3.png) no-repeat left top; padding:10px;  height: auto !important; height: 447px;  min-height: 447px; }
.info-bg3 .info {   padding-left: 252px; }

/*//////////////  Btn Default  */
a.btn-default { color: #fff; text-decoration: none; cursor: pointer;   }
.btn-default { position: relative; display: block; border: none; padding: 2px 7px 0px 7px; 
font-family: 'RSULight'; font-size: 16px; font-weight: normal; color: #fff; cursor: pointer; float: left;  border-radius: 5px; 
background: linear-gradient( 0deg, #F10909 0%, #9B1818 50% ); 
background-color: #577ce9;  }
.btn-default:hover { color: #fff; 
background: linear-gradient( 0deg, #EB0F0F 0%, #DA1616 50% );  
background-color: #DA1616;  }
.btn-default span { width: 30px; height: 30px; display: block; right: 0px; position: absolute; top: 1px; z-index: 11; /*border:1px solid red ;*/ }
.btn-small { font-size:13px;  } 
.btnDefault   { font-size: 13px; background-color: #640000; color: white; border: #666 1px solid; text-decoration: none ; }
.btnDefault:hover { background-color: #CE2424; }
a.btnDefault {  padding: 2px 5px;  font-size: 13px; background-color: #640000; color: white; border: #666 1px solid; text-decoration: none ; }
a.btnDefault:hover { background-color: #CE2424; }

/*////////// Live Score */ 
#liveScore-outer { background: url(../../Images/fontend/pattern_dot.gif) repeat left top; 
padding-bottom: 10px;
position: absolute;
bottom: 150px;
left: 10px;
width: 740px;
}
#liveScore-outer [title*=col-xs] {padding:0px 5px; }
#liveScore { padding: 10px 10px 10px 10px;  margin-left: 0px; height: auto !important; height: 150px; min-height: 150px; padding-left: 10px; margin-bottom: 10px; position: relative; left: 0px; bottom: 0px; }
.topic1 { font-family: 'DotFont'; font-size: 13px;   color: #95702a ;}

#liveScore h3 { clear: both; margin-bottom: 0px; height: 30px; width: 350px; font-family: 'DotFont'; font-size: 23px; background: -webkit-linear-gradient(#F8D991, #6f5d37 ); -webkit-background-clip: text; -webkit-text-fill-color: transparent; color: #F8D991; }
#liveScore li { width: 100px;
/*border: 1px solid;*/
height: 18px; 
float:left;margin-right: 3px;
}
#liveScore li a{ float:left;  }
#liveScore li  span{ background: url(../../Images/fontend/icon_live.gif) no-repeat left 3px ; width:30px; height:15px; display:block;float: right; }

#liveScore .col { width: 240px; float: left; }
#liveScore .colLast { width: 200px; float: left; margin-left: 10px; }
#liveScore .title  { clear: both; margin-bottom: 10px; color: #a88f33; font-size: 13px; }
#liveScore .title1 { clear: both; margin-bottom: 3px; color: #a88f33; font-size: 15px; color:#F0D060  }
#liveScore .title2 { clear: both; margin-bottom: 3px; color: #a88f33; font-size: 13px; }
.chanel { font-size:12px; }
.chanel a {   }
.chanel a:hover { color:#F90 ; text-decoration:underline;}
.chanel li {  list-style:none;}
 

/*////////// Footer */
footer { padding: 0px 0; color: #fff; background-color: #2C0303; list-style: none; /* height: 100px; */ padding-top: 15px; font-size: 22px; position: relative;}
.footLink { height: 20px; }
.footLink ul { width: 440px; margin: 0px auto; font-family: 'DBHelvethaicaX45Li'; /* border: 1px solid yellow; */ height: 30px;}
.footLink li { float: left; list-style: none; padding-right: 10px; 
}
.footLink a { color: #F90; text-decoration: none; }
.footLink a:hover { color: #fff; text-decoration: none; } 

.container .btn-primary:hover  {  /* background-color: aliceblue; */ border-color: none; }
.container .btn-primary {  background-color: none; border-color: none;   width: 35px; height: 40px; background:url(../../Images/fontend/NavArrow.png) no-repeat left top ;  position: absolute;  right: 5px;  top: 5px;}
.credit-box { height: 58px; margin: 0px auto; /* margin-left: 150px; */ width: 710px;}
.credit-box li { float: left; list-style:none;  }
.credit-box li span { display: none; }
.copyright { text-align: center; margin: 0px auto; width: 600px; color: #fff; padding-bottom: 10px; font-size: 11px; }
 
/*////////// SideRight */ 
.sectionOTP{background-color: #c5070b ;
width: 188px;
height: 70px;
border-radius: 10px;
border: 2px solid #A88F33;
margin-bottom: 5px;
padding:3px 5px ;
}  
.sectionOTP   h2 { color:   #FF0; text-align: center ; font-size:28px; }
.area-btnDownload { 
width: 198px;
height: 85px; 
margin-bottom: 10px; 
}

.btnDownload {
float: left;
margin-bottom: 5px;
width: 90px;
margin-right: 8px;
overflow: hidden;
border: 2px solid #A88F33  ;
border-radius: 10px; 
}


.btnJoinnow { background: url(../../Images/fontend/btn-join_now.gif) no-repeat -10px top; width: 190px; height: 110px; border-radius: 10px; border: 2px solid #A88F33; margin-bottom: 5px; cursor: pointer;}
.callcenter { background: url(../../Images/fontend/bg_openAccount.jpg) no-repeat left top; width: 190px; height: 94px; border-radius: 10px; border: 2px solid #A88F33; margin-bottom: 5px; }
.bankDeposit { background-color: #c20507; width: 190px; margin-bottom: 5px; border-radius: 10px; border: 2px solid #A88F33; padding-top: 5px;   padding-left: 4px; font-family: 'DBHelvethaicaX45Li'; list-style: none; }
.bankDeposit h2 { font-size: 23px; font-family: 'DBHelvethaicaX45Li';  color: #FF0 }
.bankDeposit .bankDetail ul { font-size: 18px; }
.bankDetail li { margin-bottom: 0px; color: #FF0;   /* padding-left: 10px; */ }
.bankDeposit .bankIconFlash .rowBankname { text-align: center; }
.bankDeposit .bankIconFlash .rowBankname a  {  color:#fff ;   font-size: 15px; }
.bankDeposit .bankIconFlash .rowBankname a:hover { text-decoration: underline; cursor: pointer; }
.bankDeposit .bankIconFlash li { float: left; margin-bottom: 10px; margin-right: 0px; /* margin: 0px 1px; */ margin: 0px; list-style:none;}
.bankDeposit .bankDetail ul {/* font-size: 22px; */padding-left: 20px;margin-bottom: 5px; }
.bankDeposit .bankDetail li { margin-bottom: 0px; color: #FF0; font-family: 'DBHelvethaicaX45Li';  /* padding-left: 10px; */ margin-bottom: 0px; font-size: 20px; text-align: left; list-style: disc; line-height: 20px; }
.liveRadio{ margin-bottom: 5px; width: 190px; height: 72px; border-radius: 10px; border: 2px solid #A88F33; background: url(../../Images/fontend/btn-radio.jpg) no-repeat -10px top; }

 .bankDeposit  .bankIcon {clear:both ; height:auto !important ; height:150px; min-height:150px;   margin-bottom:10px;  }
.bankDeposit  .bankIcon li{ float:left ; margin-bottom:2px; margin-right:2px; margin-bottom:5px; list-style: none; }
.bankDeposit  .bankIcon .rowBankicon { margin-bottom:5px;  }
.bankDeposit  .bankIcon .rowBankicon a{   }
.bankDeposit  .bankIcon .rowBankicon a:hover{ cursor:pointer }  
.bankDeposit  .bankIcon .rowBankname{  text-align:center ; } 
.bankDeposit  .bankIcon .rowBankname a{  color:#fff; font-size:15px;  }
.bankDeposit  .bankIcon .rowBankname a:hover{   text-decoration:underline;  cursor:pointer  } 

/*//==================  Page  =======================================//*/
/*//////////////// Page  Home*/ 
.logocasino {text-align:center ; padding-top: 10px; }
.logocasino  .casinoName { color: #F90; font-weight:bold;  }
.logocasino  .casinoLink  { color: #ccc; }
.logocasino  .casinoLink a{ color: #ccc; }
.logocasino  .casinoLink a:hover { color: yellow; }
.banercasinoCol-home { margin-bottom:10px; } 

/*//////////////// Page  Deposit */ 
#bankBranch { /* background-color: #791818; */ height:120px;  padding: 10px 10px; clear: both; height: auto !important; height: 140px;min-height:140px; }
#bankBranch  ul{  height:80px; float:left  ;    padding-left: 0px;}
#bankBranch li { display: block; margin-bottom: 10px; height: auto !important; height: 30px; min-height: 33px; padding-left:0px; float:left  ;  }
.bankBox1{ float:left  ;  width:36px; }
.bankBox2{float:left  ;width:90px;  }
.bankName{  display:block ;}
.bankService { color:#ffa504;}
.textSmall {  color:#F90;  }

/*//////////////// Page  page-webboard */ 

#page-webboard  .editor-field input  {  width:  380px ;   }
/*#page-webboard  .editor-field input[type=text] {    width:  380px ; }*/ 
#page-webboard  .editor-field input[type=file] { color:#fff } 
#page-webboard  .editor-field [class ^= editor] {width:auto ; } 
#page-webboard  .editor-field input[type=submit] { width:auto ;  }
#page-webboard  .editor-field input[type=checkbox] {width:auto ; } 
#page-webboard  .editor-field input[type=radio] , .editor-field input[type=button] , 
.editor-field input[type=submit] , .editor-field input[type=reset] { width: auto; padding: 2px 5px;  }


/*//////////////// Page  CasinoOnline & Page  SportOnline  */
#pageSportOnline    ,#pageCasinoOnline    {  color:#fff ;}
#pageSportOnline  h2  ,#pageCasinoOnline  h2   {  color:#fff ; font-size: 25px;}









