﻿/*====================  MVC4  CRUD  ======================================// */
/*////////////////  MVC4 Scaffolding List   */
/*On Index.cshtml  have to  add  class="dataList"   to  Table */
.dataList { border-collapse: collapse; border-spacing: 0; background-color: white; text-align: center; font-size: 13px; width: 100%; }
.dataList th { height: 30px; padding: 5px; background-color: #A51111 ; color: #fff ; border: 1px solid white; text-align: center ; }
.dataList td { height: 30px; padding: 5px; background-color: #FFFFFF; color: #000 ; border: 1px solid #DBDBDB; vertical-align: top ; }

/*///////////////  MVC4 Scaffolding  Detail & Delete */
.display-label { float: left; display: block;  text-align: right; padding-right: 10px; margin-bottom: 5px; 
                 height: 22px; width:30%;  /* margin-right: 1%; */ /*border: 1px solid;*/ }
.display-field { float: left;  padding-right: 10px; clear: right; margin-bottom: 5px;  
                 height: 22px;  width: 70%;/*border: 1px solid;*/ }

/*////////////////  MVC4 Scaffolding  Create & Edit  */
.editor-label { float: left; display: block; width: 30%; text-align: right;  
                padding-right: 5px; margin-bottom: 5px; color: #FFFFFF;  /* border: 1px solid; */ min-height: 24px;}
.editor-label  label { margin-bottom: 0px; color:#fff;  }
.editor-field { float: left; width:70%; padding-right: 5px; clear: right; margin-bottom: 5px; /*border: 1px solid;*/ min-height: 24px; padding-top: 0px; padding-bottom: 0px;}

.editor-field span { color:red ;}
.editor-field input  {  width:  380px ;   } 
/*.editor-field input[type=text] { width:  380px ; }*/
.editor-field [class ^= editor] {width:auto ; }
.editor-field input[type=submit] { width:auto ;  }
.editor-field input[type=checkbox] {width:auto ; } 
.editor-field input[type=radio] , .editor-field input[type=button] , .editor-field input[type=submit] { width: auto; }
.editor-field textarea { width: 270px; height: 40px; /* border: none; */ }
/*////////////////////   MVC4  Validate */
.validation-summary-errors  li{ color: #FF0303 ; }
 

/* Befor Apply this Style.  Have to add class="outerForm" warp  to  @using (Html.BeginForm( )){ }  For control design */
/*///////////////  MVC4  Simplemembership   */
/*.outerForm {  }
.outerForm  ol { list-style: none ; padding: 30px;}
.outerForm  li { list-style: none ; margin-left: 20%; margin-bottom: 5px; padding-left:0px;margin-left:0px}
.outerForm  label {  width: 170px; text-align: right;     font-weight:normal ; }
.outerForm  .editor-label { width: 30%;  margin-right: 1%;}
.outerForm  .editor-field { width: 70%;  }*/
 
/*============  OverRide MVC4 CRUD &  Layout.css    ==============*/
/* Befor Apply this Style. Have to  add id="container-inner"  after  id="container"  
    In _Layout442-template2.cshtml  For control */
 
#inner-container h2 { color:#DA1616 ; font-size: 25px;}
#inner-container p { color:#000;}
#inner-container .editor-label {color:#000; height: 24px;margin-bottom: 0px;padding-top: 0px;}
#inner-container .editor-label label {color:#000 ;  }
#inner-container a { color:#C4141B;  text-decoration: underline; }
#inner-container a:hover { color: #FF272F ;  text-decoration: underline; }
#inner-container a.btnDefault  { color:#fff ;  text-decoration: none;} 
#inner-container a:hover.btnDefault  { color:#fff ;  text-decoration: none;}
#inner-container .nav a {color:#fff; text-decoration:none; }
 

