 
/*
///////////  Bottstap Media Query ////////////////
"max-width: 320px" จะหมายถึงอุปกรณ์ที่มี width น้อยกว่าหรือเท่ากับ 320px      ( ไม่ใหญ่กว่า 320px   )
"min-width: 1024px" จะหมายถึงอุปกรณ์ที่มี width มากกว่าหรือเท่ากับ 1024px     ( ไม่เล็กกว่า  1024px   )  
*/
 

 
/*////////////// Below Size  767px  /////////////////*/
@media screen and (max-width: 767px) {
    .bx-wrapper{
        height:350px; 
    }
    #wrapper {
        /*padding-top: 65px;*/
    }
    #wrapper .col-sm-3{ 
        width:25%;
    }

    #sidebar{ 
        padding-left:0px;
    }
    .dropdown-menu > li > a{
        font-size: 33px;
}

.boxSocial { position:absolute;  
  right: 100px;
    top: 70px;
}

.nav>li>a:hover, .nav>li>a:focus { 
    background-color: #FF1C08;
}
 .navbar-collapse.in{ 
      overflow-y: visible;
 }

#container {width:767px }
.logo-company {position: absolute; top: 0px; left: 0px; height: 50px; }
#userStatus {position: absolute; top: 0px; left: 115px; height: 50px; background-color: #A80B0B ; }
.containerHeader {width:767px }

.navbar-header { height: 110px;padding-top:10px;  }
.navbar-collapse {border-top: none;  box-shadow: none;  }
.navbar-collapse {
  max-height: none; 
  }
.navbar-nav .open .dropdown-menu>li>a {
line-height:28px;
margin-bottom:1px;
} 
.navbar-nav {margin-top:0px; margin-bottom:0px;  font-size:36px;
text-align: center; }
.navbar-nav > li > a { line-height: 30px; padding: 10px 17px; }
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #fff; background-color:#7A0F0F; }
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {  background-color: #470202  }
.navbar-nav > li > a{
     border-bottom:none;
}
.navbar-nav>li>.dropdown-menu { 
z-index: 1111111;

}
.navbar-nav>li>.dropdown-menu li a { 
padding: 5px 0px; /*border-bottom: 1px solid #fff ;*/

}
.navbar-nav .open .dropdown-menu{
padding-top: 0px; padding-bottom:0px;

}

#liveScore-outer {
bottom: 210px;
} 
.navbar-brand {
padding: 0px; margin-left:70px; 
}
.navbar-toggle  { 
padding-left: 10px;
border: 1px solid #fff;
position: absolute; 
}

    /*//=== Navigation For Display Small Size */
    .navbar {position: relative;  } /*////// Set  Fix Position  Navbar*/
     /*////// Set Show NavbarToggle Button */
    .navbar-inverse .navbar-toggle { border-color: #Fff; position: absolute;right: 10px; top:20px;   background-color: #F00 ;}
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: #970606 ;}
 /*////// Set Show SidebarToggle Button  */   
    .pull-right .btnOffcanvas {border: 2px solid #FCA60B;border-radius: 100px;
position: absolute; height: 35px;right: -29px;width: 35px;  
box-shadow: 2px 2px 10px #373105;
background-color: #FF710B; 
background: #FF710B  url(../../Images/fontend/triangle1.png) no-repeat -2px -3px ;
    }
    .pull-right .btnOffcanvas:hover { 
background-color: #ea4d12;  
    } 

  
  .pull-right   .trinagle{
      width: 0;
height: 0;
border-style: solid;
border-width: 6.5px 0 6.5px 13px;
border-color: transparent transparent transparent #ffffff;

     }
/*//===== Control Show/Hide OffCanvas*/
.row-offcanvas {  position: relative; -webkit-transition: all 0.25s ease-out; -moz-transition: all 0.25s ease-out; transition: all 0.25s ease-out;min-height: 700px; width: 710px;  }
.row-offcanvas-left .sidebar-offcanvas { left: -50%; /* 6 columns */ }
.row-offcanvas-right.active { right:30%; /* 6 columns */ }
.row-offcanvas-right .sidebar-offcanvas { right: -28%; width: 200px; }
.row-offcanvas-left.active { left: 50%; /* 6 columns */ }
.sidebar-offcanvas { position: absolute; top: 0; width: 50%; /* 6 columns */ }
.credit-box { width: 450px; }
.credit-box ul li:nth-child(6) { margin-left: 90px; }
#wrapper .col-sm-9 {  width: 95%;  } 
 
}
/*//////////////// Over Size 768px ///////////////*/
@media (min-width: 768px) { 

    /*.navbar-header { float: none; } 
    .navbar-collapse { float: left;  } 
    .navbar-nav > li > a { padding: 7px 11px; }
    .wrapper { padding: 0px; }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form { overflow: visible; }
    .slotFlash li { float: left; }
    .container .navbar-nav a { padding: 0px; }
    .col-sm-3 {  }
    .col-sm-9 {   } 
    .info { margin-left: 0px; }
    .info-bg3 { background: none; }*/
}
/*/////////////////  Over Size 992px //////////////*/
@media (min-width: 992px) { 
    /*.navbar-nav > li > a { padding: 7px 27px; }
    .container .navbar-nav a { padding: 15px; } 
     #warpper  .col-sm-3 { width: 21%;  }
     #warpper    .col-sm-9 { width: 77%;   } 
    .info { padding-top: 10px; margin-left: 270px; height: auto !important; height: 450px; min-height: 450px; }
    .info-bg1 { background: url(../../Images/fontend/bg-title/info-bg1.png) no-repeat left top; }
    .info-bg2 { background: url(../../Images/fontend/bg-title/info-bg2.png) no-repeat left top; }
    .info-bg3 { background: url(../../Images/fontend/bg-title/info-bg3.png) no-repeat left top; }
    .info ul, .info ol { padding-left: 20px;   }*/
}
/*//////////////  Over Size 1200px  /////////////////*/
@media (min-width: 1200px) { 
    /*.navbar-nav > li > a { padding: 7px 37px;    margin-bottom: 0px; }
    .col-sm-3 { width: 18%; }
    .col-sm-9 { width: 82%; }*/
}
/*//////////////  Over Size 1400px  /////////////////*/
@media (min-width: 1400px) {
    /*.containerHeader { width: 1170px; }*/
}

/*////////////////// ?????? /////////////*/
@media (min-width: 768px) and (max-width: 991px) {
}
/*////////////////// ?????? /////////////*/
@media (min-width: 992px) and (max-width: 1199px) {
}

