
/*========== 442.im Override  BootStrap ==============================*/
#wrapper .col-sm-9 {
    /*width: 75%;*/
width: 80%;  
margin-bottom: 200px;
}
#wrapper .col-sm-3 {
/*width: 25%;*/
width: 17%;
}
.row { margin : 0px; }
.logo-company {float:left; background-color:#770F0F ; } 
#areaSearch  table{ width:100%;}
#areaSearch  table .label{ width:200px; margin-right:10px;}
#areaSearch  table td{ float:left; }

/*//============  Userstatus   */ 
#userStatus{ color:#fff;  float:right ; /*border-radius:10px; border:1px solid #fff;*/   background-color:#770F0F; border-spacing: 2px; }
#userStatus div { clear:both; } 
#userStatus label {float:left;margin-bottom:0px; width:70px; text-align:right;margin-right:5px;   font-weight:normal ; color:#F8ED71 ; }
#userStatus span { width:120px; padding-right: 5px;}

/*//============  NavManage  */
.navManage {margin-bottom: 10px; height: 28px;  }
.navManage  input[type="submit"] { margin-right:5px;}
/*.navbar-header { float: none; }*/

#sidebar {  
padding-left: 0px; padding-right:0px;  
}

/*//================= Overide Bottstap ================================================================= */
.nav>li>a:hover, .nav>li>a:focus{ 
background-color:  #FF1C08 ;
}
.navbar-collapse { padding-right:0px; padding-left:0px;}
.navbar-header {
 float: none ; 
}

.navbar-fixed-top, .navbar-fixed-bottom {   
    z-index : 1 ;
}
.ui-corner-all { /*border: 1px solid #ccc ;*/ }

.containerHeader {  background-color: #A80B0B; height: auto !important; clear: both;   }
.sidebar-offcanvas {   /* background-color: #881717; */  margin: 0px; /*float: right;*/ }
 
.label { color:#000; text-align: right; font-weight:normal ;padding:0px;font-size: 100%; 
 line-height: normal; }

/*//=========== Navigation For Display Small Size */
.navbar {position: relative; } /*////// Set  Fix Position  Navbar*/
 
/*//============ Navigation Default */ 
.nav { font-size:24px;        font-family: 'DBHelvethaicaX45Li';    }
.navbar-inverse { background-color:none ;  border:none;  }
.navbar {
margin-bottom:  0px;  min-height: 0px;   background-color: #490E0E;
}
 .navbar-collapse {
     padding-left: 0px;padding-right: 0px;

 }
.navbar-inverse .navbar-nav > .open > a { background-color: #F10909; }
.navbar-nav > li > a { 
padding: 7px 16px;
 border-top: 1px solid #700909;  color:#fff ;/*line-height:26px;*/ 
border-right: 1px solid #700909; border-bottom: 1px solid #700909; border-left: 1px solid #460202; background-color:#A80B0B;
margin-bottom: 0px; margin-bottom: 0px;
}
 
.navbar-nav > li > a:hover {  background-color:#FF1C08; }
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
background-color:#FF1C08; 
}
.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus  {background-color:#641111 }  

.dropdown-menu { background-color: #8A1F1F; color: #fff; } 
.dropdown-menu > li > a { color: #fff; text-decoration: none; background-color:#8A1F1F;  font-size:19px; }
.dropdown-menu > li > a:hover { color: #fff; background-color:  #470202; }
.dropdown-menu > li > a:focus { color: #fff; text-decoration: none; background-color: #470202; } 
 
.subNav  { display: none; position: absolute; left: 0px; top: 30px;  z-index:111;  list-style: none;
 background-color: #640000; width: 100%;  }
.subNav   li {   background-color: #640000;   padding :  5px 25px ;} 
.subNav   li.hover {   background-color:  #FF1C08 ; }  
.subNav   li a  {   text-decoration:none ; color:#fff ; } 
.subNav   li a:hover {    text-decoration:none ;} 
.subNav  .selected  {   }    
 