﻿@model MVC442.Models.WebboardQuiz

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>WebboardQuiz</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizTopic)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizTopic)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizMessage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizMessage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizView)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizView)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizReply)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizReply)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizPin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizPin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizIp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizIp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuizCat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuizCat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Spare1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Spare1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Spare2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Spare2)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
