 
 <!------  Jquery bxSlider    ------------------------------->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript"   src="jquery.bxSlider.min.js"></script> 
<script type="text/javascript"   src="bx_slide_config.js"></script> 
 
 <link href="jquery.bxslider.css" rel="stylesheet" />
 

	<div class="demo-wrap">
				<ul id="slider1"> 
				<li><img src="442big_bonus_01.gif"  /></li>
			 <li><img src="442big_bonus_02.gif"  /></li>
             <li><img src="442big_bonus_03.gif"  /></li>
				</ul>
		</div>

<hr />
 	<div class="demo-wrap">
				<ul id="slider2"> 
				<li><img src="442big_bonus_01.gif"  /></li>
			 <li><img src="442big_bonus_02.gif"  /></li>
             <li><img src="442big_bonus_03.gif"  /></li>
				</ul>
		</div>


<hr />

 	<div class="demo-wrap">
				<ul id="slider3"> 
				<li><img src="442big_bonus_01.gif"  /></li>
			 <li><img src="442big_bonus_02.gif"  /></li>
             <li><img src="442big_bonus_03.gif"  /></li>
				</ul>
		</div>

 
 