﻿@{    
    Layout = null ; 
    
   // http://localhost:41208/testrazor?id=1&cat=3

    var baseUrl1 = Request.Url.Scheme; // http
    var baseUrl2 = Request.Url.AbsolutePath;  //    /testrazor
    var baseUrl3 = Request.Url.Host; // localhost 
    var baseUrl4 = Request.Url.Port.ToString() ; // 41208 
    var baseUrl5 = Request.Url.Authority ; //  ???   // To get the current host with port (mysite.com, www.mysite.com or localhost:9876)
    var baseUrl6 = Request.Url.GetLeftPart(UriPartial.Authority); // http://localhost:41208
    var baseUrl7 = Request.RawUrl; // testrazor?id=1&cat=3
    var baseUrl8 = Request.QueryString;  // id=1&cat=3
    var baseUrl9 = Request.RequestType;     // GET
    var baseUrl10= Request.Url ;  // http://localhost:41208/testrazor?id=1&cat=3
    var baseUrl11 = Request.FilePath; //    /testrazor
    var baseUrl12 = Request.Url.AbsoluteUri;  //  http://localhost:41208/testrazor?id=1
    var baseUrl13 = Request.QueryString["id"]; // 1 
    var baseUrl14 =  Url.Content("~/"); //   /      Get Root 
    

    @:baseUrl1 =  @baseUrl1 <br />
    @:baseUrl2 =   @baseUrl2 <br />
    @:baseUrl3 =  @baseUrl3 <br />
    @:baseUrl4 =   @baseUrl4 <br />
    @:baseUrl5 =  @baseUrl5 <br />
    @:baseUrl6 =  @baseUrl6 <br />
    @:baseUrl7 =  @baseUrl7 <br />
    @:baseUrl8 =   @baseUrl8 <br />
    @:baseUrl9 =   @baseUrl9 <br />
    @:baseUrl10 =  @baseUrl10 <br />
    @:baseUrl11 =  @baseUrl11 <br />
    @:baseUrl12 =  @baseUrl12 <br />
    @:baseUrl13 =  @baseUrl13 <br />  
    @:baseUrl14 =  @baseUrl14 <br /> 

  

}
