﻿@model MVC442.Models.WebLinkCasino

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>WebLinkCasino</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CasinoCat.CatNameTh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CasinoCat.CatNameTh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebLink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InputDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InputDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCasinoCatSelected)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCasinoCatSelected)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sort)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sort)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
