﻿@model MVC442.Models.ViewModel.WebLinkCasinoVM

@{
    Layout = null;
    ViewBag.Title = "Details";
    
}

<h2>Details</h2>

<fieldset>
    <legend>WebLinkCasino</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CasinoCat.CatNameTh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CasinoCat.CatNameTh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WebLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WebLink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InputDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InputDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCasinoCatSelected)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCasinoCatSelected)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sort)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sort)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id=Model.IdCon  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
