﻿@model MVC442.Models.WebLinkCasino

@{
    Layout = null;
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>WebLinkCasino</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCon)
            @Html.ValidationMessageFor(model => model.IdCon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCasinoCat, "CasinoCat")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCasinoCat", String.Empty)
            @Html.ValidationMessageFor(model => model.IdCasinoCat)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConType)
            @Html.ValidationMessageFor(model => model.ConType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WebName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebName)
            @Html.ValidationMessageFor(model => model.WebName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.WebLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebLink)
            @Html.ValidationMessageFor(model => model.WebLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InputDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InputDate)
            @Html.ValidationMessageFor(model => model.InputDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCasinoCatSelected)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCasinoCatSelected)
            @Html.ValidationMessageFor(model => model.IdCasinoCatSelected)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sort)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sort)
            @Html.ValidationMessageFor(model => model.Sort)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
