﻿@model IEnumerable<MVC442.Models.ViewModel.WebLinkCasinoVM>

@{
    Layout = null; 
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CasinoCat.CatNameTh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WebLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InputDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCasinoCatSelected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CasinoCat.CatNameTh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InputDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCasinoCatSelected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {   id=item.IdCon  }) |
            @Html.ActionLink("Details", "Details", new {   id=item.IdCon  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.IdCon  })
        </td>
    </tr>
}

</table>
