﻿@using PagedList;
@using PagedList.Mvc;

@model  IEnumerable<MVC442.Models.ViewModel.WebLinkCasinoCriteria>

@{ 
    Layout = null;
}
 
<style>
    .myTable {
    border :1px solid; 
    }
     .myTable  td {
    border :1px solid; 
    }
</style> 

<table  class="myTable">  
            <tr> 
            <td>@Html.DisplayNameFor(model => model.IdCon  )</td>
            <td>@Html.DisplayNameFor(model => model.IdCasinoCat)</td> 
            <td>@Html.DisplayNameFor(model => model.WebName)</td>
            <td>@Html.DisplayNameFor(model => model.Description)</td> 
            <td>Sort </td> 
            <td> InputDate</td> 
            </tr>
     
@foreach (var item in Model ) {   
            <tr> 
            <td>@Html.DisplayFor(modelItem => item.IdCon)</td>  
            <td>@Html.DisplayFor(modelItem => item.IdCasinoCat)</td> 
            <td>@Html.DisplayFor(modelItem => item.WebName)</td>    
            <td>@Html.DisplayFor(modelItem => item.Description)</td>  
            </tr> 
}

</table>
