﻿@model IEnumerable<MVC442.Models.CasinoWebLink>
 
@{ 
    Layout = "~/Views/Shared/_Layout442-blank.cshtml";  
    var AA= "AAAAAAAAA" ;
    var BB = "BBBBBBBBB";
    var CC = "CCCCCCCC";

    @AA<br /> 
}

@BB<br />  
@CC<br /> 
<hr /> 

<span>In Razor, you use the 
@@foo to display the value 
of foo</span> 
<hr /> 



<ul>
@{ 
 for (int i = 1; i < 5  ; i++ ){ 
     @i; 
 } 
}
</ul>
<hr />  
@{
   int counter= 0;
}

@foreach (var item in Model){
   counter++;
  
   //if(counter<=10){
       @counter;
     <div>@Html.DisplayFor(x => item.CatLink)</div> 
  // }
}


<hr />  

 <table class="projects-grid">
    <tr>
    @for(int i = 0; i< Model.Count(); i++) 
     {
         if (i != 0 && i % 3 == 0) 
         {
             @Html.Raw("</tr><tr>");
         }
        var item = Model.ElementAt(i);
        <td class="project-tile"> 
            @Html.DisplayFor(modelItem => item.CatLink)                
        </td>        
    }
    </tr>    
</table>
<hr />  

@{   

    var baseUrl1 = Request.Url.Scheme; // http
    var baseUrl2 = Request.Url.AbsolutePath;  //    /testrazor
    var baseUrl3 = Request.Url.Host; // localhost 
    var baseUrl4 = Request.Url.Port.ToString() ; // 41208 
    var baseUrl5 = Request.Url.GetLeftPart(UriPartial.Authority); // http://localhost:41208
    var baseUrl6 = Request.RawUrl; // testrazor?id=1
    var baseUrl7= Request.QueryString;  // id=1
    var baseUrl8 = Request.RequestType;     // GET
    var baseUrl9 = Request.Url; //  http://localhost:41208/testrazor?id=1
    var baseUrl10 = Request.FilePath; //    /testrazor
    var baseUrl11 = Request.Url.AbsoluteUri;  //  http://localhost:41208/testrazor?id=1
    var baseUrl12 =  Request.QueryString["id"]; // 1 
  
    
@baseUrl1<br />
@baseUrl2<br /> 
@baseUrl3<br /> 
@baseUrl4<br /> 
@baseUrl5<br />
@baseUrl6<br />
@baseUrl7<br />
@baseUrl8<br />
@baseUrl9<br />
@baseUrl10<br />
@baseUrl11<br />
@baseUrl12<br />
 
    
}
