﻿@model  MVC442.Models.ViewModel.WebLinkCasinoCriteria 
@{ 
    Layout = null;
}

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    //\\\\\\\ JS  retrun message SucccessPost or FailPost
    function SuccessMessage(result) {
        $("#ajax-main").html(result);
        alert("Succcess Post");
    }
    function FailMessage() {
        alert("Fail Post");
    }
</script>

<h1>Search</h1> 

@using (Ajax.BeginForm("Index", "TestAjaxBeginFormSearchPagedList1", null, 
    new AjaxOptions {
    HttpMethod = "POST",
    OnSuccess = "SuccessMessage",
    OnFailure = "FailMessage" ,
    UpdateTargetId = "resultTarget",// Set  ID  For Update Data  
    InsertionMode = InsertionMode.Replace,
    //  LoadingElementId = "loader" //  Set  ID & image .gif (To shown when data  loading )
} // , new { id = "MyNewNameId" })) // Set Custom name Id for Form 
))
{
        @Html.AntiForgeryToken()
     
        @Html.LabelFor(x => x.WebName) @: 
        @Html.EditorFor(x => x.WebName)    <span>  </span>
        @Html.LabelFor(x => x.Description) @:
        @Html.EditorFor(x => x.Description)    <span>  </span>
        <input type="submit" value="Search" /> 
    
}
 
<div id="resultTarget"> </div>

 