﻿@model MVC442.Models.ViewModel.WebLinkCasinoVM

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Delete";
}

<h2>Delete</h2> 
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CasinoWebLink</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CasinoCat.CatNameTh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CasinoCat.CatNameTh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ConType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ConType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CatLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CatLink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InputDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InputDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
