﻿@model IEnumerable<MVC442.Models.WebboardAttach>

@{ 
    Layout = "~/Views/Shared/_Layout442-blank.cshtml";
    ViewBag.Title = "View1";   
    
  
//===== Return Success Message by 
 MVC442.Helper.HelperUtility response = new MVC442.Helper.HelperUtility(true);
 @response.Message
 
    
}

<h2>View1</h2>

<p>
    @Html.ActionLink("Create uploadSingle", "uploadSingle")
</p>
<p>
    @Html.ActionLink("Create uploadMulti", "uploadMulti")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AttachId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttachName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttachDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttachLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttachAlt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spare1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spare2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AttachId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttachName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttachDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttachLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttachAlt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spare1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spare2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
