﻿@model MVC442.Models.WebboardAttachVM

@{
    Layout = "~/Views/Shared/_Layout442-blank.cshtml";
    ViewBag.Title = "create";
  
    @Request.Url  
}
 
<h2>create</h2>

@using (Html.BeginForm("uploadSingle", "testUploadfile", FormMethod.Post, new { enctype = "multipart/form-data" })) {
   
     @Html.ValidationSummary(true)
      
        <div class="editor-label">
            @Html.LabelFor(model => model.AttachName)
        </div>
        <div class="editor-field">
         @Html.TextBoxFor(model => model.AttachName, new {type="file"  } ) 
          @Html.ValidationMessageFor(model => model.AttachName) 
             
          
        </div>
     
        <div class="editor-label">
            @Html.LabelFor(model => model.AttachLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AttachLink)
            @Html.ValidationMessageFor(model => model.AttachLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AttachAlt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AttachAlt)
            @Html.ValidationMessageFor(model => model.AttachAlt)
        </div>

         
        <p>
            <input type="submit" value="Create" />
             @Html.ActionLink("Back to List", "Index")
        </p>
 
} 

@section Scripts { 
 <script src="~/Content/_Libraly/validateFileUpload.js"></script> 

}
