﻿@model  MVC442.Models.WebboardAttachVM 

@{
    Layout = "~/Views/Shared/_Layout442-blank.cshtml";
    ViewBag.Title = "create";
  
    @Request.Url  
}
 
<h2>create</h2>

@using (Html.BeginForm("uploadMulti", "testUploadfile", FormMethod.Post, new { enctype = "multipart/form-data" })) {
   
     @Html.ValidationSummary(true)
      
    
  <!--  Use HTML5 Feature - MultiUpload   --> 
        <div class="editor-label">
            @Html.LabelFor(model => model.AttachName)
        </div> 
        <div class="editor-field"> 
            @Html.TextBoxFor(x => x.AttachName, new { type = "file" ,  multiple="multiple" })     
          @Html.ValidationMessageFor(model => model.AttachName)  
        </div>  
      
    
    
    <div class="editor-label">
            @Html.LabelFor(model => model.AttachLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AttachLink)
            @Html.ValidationMessageFor(model => model.AttachLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AttachAlt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AttachAlt)
            @Html.ValidationMessageFor(model => model.AttachAlt)
        </div>

         
        <p>
            <input type="submit" value="Create" />
             @Html.ActionLink("Back to List", "Index")
        </p>
 
} 

@section Scripts { 
 <script src="~/Content/_Libraly/validateFileUpload.js"></script> 

}
