﻿@model System.DateTime?
 
<div class="editor-field">
    @Html.TextBox("", String.Format("{0:dd/MM/yyyy HH:mm:ss}",(Model == DateTime.MinValue)? null : Model), new { @class="text"})

 
</div>
  
    <script>
        $(function () {
            checkSupportForInputTypeDate(); // Fix Error Jquery Validate Error

            $("#@ViewData.ModelMetadata.PropertyName").attr('readOnly', 'true');
            $("#@ViewData.ModelMetadata.PropertyName").datetimepicker({
                changeMonth: true ,
                changeYear: true , 
               dateFormat: 'dd/mm/yy', // format show in view 
                // dateFormat: 'yy-mm-dd', // format sql  
                 timeFormat: 'hh:mm:ss',
                isBE: true, // Set Budda Calenda
                autoConversionField: false, // Set Hidden Convert Value
                gotoCurrent: true,
                yearRange: "-0:+10",
                showButtonPanel: false
            });

            $("#ui-datepicker-div").attr("style", "")

 

            //Function to configure date format as the native date type from chrome and safari browsers 
            // is clashed with jQuery ui date picker.
            function checkSupportForInputTypeDate() {
                jQuery.validator.methods.date = function (value, element) {
                    var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                    var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
                    if (isSafari || isChrome) {
                        var d = new Date();
                        return this.optional(element) || !/Invalid|NaN/.test(new Date(d.toLocaleDateString(value)));
                    } else {
                        return this.optional(element) || !/Invalid|NaN/.test(new Date(value));
                    }
                };
            }

        }); // end ready 
    </script> 

@* 
    <script>
        $(function () {
            $("[id*=tbxDate]").attr('readOnly', 'true');
            $("[id*=tbxDate]").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-0:+10",
                isBE: true,
                autoConversionField: false
            })

        });
    </script>

*@