﻿@model MVC442.Models.ClientMessage

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ClientMessage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCat)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCat)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tel1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tel1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Message)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InputDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InputDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ip)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
