﻿
/*//================= 442 Project ================================================================= */
.logo-company {float:left; background-color:#770F0F ; }

#areaSearch  table{ width:100%;}
#areaSearch  table .label{ width:200px; margin-right:10px;}
#areaSearch  table td{ float:left; }

/*//============  Userstatus   */ 
#userStatus{ color:#fff;  float:right ; /*border-radius:10px; border:1px solid #fff;*/   background-color:#770F0F; border-spacing: 2px; }
#userStatus div { clear:both; } 
#userStatus label {float:left;margin-bottom:0px; width:70px; text-align:right;margin-right:5px;   font-weight:normal ; color:#F8ED71 ; }
#userStatus span { width:120px; padding-right: 5px;}

/*//============  NavManage  */
.navManage {margin-bottom: 10px; height: 28px;  }
.navManage  input[type="submit"] { margin-right:5px;}


/*//================= Overide Bottstap ================================================================= */
.containerHeader {  background-color: #A80B0B; height: auto !important; clear: both;   }
.sidebar-offcanvas {   /*background-color: red;*/ margin: 0px; float: right; }
.label { color:#000; text-align: right; font-weight:normal ;padding:0px;font-size: 100%; 
 line-height: normal; }

/*//=========== Navigation For Display Small Size */
.navbar {position: relative; } /*////// Set  Fix Position  Navbar*/
 
/*//============ Navigation Default */
.nav {font-family: 'RSULight'; font-size:17px; }
.navbar-inverse { background-color:#fff;  border:none;  }
.navbar { margin-bottom:  0px;  min-height: 0px;  }
.navbar-nav > li > a { line-height:26px; }
.navbar-inverse .navbar-nav > .open > a { background-color: #F10909; }
.navbar-nav > li > a { padding: 7px 19px; border-top: 1px solid #700909; 
  border-right: 1px solid #700909; border-bottom: 1px solid #700909; border-left: 1px solid #460202; background-color:#A80B0B;
}
.navbar-nav > li > a:hover {  background-color:#FF1C08; }
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
background-color:#FF1C08; 
}
.dropdown-menu { background-color: #8A1F1F; color: #fff; } 
.dropdown-menu > li > a { color: #fff; text-decoration: none; background-color:#8A1F1F;}
.dropdown-menu > li > a:hover { color: #fff; background-color:  #470202; }
.dropdown-menu > li > a:focus { color: #fff; text-decoration: none; background-color: #470202; }
    
/*
///////////  Bottstap Media Query ////////////////
"max-width: 320px" จะหมายถึงอุปกรณ์ที่มี width น้อยกว่าหรือเท่ากับ 320px      ( ไม่ใหญ่กว่า 320px   )
"min-width: 1024px" จะหมายถึงอุปกรณ์ที่มี width มากกว่าหรือเท่ากับ 1024px     ( ไม่เล็กกว่า  1024px   )  
*/
 
/*////////////// Below Size  767px  /////////////////*/
@media screen and (max-width: 767px) {
    #container {width:767px }
    .logo-company {position: absolute; top: 0px; left: 0px; height: 50px; }
    #userStatus {position: absolute; top: 0px; left: 115px; height: 50px; background-color: #A80B0B ; }
    .containerHeader {width:767px }

    .navbar-header { height: 50px; }
    navbar-collapse {border-top: none;  box-shadow: none; }
    .navbar-nav {margin-top:0px; margin-bottom:0px; }
    .navbar-nav > li > a { line-height: 20px; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a { color: #fff; background-color:#7A0F0F; }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {  background-color: #470202  }
 

    /*//=== Navigation For Display Small Size */
    .navbar {position: relative; } /*////// Set  Fix Position  Navbar*/
     /*////// Set Show NavbarToggle Button */
    .navbar-inverse .navbar-toggle { border-color: #Fff; position: absolute;right: 10px; top:3px; }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: #F00 ;}
    .pull-right button {border: 1px solid #ccc;position: absolute; height: 30px;background-color: #FF0029;right: 10px; }/*////// Set Show SidebarToggle Button  */

    /*//===== Control Show/Hide OffCanvas*/
    .row-offcanvas {  position: relative; -webkit-transition: all 0.25s ease-out; -moz-transition: all 0.25s ease-out; transition: all 0.25s ease-out;min-height: 700px;
    width: 740px;  
    }
    .row-offcanvas-right .sidebar-offcanvas { right: -55%; /* 6 columns */ /* width: 100px; */ /*config for hide*/ }
    .row-offcanvas-left .sidebar-offcanvas { left: -50%; /* 6 columns */ }
    .row-offcanvas-right.active { right:45%; /* 6 columns */ }
    .row-offcanvas-left.active { left: 50%; /* 6 columns */ }
    .sidebar-offcanvas { position: absolute; top: 0; width: 50%; /* 6 columns */ }
    .credit-box { width: 450px; }
    .credit-box ul li:nth-child(6) { margin-left: 90px; }
 
}
/*//////////////// Over Size 768px ///////////////*/
@media (min-width: 768px) {
    /*////////// Option */
    .navbar-collapse { float: left;  }
     /* .containerHeader { width: 750px; }  */
    .navbar-nav > li > a { padding: 7px 4px; }
    .wrapper { padding: 0px; }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form { overflow: visible; }
    .slotFlash li { float: left; }
    .container .navbar-nav a { padding: 0px; }
    .col-sm-3 { /*border: 1px solid #fff;*/ }
    .col-sm-9 { /*border: 1px solid #fff;*/ }

    .info { margin-left: 0px; }
    .info-bg3 { background: none; }
}
/*/////////////////  Over Size 992px //////////////*/
@media (min-width: 992px) {
    /*.containerHeader { width: 970px; }*/
    .navbar-nav > li > a { padding: 7px 15px; }
    .container .navbar-nav a { padding: 15px; }

    /* config from breaking point */
    .col-sm-3 { width: 21%; /*border: 1px solid #fff;*/ }
    .col-sm-9 { width: 77%; /*border: 1px solid #fff;*/ }

    .info { padding-top: 10px; margin-left: 270px; height: auto !important; height: 450px; min-height: 450px; }
    .info-bg1 { background: url(../Images/fontend/bg-title/info-bg1.png) no-repeat left top; }
    .info-bg2 { background: url(../Images/fontend/bg-title/info-bg2.png) no-repeat left top; }
    .info-bg3 { background: url(../Images/fontend/bg-title/info-bg3.png) no-repeat left top; }
    .info ul, .info ol { padding-left: 20px; /* text-indent: 20px; */ }
}
/*//////////////  Over Size 1200px  /////////////////*/
@media (min-width: 1200px) {
    /*.containerHeader { width: 1000px; position: relative; }*/
    /*.container { width: 1000px; }*/
    /*.container { padding-top: 100px; padding: 0px;}*/
    .navbar-nav > li > a { padding: 7px 15px; }
}
/*//////////////  Over Size 1400px  /////////////////*/
@media (min-width: 1400px) {
    /*.containerHeader { width: 1170px; }*/
}

/*////////////////// ?????? /////////////*/
@media (min-width: 768px) and (max-width: 991px) {
}
/*////////////////// ?????? /////////////*/
@media (min-width: 992px) and (max-width: 1199px) {
}
