﻿@using CaptchaMvc.HtmlHelpers
@model MVC442.Models.ClientMessage2VM

@{
    ViewBag.Title = "Callcenter";
}

 
<div class="outerForm">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

          @Html.HiddenFor(model => model.IdCat) 
          @*  @Html.ValidationMessageFor(model => model.IdCat)*@

 
        <div class="editor-field">
            @Html.EditorFor(model => model.Tel1)
            @Html.ValidationMessageFor(model => model.Tel1)
        </div>
  
        <p>
            <input type="submit" value="Create" class="btnDefault" />
        </p>
 
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div> <!-- / .outerForm  -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
