﻿@using CaptchaMvc.HtmlHelpers
@model MVC442.Models.ClientMessageEmailVM
@{
     Layout = "~/Views/Shared/_Layout442-blank.cshtml"; 
    ViewBag.Title = "Contact";
   // TempData["Message"]; 
}
<div class="title-box"   >
<div class="h1-bg6">
<h3 class="title-th">ติดต่อ</h3> 
<h3 class="title-en">Contact</h3>
</div> 
</div>
<div class="info-bg3">
<div class="info ">
<p>
สำหรับสมาชิกที่มีปัญหาในการเล่น แทงบอลออนไลน์ หรือ บาคาร่าออนไลน์ หรือ ต้องการสอบถามวิธีการเล่นบอล จากทาง Sbobet Ibcbet  สามารถติดต่อผ่านช่องทาง
ด้านล่างนี้ได้ตลอด 24 ชม.
</p>

<div class="outerForm">
 @using (Html.BeginForm( )){   
    @Html.ValidationSummary( )
  
     
@*<p >@TempData["Message"]</p>
<p >@TempData["ErrorMessage"]</p>*@
    @Html.Hidden("IdCat" , (object)@ViewBag.IdCat) 
    
    @*
    @Html.Hidden("DateMessage" , (object)DateTime.Now ) 
    *@

        <div class="editor-label">
           @Html.LabelFor(model => model.Name) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name )
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Tel1) :
        </div>
         <div class="editor-field">
            @Html.EditorFor(model => model.Tel1)
        </div>
     
        <div class="editor-label">
            @Html.LabelFor(model => model.Message) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
         
        </div>
    
     
       @* 
        //=========  Date Time With @ MVC ========// 
        ///////// Datetime print on screen 
        @DateTime.Now.ToString()   
        //////// Datetime  in hidden field 
        @Html.Hidden(DateTime.Now.ToString())  
        /////// Datetime  variable 
        @{ var  today = DateTime.Now; }   
        @Html.EditorFor(model => today )
        /////// DateTime 
        @Html.Hidden("InputDate" , DateTime.Now) 
      *@
      
     @*//============ Captcha   *@
        <div class="editor-label"> 
        </div>
        <div class="editor-field"> 
     @*   @Html.Captcha("Refresh", "Input", 5, "Is required field.", true)*@
        </div>
     
     
     
     
        <div class="editor-label">
        </div>
        <div class="editor-field">
        <input type="submit" value="ยืนยัน" class="btnDefault" />
        @Html.ActionLink("ยกเลิก", "Index", "Home", null, new { @class= "btnDefault" } )  
        </div>
     
     
     
     <div class="clears"></div>
}

    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
    </div>
</div>