﻿@using CaptchaMvc.HtmlHelpers
@model MVC442.Models.ViewModel.ClientMessageVM
 
@{
  //  Layout = "~/Views/Shared/_Layout442-blank.cshtml"; 
    Layout = "~/Views/Shared/_Layout442-FrontEnd2.cshtml"; 
  ViewBag.Title = "Contact";

  /////////// After Insert  Finish   
  if (ViewBag.Result == true ) {
      ViewBag.Result = false; // reset back to false
    <script  >
        alert("ทาง 442.im ได้รับข้อมูลของคุณเรียบร้อยแล้วครับ");
        location="HOME" ; 
    </script>
    }// end if 
}

<style>
 #page-Contact   input[type="text"] { width:270px;}
 #page-Contact   input[type="email"] { width:270px;} 
</style>
<script>
    $(function () {
        $("#captchaRefresh a").click(function () {
            //$("#CaptchaDeText").focus();
            //  $(":textbox").attr("style", "border:1px solid red; ");
            $("input[name='Name']").focus();
            console.log("allready Refresh");
        }); 
    }); //end ready

</script>


<div id="page-Contact">
<div class="title-box"   >
        <div class="h1-bg6">
        <h3 class="title-th">ติดต่อ</h3>
        <h3 class="title-en">Contact</h3>
        </div> 
</div><!-- /.title-box --> 

<div class="info-bg3">
<div class="info "> 

<p>
สำหรับสมาชิกที่มีปัญหาในการเล่น แทงบอลออนไลน์ หรือ บาคาร่าออนไลน์ หรือ ต้องการสอบถามวิธีการเล่นบอล จากทาง Sbobet Ibcbet  สามารถติดต่อผ่านช่องทาง
ด้านล่างนี้ได้ตลอด 24 ชม.
</p>
 
<div class="outerForm">
@using (Html.BeginForm()) {
    
    @Html.ValidationSummary(false ) 
    
    <style>
     .field-validation-error {display:none;} 
    </style>
    
    <div >
    @Html.ValidationMessageFor(model => model.Name) 
    @Html.ValidationMessageFor(model => model.Email) 
    @Html.ValidationMessageFor(model => model.Tel1) 
    @Html.ValidationMessageFor(model => model.Message)  
    </div>
    
         <div class="editor-label">  
        </div>
        <div class="editor-field">   
            @*  
            ////////  if Not use  @Html.EditorFor have to Cast object befor use
            @Html.Hidden("IdCat" , (object)@ViewBag.IdCat)  
            *@
             
            @Html.HiddenFor(model => model.IdCat) 
        </div>
     
        <div class="editor-label">
            @Html.LabelFor(model => model.Name) 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)  
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email) 
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email )  
        </div> 
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Tel1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tel1) 
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)  
        </div>
     
    
         @*//========= Start  Captcha  ========*@
        <div class="editor-label"> 
        </div>
        <div class="editor-field"> 
        <div id="captchaRefresh"> 
            @Html.Captcha("Refresh", null, 5, "ระบุข้อความให้ตรงกับ Captcha", true) @*///// Set Captcha Here*@
        </div> <!-- /#captchaRefresh -->
        </div> 
        @*//========= End  Captcha  ========*@
    
        <div class="editor-label"> 
        </div>
        <div class="editor-field">
            <input type="submit" value="ยืนยัน" class="btnDefault" />
        @Html.ActionLink("ยกเลิก", "Index" , "Home", null, new { @class= "btnDefault" } )
     
        </div>
    
    
}   @* End Html.BeginForm  *@
</div><!-- /.outerForm -->
 

 </div> <!-- /.info-bg3 --> 
 </div> <!-- /.info -->  

</div>  <!-- /#page-Contact -->  
