﻿@{
    ViewBag.Title = "โปรแกรม Tor Browser Bundle";
    Layout = "~/Views/Shared/_Layout442-FrontEnd2.cshtml";
}

<h1>โปรแกรม Tor Browser Bundle</h1>
<style>
    #pageManual { padding: 10px;   padding-bottom: 30px; background-color: #fff; color: #000; height: auto !important; height: 670px; min-height: 70px; }
    #pageManual h3 { font-size: 22px; color: #920C0C; font-weight: bold; font-family: 'DBHelvethaicaX45Li'; }
    #pageManual a { color: #000; text-decoration: underline; }
    #pageManual a:hover { color: #aaa; }

    #pageManual .title { font-weight: bold; font-style: italic; text-decoration: underline; }

    #pageManual  ol { color: #000 ; padding-left: 20px;}
    #pageManual ol li { color: #000; }
</style>
 
<div id="pageManual"> 
 <div id="pageManualContent">
  
 <h3>วิธีติดตั้ง Tor Browser Bundle เพื่อใช้เข้าเว็บไซต์ที่ถูกบล็อค</h3> 
  เราสามารถใช้  “Tor Browser Bundle” เข้าเว็บไซต์  แทนเบราว์เซอร์เดิมของเราได้เลย โดยทำดังนี้<br><br>
  
1. ให้ท่านเข้าไปที่เว็บไซต์ <a href="https://www.torproject.org/" target="_blank">https://www.torproject.org/</a>   และดาวน์โหลด Tor Browser Bundle ให้ตรงกับระบบปฏิบัติการที่ท่านใช้  <br> 
<img src="~/Images/fontend/manual-user/TorBrowser1.jpg"> <br>
<br> 
 <br> 
<a style="color:red;" href="/download/torbrowser-install.zip">สำหรับ windows คลิ๊กที่นี่  </a><br> 
<br> 
 
 
2. เปิดไฟล์ขึ้นมาเพื่อทำการติดตั้ง <br> 
<img src="~/Images/fontend/manual-user/TorBrowser2.jpg"> <br><br> 
 
 3. จะขึ้นป๊อบอัพ Security Warning ให้ท่านกด Run เพื่ออนุญาติรันโปรแกรม <br> 
 <img src="~/Images/fontend/manual-user/TorBrowser_3.jpg"> <br><br> 
 
 4. จะขึ้นป๊อบอัพ Install Language ให้ท่านเลือกภาษาที่ต้องการ <br> 
  <img src="~/Images/fontend/manual-user/TorBrowser_4.jpg"> <br><br> 
  
  5. เลือกที่ๆจะติดตั้งโปรแกรม (ท่านสามารถก๊อปปี้โฟลเดอร์นี้ไปใส่ใน Flash Drive เพื่อเป็นเวอร์ชั่น Portable เพื่อนำใช้ที่ไหนก็ได้) <br> 
      <img src="~/Images/fontend/manual-user/TorBrowser_5.jpg"> <br><br> 
  
  6. จะเริ่มทำการแตกไฟล์ที่หน้า Destop ในโฟลเดอร์ Tor Browser <br> 
   <img src="~/Images/fontend/manual-user/TorBrowser_6.jpg"> <br><br> 
  
  7. หน้านี้จะแสดงเมื่อติดตั้งเสร็จ ให้ท่านกด Finish จะเป็นการเปิดโปรแกรม Tor Browser ให้ทำงาน <br>
   <img src="~/Images/fontend/manual-user/TorBrowser_7.jpg"> <br><br>  
  
  8.  จะมีหน้าต่างแสดง Tor Network Setting แสดงให้ท่านกดปุ่ม Connect  <br> 
   <img src="~/Images/fontend/manual-user/TorBrowser_8.jpg"> <br><br> 
  
 9.  จะแสดงแถบ Tor Status วึ่งกำลัง Connect <br> 
  <img src="~/Images/fontend/manual-user/TorBrowser_9.jpg"> <br><br>  
 
10. หลังเชื่อมต่อเสร็จแล้ว เบราว์เซอร์ “TorBrowser” จะเปิดขึ้นพร้อมปรากฏข้อความ   <br>
" Congratulations!  This browser is configured to use Tor. "  <br>   
แสดงว่าพร้อมสำหรับการใช้งานท่องเว็บแทนการใช้เบราว์เซอร์อื่นๆ  เช่น  Internet Explorer, Mozilla Firefox หรือ Google Chrome  <br> 
<img src="~/Images/fontend/manual-user/TorBrowser_10.jpg"> <br><br><br>

  <br> <br> <br>   
   <h3>วิธีเปิดใช้งาน Flash Player บน Tor Browser</h3> 
 1.   เข้าเมนู Tor Browser เลือก Add On  <br> 
 <img src="~/Images/fontend/manual-user/Flash_Set_TorBrowser_1.jpg"> <br><br><br>

  2.  เลือกแถบ Plugins  <br>  <img src="~/Images/fontend/manual-user/Flash_Set_TorBrowser_2.jpg"> <br><br><br>
 3.  เลือกเปลี่ยนเป็นจาก Naver Activate  ไปเป็น Always Activate <br> 
  <img src="~/Images/fontend/manual-user/Flash_Set_TorBrowser_3.jpg"> <br><br><br>
 4. จะขึ้นป๊อบอัพมา ให้ติ๊กถูกที่ Naver Ask Me Again แล้วกด Yes จากนั้นเวบที่มีเนื้อหาเป็น Flash จะแสดงเป็นปรกติ
 <br> 
  <img src="~/Images/fontend/manual-user/Flash_Set_TorBrowser_4.jpg"> <br><br> 
  
  
 <br> <br> <br> 
 <div class="title">คำเตือนการใช้งาน Tor Browser </div>   
 <ol>
<li> การใช้ Tor คือ ทำให้การรับส่งข้อมูลช้ากว่าปกติ ซึ่งอาจลำบากหากต้องรับส่งไฟล์ขนาดใหญ่</li>
<li>กรณีใช้  Tor เข้าใช้งาน  Facebook  อาจทำให้  Facebook  สับสนนึกว่าบัญชีคุณโดนแฮ็ก เพราะ Tor ได้เปลี่ยนหมายเลข IP ทุกครั้งที่ใช้งาน</li>
<li>ความเสี่ยงออนไลน์จำนวนมาก เกิดจากพฤติกรรมของผู้ใช้งานเอง ซึ่งไม่มีเทคโนโลยีใดช่วยได้</li>
<li>Tor ปกปิดตัวตนของจุดตั้งต้นและเข้ารหัสทุกอย่างภายใต้เครือข่ายของ Tor เอง แต่ไม่ได้เข้ารหัสระหว่างเครือข่าย Tor กับเว็บปลายทาง </li>

</ol>
 
 			<div class="clear"></div>
 
 </div><!-- /#pageManualContent -->
</div>

<!-- /#pageManual -->
