﻿@{
    ViewBag.Title = "download";
    Layout = "~/Views/Shared/_Layout442-FrontEnd2.cshtml"; 
}
  
<h1>ดาวโหลดโปรแกรม</h1>
<style>
    #pageDownload { padding: 10px; width: 100%; padding-bottom: 30px; background-color: #fff; color: #000; height: 670px; }

    #pageDownload .row { clear: both; margin-bottom: 20px; height: auto !important; height: 80px; min-height: 80px; }

    #pageDownload .downloadImage { float: left; width: 245px; margin-right: 10px; }

    #pageDownload .downloadInfo { }
    #pageDownload .downloadInfo a { color: #000; text-decoration: underline; }
    #pageDownload .downloadInfo a:hover { color: #726D6D; }

    #pageDownload .downloadTitle { font-size: 25px; color: #920C0C; font-family: 'DBHelvethaicaX45Li'; }

    #pageDownload .downloadDescript { }
</style>

<div id="pageDownload">

    <div class="row">
        <div class="downloadImage">
         <a href="@Url.Action("DownloadProgram1")" target="_blank"><img src="~/images/fontend/icon-download-program/logo-Teamviewer.png">
</a>

        </div>
        <div class="downloadInfo">
            <div class="downloadTitle">
                โปรแกรม Teamviewer
            </div>
            <div class="downloadDescript">
                <a href="@Url.Action("DownloadProgram1")" target="_blank">เป็นโปรแกรมประเภท รีโมทควบคุมเครื่องคอมพิวเตอร์จากระยะไกล
											เพื่อเชื่อมต่อการทำงานระหว่างเครื่อง PC สองเครื่องที่อยู่ต่างสถานที่กัน
                </a>
            </div>

        </div>
        <!-- /.downloadcInfo -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="downloadImage">
            <a href="@Url.Action("DownloadProgram2")" target="_blank"> <img src="~/images/fontend/icon-download-program/logo-Tor.jpg"></div></a>
        <div class="downloadInfo">
            <div class="downloadTitle">
                โปรแกรม Tor Browser Bundle
            </div>
            <div class="downloadDescript">
                <a href="@Url.Action("DownloadProgram2")" target="_blank">เป็น Browser ที่สามารถใช้เข้าเวบที่ถูก  ICT Block ได้ โดยดัดแปลงมาจาก Firefox แต่เชื่อมต่อกับเครือข่าย Tor (The Onion Router) 
														ทำให้เราสามารถเข้าเวปต่างๆแบบไร้ตัวตนได้ (เหมือนการเปิดดูเวบผ่าน Proxy ) 
														
														 
                </a>
            </div>
        </div>
        <!-- /.downloadcInfo -->
    </div>
    <!-- /.row -->


</div>
