﻿@{
    ViewBag.Title = "โปรแกรม TeamViewer QuickSupport";
    Layout = "~/Views/Shared/_Layout442-FrontEnd2.cshtml";
}

<h1>โปรแกรม TeamViewer QuickSupport</h1>
<style>
    #pageManual { padding: 10px;   padding-bottom: 30px; background-color: #fff; color: #000; height: auto !important; height: 670px; min-height: 70px; }
    #pageManual h3 { font-size: 22px; color: #920C0C; font-weight: bold; font-family: 'DBHelvethaicaX45Li'; }
    #pageManual a { color: #000; text-decoration: underline; }
    #pageManual a:hover { color: #aaa; }

    #pageManual .title { font-weight: bold; font-style: italic; text-decoration: underline; }

    #pageManual  ol { color: #000 ; padding-left: 20px;}
    #pageManual ol li { color: #000; }
</style>
 
<div id="pageManual"> 
 <div id="pageManualContent">
  
 <h3>วิธีติดตั้งและใช้งานโปรแกรม TeamViewer QuickSupport</h3> 
1. ให้ท่านดาวน์โหลดโปรแกรม TeamViewer QuickSupport จากเวบ 
<a href="http://download.teamviewer.com/download/" target="_blank">
http://www.teamviewer.com/th/download</a>
ให้ตรงกับระบบปฏิบัติการที่ท่านใช้  <br>
      

<img src="~/Images/fontend/manual-user/teamview_0.jpg"><br><br>
<a style="color:red;" href="http://download.teamviewer.com/download/TeamViewerQS_th2.exe">สำหรับ windows คลิ๊กที่นี่  </a> <br>
หรือ
<br>
<a style="color:red;" href="/download/TeamViewerQS_th.zip">สำหรับ windows คลิ๊กที่นี่  </a> 
<br>
<br> 
 
2. หลังจากดาวโหลดเสร็จ คลิ๊กไอคอนโปรแกรมTeamViewer.exe  เพื่อติดตั้ง <br>
<img src="~/Images/fontend/manual-user/teamview_1.jpg"><br><br>
3.  ใน windows 7  และ 8  จะถามการอนุญาติในการติดตั้งโปรแกรมก่อน <br>
 <br>  
<img src="~/Images/fontend/manual-user/teamview_2.jpg"><br><br>  
 4.  หน้าจอโปรแกรม TeamViewer จะเปิดขึ้นมา พร้อมแสดงรหัส Your ID และ Password <br>
นำรหัสนี้บอกทีมงาน Support   ทางทีมงานสามารถเข้าไปแก้ไขปัญหาผ่านโปรแกรม  TeamViewer ให้ท่านได้<br>  
<img src="~/Images/fontend/manual-user/teamview_3.jpg"><br><br>  

 
 		<div class="clear"></div> 
 </div><!-- /#pageManualContent -->
</div>

<!-- /#pageManual -->
