﻿@using MVC442.Helper.UT
@model IEnumerable<MVC442.Models.CasinoCat>

@{ 
    Layout = "~/Views/Shared/_Layout442-FrontEnd1.cshtml";
    ViewBag.Title = "Home Page";
    
}


@section Scripts2{
    <script>
        ///// Include FloatBanner only on Page HOME ////////
        $(function () {
            // DialogBasic(true, false, "#dialogBannerFloat", null, 300, 470, "left  Bottom", "left  Bottom", "#bxslider1");
            DialogBasic(true, false, "#dialogBannerFloat", null, 300, 470, "left top+200", "left center", "#bxslider1");

            //\\\\\ dialogPromotion \\\\\\
           // DialogBasic(true, true, "#dialogPromotion", null , 500, 420, "center", "center"); 
           
            //\\\\\\\\\\ Dialog Custom config  
            $("#dialogBannerFloat .bx-wrapper").attr("style", "float:left;width:250px;");

        }); // End Ready
    </script>

            @*
            //\\\\\ dialogPromotion \\\\\\
            @Html.Partial("_DialogPromotion3Partial")
            *@
      
    @if ( Utillity.IsMobileDevice() != true ) {  // hide float banner on Mobile 
        @Html.Partial("_DialogBannerFloatPartial")  //  Banner Gif
    }
     
}
     

<div id="page-home">

    <div class="banercasinoCol-home">

        <div class="title-box">
            <div class="h1-bg1">
                <h3 class="title-th">ฟุตบอล และกีฬา ออนไลน์</h3>
                <h3 class="title-en">SPORT ONLINE</h3>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">


            @*//// Check Firefox (Tor Browser)   &  Is Mobile  Device *@
           
                @if (Utillity.IsBrowserFirefox() == true) { 
                        @Html.Action("SlotLogoPartialStatic", "home", new { type = 1, mobile = true })  // html5 
                } else {
                        if (Utillity.IsMobileDevice() == true) {
                        @Html.Action("SlotLogoPartialStatic", "home", new { type = 1, mobile = true })  // html5
                        }
                        else {
                        @Html.Action("SlotLogoPartialStatic", "home", new { type = 1, mobile = true })
                       // @Html.Action("SlotLogoPartial", "home", new { type = 1, mobile = false })  // Flash   //Pass Paramiter to @Html.Action 
                        }
                }  
      
            

        </div>
        <!-- /.row -->
    </div>
    <!-- /.banercasinoCol-home -->



    <div class="banercasinoCol-home">
        <div class="title-box ">
            <div class="h1-bg2">
                <h3 class="title-th">คาร์สิโน ออนไลน์</h3>
                <h3 class="title-en">CASINO ONLINE</h3>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">


            @*//// Check Firefox (Tor Browser)   &  Is Mobile  Device *@
           
                @if (Utillity.IsBrowserFirefox() == true) { 
                        @Html.Action("SlotLogoPartialStatic", "home", new { type = 2, mobile = true })  // html5 
                }  else {
                        if (Utillity.IsMobileDevice() == true) {
                        @Html.Action("SlotLogoPartialStatic", "home", new { type = 2, mobile = true })  // html5
                        }  else {
                        @Html.Action("SlotLogoPartialStatic", "home", new { type = 2, mobile = false })  // Flash   //Pass Paramiter to @Html.Action  
                        }
                }   
            
        </div>
        <!-- /.row -->
        <div class="clear"></div>
    </div>
    <!-- /.banercasinoCol-home -->





</div>
<!-- /#page-home -->
