﻿@{
    Layout = "~/Views/Shared/_Layout442-FrontEnd2.cshtml"; 
    ViewBag.Title = "OnlineFootball";
}

<div class="title-box">
    <div class="h1-bg5">
        <h3 class="title-th">ดูบอลออนไลน์</h3>
        <h3 class="title-en">ONLINE FOOTBALL</h3>
    </div>
</div>


<!--  xhttp://www.streamhunter.eu/football-live-streaming-video.html -->


<style>
#areaContent {background-color: #FFF; padding-left: 0px; width: 100%; padding-bottom: 30px;}
#iframeMask { position: relative; overflow: hidden; width: 655px;   height: 1000px;  margin:0px auto ; top: 50px;}
#iframeContent { position: absolute; overflow-x: hidden; overflow-y: hidden; top: -190PX; left: -10PX;   width:680px; height:630px;}

</style>
<div id="areaContent">

    <div id="iframeMask">
    
            <iframe src="http://www.livesoccertv.com/"  scrolling="NO" frameborder="0"  id="iframeContent"></iframe>
        
    </div>
</div>



