﻿
@{
    ViewBag.Title = "Promotion";
    Layout = "~/Views/Shared/_Layout442-FrontEnd2.cshtml";
}


<style>
    #pagePromotion  { 
    padding: 10px;
    width: 100%;
    padding-bottom: 30px;
    background-color: #fff;
    color: #000;
    height: 670px;
    }
     #pagePromotion h4 {  font-family: 'DBHelvethaiCamon';     font-size:26px;  line-height: 28px; }
    #pagePromotion p { color:#000; line-height:25px; margin-bottom:10px; }
    #pagePromotion  .star{color:#ff0000 ;  font-size:12px; line-height: 16px; }

        #pagePromotion ol {
    padding-left:20px;
        }
     #pagePromotion  ol li{   
     list-style:decimal ; color:#000
     }
            #pagePromotion ul {
    padding-left:20px;
        }

    #pagePromotion  ul li{ 
     list-style:disc ; color:#000
     }


</style>
<h1>โปรโมชั่นพิเศษ ต้อนรับเปิดสนามพรีเมียร์ลีก</h1> 

<div id="pagePromotion">

    <div class="row">
        <h4> ร่วมสนุกทายผลฟุตบอล พรีเมียร์ลีกแต่ละคู่  <br /> ทายผลสกอร์ถูกรับทันที เงินสดจำนวน 4,420 บาท เพียงเป็นสมาชิกกับทาง 4-4-2</h4>
   
        <br /> 
        <strong> เงื่อนไขการร่วมสนุก</strong>
        <ol>
        <li>1 สมาชิก ได้ 1 สิทธิ์ในการทายผล (คนที่มีหลายยูสเซอร์สามารถทายได้ 1 สิทธ์) </li>
        <li>ยูสเซอร์ที่ได้สิทธิ์จะต้องมียอดเล่นในอดีตอยู่บ้างหรือเล่นเป็นประจำ</li>
        <li>ทายผลสกอร์ถูก รับทันที เงินสด จำนวน 4,420 บาท  จะเพิ่มเป็นเครดิตในยูสเซอร์นั้นๆ<br />ให้สามารถถอนเป็นเงินสดได้ผ่านบัญชีหลักเท่านั้น </li>
        <li>สิ้นสุดการทายผลก่อนบอลลงสนามของแต่ละคู่  </li>
        <li>เริ่มทายผลตั้งแต่เวลา 16.00 น  ของวันเสาร์ ที่ 8 ส.ค. 2558  เท่านั้น </li>
           </ol>
         
        <br /> 
        <p class="star">
        ** โปรโมชั่นนี้จัดทำขึ้นเพื่อสร้างความสนุกสนานตอบแทนให้กับเพื่อนๆสมาชิกที่ดีกับเราเสมอมา และฝากเงินกับเราตลอดที่ผ่านมา <br />
           โปรดอย่าใช้ช่องว่างใดๆหาผลประโยชน์ หากมีการกระทำใดๆที่เป็นการหาผลประโยช์ ทางเราจำเป็นต้องยกเลิกรางวัลและโปรโมชั่นนี้ทันที
       </p>
 
         

        <strong> วิธีการทายผล</strong>
        <ul>
            <li>ใช้เบอร์โทรหลักที่ใช้ลงทะเบียนเป็นสมาชิกกับทางเรา ส่งข้อความผ่านมือถือ  SMS  เพื่อแสดงว่าเป็นเบอร์หลักและเป็นสมาชิกจริง</li>
            <li>ทายผลสกอร์จบการแข็งขันของแต่ละคู่ ส่งเป็นข้อความ SMS  มาที่เบอร์  083-7333331  เท่านั้น</li>
            <li>เบอร์โทรศัพท์ที่ไม่ได้เป็นสมาชิก จะไม่ได้รับสิทธิ์และไม่มีผลรางวัลใดๆทั้งนั้น</li>
        </ul>

        <br /> 
        <p>  ขอบคุณเพื่อนสมาชิกทั้งเก่าและเก่ามากๆ ที่ให้ความไว้วางใจกับทางเราตลอดมา   </p><br />
        <p>
            www.4-4-2.fm, www.4-4-2.im <br />
            <img src="~/Images/fontend/socail/socail_line.png" />    Line ID: 4-4-2
        </p>
    </div>

    <!-- /.row -->
</div>