﻿@{
    ViewBag.Title = "radio2";
    Layout = null;
}
<style>

body {
font-size:13px;
color:#fff;  
} 

h2 {
font-size:16px; 
}
</style>


  <h2>FM 99 - Sport Radio</h2> 

<script type="text/javascript" src="~/Scripts/442Script/jwplayer/jwplayer.js"></script>
<div id="mediaplayer2">JW Player goes here</div>
<script type='text/javascript'> 
jwplayer('mediaplayer2').setup({ 
'flashplayer': 'Scripts/442Script/jwplayer/player.swf',
'file': 'fm99.stream', 
'bufferlength': '3', 
'streamer': 'rtmp://122.155.18.155/radio',  
'autostart': 'true', 
'controlbar': 'bottom', 
'width': '210', 
'height': '24', 
'skin': 'Scripts/442Script/jwplayer/skins/simple.zip'
}); 
</script> 

<div  class="notation">ทาง mcot กำลังปรับปรุงระบบอาจฟังไม่ได้ กด<br />
 Play เรื่อยๆจนกว่าเสียงจะมา (ราวๆ 8-9 ครั้ง)</div>