﻿@{
    ViewBag.Title = "radio1";
     Layout =  null;
    
    
}
<style>

body {
font-size:13px;
color:#fff;  
} 

h2 {
font-size:16px; 
}
</style>
 
 <script type="text/javascript" src="./FM 96 SportRadioThai_files/swfobject.js"></script>
 <div id="flashcontent1">
 <embed type="application/x-shockwave-flash" src="http://v2.thaileagueonline.com/nativeradio/nativeradio2small.swf" width="150" height="50" style="undefined" id="nativeradio2small" name="nativeradio2small" allowscriptaccess="always" bgcolor="#550000" quality="high" scale="noscale" flashvars="swfcolor=bea44a&amp;swfwidth=150&amp;swfradiochannel=&amp;swfstreamurl=http://202.162.77.38:8000/SportRadio&amp;swfpause=0"></div>
                        
                        <script type="text/javascript">
                            // <![CDATA[
                            var so = new SWFObject("http://v2.thaileagueonline.com/nativeradio/nativeradio2small.swf", "nativeradio2small", "150", "50", "10", "#cccccc");
                            so.addParam("scale", "noscale");
                            so.addVariable("swfcolor", "d1c275");
                            so.addVariable("swfwidth", "150");
                            so.addVariable("swfradiochannel", ""); //96 FM - Sport Radio
                            so.addVariable("swfstreamurl", "http://202.162.77.38:8000/SportRadio");
                            so.addVariable("swfpause", "0");
                            so.write("flashcontent1"); 
                            // ]]>
                        </script> 
