﻿@{
 
    Layout = "~/Views/Shared/_Layout442-FrontEnd2.cshtml";
    ViewBag.Title = "livescore";

    var today = DateTime.Now.ToString("yyyy-M-d"); 
}

@*@today*@

<div class="title-box">
    <div class="h1-bg3">
        <h3 class="title-th">ผลการแข่ง</h3>
        <h3 class="title-en">SCORE FOOTBALL</h3>
    </div>
</div>

<!--   
 xhttp://www.scorespro.com/free-livescore/
-->

<style> 
#areaContent {background-color: #FFF; padding-left: 0px; width: 100%; padding-bottom: 30px; min-height:1020px; padding-bottom: 30px;   }
#areaContent  .cradit {  color:#000;  text-indent:30px;}
#iframeMask {  position: relative; overflow : scroll ;  overflow-x: hidden; 
                width: 670px; height: 900px;   margin:0px auto ; top: 20px;  margin-bottom:30px; /*border: 1px solid;*/ }
#iframeContent { position: absolute; top: -1050px; left: 0px;  width: 780px; height: 2900px; /*height: 650px;*/  }

</style>

<div id="areaContent">
    <div id="iframeMask"> 
        <!--  
        <iframe src='http://data2.7m.cn/result_data/default_th.shtml?date=@today'  id="iframeContent"  frameborder="0" scrolling="Yes"  ></iframe>
        -->

        <iframe src='http://football.kapook.com/result.php' id="iframeContent"  scrolling="No"  frameborder="0" ></iframe>
  
         </div>  <!-- end   id="iframeMk"---->

    <div class="cradit">ขอบคุณข้อมูลจาก www.kapook.com </div>
 


</div>  <!-- /#areaContent   -->

