﻿@{
    Layout = "~/Views/Shared/_Layout442-FrontEnd2.cshtml";
    ViewBag.Title = "TableScore";
}
<div class="title-box">
    <div class="h1-bg5">
        <h3 class="title-th">คะแนนลีก</h3>
        <h3 class="title-en">SCORE LEAGE</h3>
    </div>
</div>

<div id="areaContent">

    <script>
        $(function () {
            var iframeContent = $("#iframeMask iframe");
            var scoreLeageLinks =
                    ['http://football.kapook.com/%E0%B8%9E%E0%B8%A3%E0%B8%B5%E0%B9%80%E0%B8%A1%E0%B8%B5%E0%B8%A2%E0%B8%A3%E0%B9%8C%E0%B8%A5%E0%B8%B5%E0%B8%81/table',
                    'http://football.kapook.com/%E0%B8%A5%E0%B8%B2%E0%B8%A5%E0%B8%B5%E0%B8%81%E0%B8%B2/table',
                    'http://football.kapook.com/%E0%B9%84%E0%B8%97%E0%B8%A2%E0%B8%9E%E0%B8%A3%E0%B8%B5%E0%B9%80%E0%B8%A1%E0%B8%B5%E0%B8%A2%E0%B8%A3%E0%B9%8C%E0%B8%A5%E0%B8%B5%E0%B8%81/table',
                    'http://football.kapook.com/%E0%B8%9A%E0%B8%B8%E0%B8%99%E0%B9%80%E0%B8%94%E0%B8%AA%E0%B8%A5%E0%B8%B5%E0%B8%81%E0%B8%B2/table',
                    'http://football.kapook.com/%E0%B9%80%E0%B8%8B%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%AD%E0%B8%B2/table',
                    'http://football.kapook.com/%E0%B8%A5%E0%B8%B5%E0%B8%81%E0%B9%80%E0%B8%AD%E0%B8%B4%E0%B8%87/table'
                    ];

            iframeContent.attr("src", scoreLeageLinks[0]);

            $("#scoreLeageMenu li").click(function () {

                var index = $(this).index();
                //console.log(index); 

                iframeContent.attr("src", "");
                iframeContent.attr("src", scoreLeageLinks[index]);

            })
        });

    </script>

        <style>
        #scoreLeageMenu { padding-top: 10px;  }
        #scoreLeageMenu ul { margin-left: 50px;
height: 30px;  } 
        #scoreLeageMenu ul li { color: #000; float: left; margin-left: 10px; background-color: #f4cc52; padding: 4px 10px; } 
        #scoreLeageMenu ul li:hover { background-color: #F0D582; } 
        .tableDescript { margin-left: 70px; margin-top: 20px; margin-bottom: 20px;}
        .tableDescript .abb { font-weight: bold; color: #F60; }
        </style>

    <div id="scoreLeageMenu">
        <ul>
            <li>พรีเมียร์ลีก</li>
            <li>ลาลีกา</li>
            <li>ไทยพรีเมียร์ลีก</li>
            <li>บุนเดสลีกา</li>
            <li>เซเรียอา</li>
            <li>ลีกเอิง</li>
        </ul>
    </div>

    <style>
        #areaContent { background-color: #FFF; padding-left: 0px; width: 100%; padding-bottom: 30px; min-height: 600px; } 
        #areaContent  .cradit {  color:#000;  text-indent:30px;}
        #iframeMask { position: relative; overflow: hidden; width: 600px; height: 1000px; margin: 0px auto; top: 20px; margin-bottom:30px; } 
        #iframeContent { position: absolute; overflow-x: hidden; overflow-y: hidden; top: -1150px; width: 600px; height: 2000px; }  
    </style>

    <div class="tableDescript">
        <span class="abb">P</span> แข่ง  / <span class="abb">W</span> ชนะ / <span class="abb">D </span>เสมอ / <span class="abb">L </span>แพ้  
    <span class="abb">GF</span> ได้ประตู  / <span class="abb">GA </span>เสียประตู / <span class="abb">GD </span>รวมประตูได้เสีย / <span class="abb">Pts </span>คะแนนรวม 
    </div>

    <div id="iframeMask">
        <iframe src="" id="iframeContent" scrolling="no" frameborder="0"></iframe>
    </div>
    <!-- end   id="iframeMask"---->


<div class="cradit">ขอบคุณข้อมูลจาก www.kapook.com </div>

</div><!-- areaContent -->

<br />
<br />
