﻿@using PagedList 
 
@model IEnumerable<MVC442.Models.ViewModel.WebLinkCasinoVM> 
 
 
    
 @foreach (var item in Model) {

     using (Ajax.BeginForm("EditAjax", "WebLinkCasino", null ,  // Add ActionName  , Controller , RouteValues
    new AjaxOptions {
        HttpMethod = "POST",
        OnSuccess = "SuccessMessage",
        OnFailure = "FailMessage",
         UpdateTargetId = "resultTarget"   // Set  ID  For Update Data  
        // InsertionMode = InsertionMode.Replace, 
        // LoadingElementId = "loader" //  Set  ID & image .gif (To shown when data  loading )

    }//, new { id = "MyNewNameId" } // Set Custom name Id for Form

    )) {  
               

    <tr>  
        <td>
            @Html.DisplayFor(modelItem => item.IdCon)
            @Html.HiddenFor(modelItem => item.IdCon)
        
        </td> 
        <td>
            @Html.DisplayFor(modelItem => item.CatNameThShow)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCasinoCat)

        </td>

            <td>

           @Html.EditorFor(modelItem => item.WebName)
                
        </td>

    @*    <td>
            @Html.DisplayFor(modelItem => item.ConType)
        </td>*@
        <td>
 
           @* @Html.ActionLink(item.CatLink  ,"create"  )*@

          @Html.EditorFor(modelItem => item.WebLink) 
        

        </td>

               <td>
            @Html.DisplayFor(modelItem => item.InputDateDisplay)
        </td>

 
         
        <td> 
        
 @*     @Ajax.ActionLink("แก้ไข", "EditAjax", "WebLinkCasino" ,   new { id=item.IdCon, type= reqIdCasinoCat, WebLink=item.WebLink, WebName=item.WebName },
      new AjaxOptions  {
        HttpMethod = "POST", 
        OnComplete = "editAjaxComplete"  
       },                                                                
     new { @class="btnDefault" }        
     )  *@

               <input type="submit" value="Edit" class="btnDefault"  />


@*      @Ajax.ActionLink("ลบ", "Delete", new { id = item.IdCon , type = reqIdCasinoCat },
       new AjaxOptions {
           HttpMethod = "POST",
           Confirm = "ยืนยันลบข้อมูล?",
           OnComplete = "deleteComplete"
       },
     new { @class = "btnDefault" }
      )  *@


        </td> 
    

 </tr>
           
     } @* // end Ajax.BeginForm *@   
    
     
  } @*// end foreach*@   

 