﻿@model MVC442.Models.ViewModel.WebLinkCasinoVM

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Create";
    int reqCat = Convert.ToInt32(Request.QueryString["cat"]);
      int reqType = Convert.ToInt32(Request.QueryString["type"]);
   // int reqType = Request.QueryString["type"] == null ? 0 : Convert.ToInt32(Request.QueryString["type"]); // sst  default  value if querystring  is null
}
 

<h2>Create </h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true) 
     @Html.HiddenFor(model => model.IdCasinoCat)

    
        @*
        <div class="editor-label">
            @Html.LabelFor(model => model.IdCasinoCat, "CasinoCat")
        </div>
        <div class="editor-field">   
        ////// DropDown By @Html.Action  ( Be CareFull  Action in  Controller don't  under  [Authorize] ) ////////
        @Html.Action("CasinoCatsPartial", "Base", new { ddlIdName = "myCustomName1", idCasinoCat = Model.IdCasinoCatSelected, cat = reqCat })
        @Html.ValidationMessageFor(model => model.IdCasinoCatSelected) 
        </div> 
         *@ 
    
    
    
        @Html.HiddenFor(model => model.ConType)

        @*  
        ///////// Html Helper for RadioButton ///////////// 

        <div class="editor-label">
        @Html.LabelFor(model => model.ConType)
        </div>
        <div class="editor-field"> 
        <label>@Html.RadioButton("ConType", "1"  , true ) Sport</label>
        <label>@Html.RadioButton("ConType", "2"   ) Casino</label> 
        </div>
        *@

        <div class="editor-label">
            @Html.LabelFor(model => model.WebName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebName)
            @Html.ValidationMessageFor(model => model.WebName)
        </div>
    
    
        <div class="editor-label">
            @Html.LabelFor(model => model.WebLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebLink)
            @Html.ValidationMessageFor(model => model.WebLink)
        </div>
    
    @* 
    <div class="editor-label">
        @Html.LabelFor(model => model.SortDisplay)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.SortDisplay)
        @Html.ValidationMessageFor(model => model.SortDisplay)
    </div>
    *@

    
     <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    
    
     
        <div class="editor-label"> 
        </div>
        <div class="editor-field">
               @Html.ActionLink("< ย้อนกลับ", "GameList" ,   new{type = reqType , cat = reqCat }  , new {@class="btnDefault"  } )
        <input type="submit" value="สร้าง"   class="btnDefault" />
     
        </div>
    
}

 

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
