﻿@using CaptchaMvc.HtmlHelpers

@model MVC442.Models.ViewModel.WebLinkCasinoVM

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Edit";
  //  int reqType = Convert.ToInt32(Request.QueryString["type"]);
 
}

@{
    //// Get PageName from   Request.QueryString[ ] //////
    if (Model.IdCasinoCat <= 3 ) {
    @:<h2>Sport Online - Edit </h2>
        }
    else {
    @:<h2>Casino Online - Edit </h2>
        }
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)  
    
    @Html.HiddenFor(model => model.IdCon)
     @Html.HiddenFor(model => model.IdCasinoCat)
      @Html.HiddenFor(model => model.ConType)

@*
<div class="editor-label">
@Html.LabelFor(model => model.No)
</div>
<div class="editor-field">
@Html.DisplayFor(model => model.No)
</div>
*@ 
    
@*   
<div class="editor-label">
@Html.LabelFor(model => model.IdCasinoCat, "CasinoCat")
</div> 
<div class="editor-field">   
///// DropDown By @Html.Action  ( Be CareFull  Action in  Controller don't  under  [Authorize] )  
@Html.Action("CasinoCatsPartial", "Base", new { DdlIdName = "myCustomName1", IdCasinoCatSelected = Model.IdCasinoCatSelected, type = reqType })  
@Html.ValidationMessageFor(model => model.IdCasinoCatSelected)
</div>
*@
    
     
    
  

@*
        <div class="editor-label">
            @Html.LabelFor(model => model.ConType)
        </div>
        <div class="editor-field"> 
        <label>@Html.RadioButton("ConType", "1" ) Sport</label> 
        <label>@Html.RadioButton("ConType", "2" ) Casino</label> 
        @Html.ValidationMessageFor(model => model.ConType)
        </div> 
    *@
     
    <div class="editor-label">
        @Html.LabelFor(model => model.WebName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.WebName)
        @Html.ValidationMessageFor(model => model.WebName)
    </div>
    
    
    <div class="editor-label">
        @Html.LabelFor(model => model.WebLink)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.WebLink)
        @Html.ValidationMessageFor(model => model.WebLink)
    </div>

 
    
     <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>

    
  
    <div class="editor-label">
    </div>
    <div class="editor-field">
     
        @Html.ActionLink("< ย้อนกลับ", "GameList",  new{ type= Model.ConType , cat = Model.IdCasinoCat }  , new { @class = "btnDefault" })
           <input type="submit" value="ยืนยัน" class="btnDefault" />
    </div>
          
      
    
}



@section Scripts {
    @* @Scripts.Render("~/bundles/jqueryval")*@
}
