﻿@*////// Add PageList//////// *@
@using PagedList  
@*@using PagedList.Mvc*@  

@model IEnumerable<MVC442.Models.ViewModel.CasinoCatVM> 
 
@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Index"; 
    int reqType = Convert.ToInt32(Request.QueryString["type"]);
 } 

@{
    //// Get Page name from   Request.QueryString[ ] //////
    if (reqType == 1) {
            @:<h2>Sport Online </h2> 
        } else{
            @:<h2>Casino Online </h2>  
        }
}
 
@*<p>
    @Html.ActionLink("Create New", "Create", new { type = reqType } , new { @class = "btnDefault" })
</p>*@


 @foreach(var item in Model){
      
     <div class="logocasino col-xs-4 col-sm-4">
        <div  > 
            
            <a href="@Url.Action( "GameList"  , new { type = reqType ,  cat = @item.IdCasinoCat }  )">
            <img src="~/Images/fontend/logoCasino/logo-casino@(@item.IdCasinoCat).jpg" />
            </a>

        </div>
        <div class="casinoName"  >@item.CatNameTh</div>
        
   
         
   </div><!--//-->  
  
 } @*// End foreach*@
 
 

 