﻿@model  MVC442.Models.ViewModel.WebLinkCasinoCriteria 
@{ 
    Layout = null;
   // Layout = "~/Views/Shared/_Layout442-Backend1.cshtml"; 
    int reqType = Request.QueryString["type"] == null ? 0 : Convert.ToInt32(Request.QueryString["type"]); // sst  default  value if querystring  is null
    var IdCasinoCatSelected = ViewBag.IdCasinoCatSelected ;
}
 

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script> 
<script>
    //\\\\\\\ JS  retrun message SucccessPost or FailPost
    function SuccessMessage(result) {
        $("#ajax-main").html(result);
        alert("Succcess Post");
    }
    function FailMessage() {
        alert("Fail Post");
    }
</script>

 

<h1>Search</h1> 

@using (Ajax.BeginForm("IndexSearch", "WebLinkCasino", null, 
    new AjaxOptions {
    HttpMethod = "POST",
    OnSuccess = "SuccessMessage",
    OnFailure = "FailMessage" ,
    UpdateTargetId = "resultTarget",// Set  ID  For Update Data  
    InsertionMode = InsertionMode.Replace,
    //  LoadingElementId = "loader" //  Set  ID & image .gif (To shown when data  loading )
} // , new { id = "MyNewNameId" })) // Set Custom name Id for Form 
))
{
    @Html.AntiForgeryToken()
     
@Html.LabelFor(model => model.WebName) @: 
@Html.EditorFor(model => model.WebName)    <span>  </span>
@Html.LabelFor(model => model.Description) @:
@Html.EditorFor(model => model.Description)    <span>  </span>
 
@Html.Action("CasinoCatsPartial", "Base", new { ddlIdName = "myCustomName1", idCasinoCat = Model.IdCasinoCatSelected , type = reqType } )<span>  </span>  
      
  
@*   
<hr> 
@Html.DropDownListFor(model => model.SelectListItems ,  new SelectList(Model.SelectListItems , "Value", "Text") , "======= Select ========", new { @class = "select" }) 
*@ 

<input type="submit" value="Search" /> 
<div id="resultTarget"> </div>  
    
}
 


 