﻿@*////// Add PageList//////// *@
@using PagedList  
@*@using PagedList.Mvc*@  

@model IEnumerable<MVC442.Models.ViewModel.WebLinkCasinoVM> 
 
@{
Layout = "~/Views/Shared/_Layout442-Backend1.cshtml"; 
int reqCat  =  Convert.ToInt32( Request.QueryString["cat"] ) ;
// int CountItem = ViewBag.Cont;  //\\  Count Item From Query  
}

 
<script>
    //\\\\\\\ JS  retrun message SucccessPost or FailPost 
    function SuccessMessage() {
        alert("Succcess Post");
    }
    function FailMessage() {
        alert("Fail Post");
    } 
</script>

<table  class="dataList">
    <tr>
 
<th> 
ชื่อ Casino
</th>
 
<th> 
@Html.DisplayNameFor(model => model.WebName)
</th>
        
*@
<th>
@Html.DisplayNameFor(model => model.WebLink)
</th>

<th> 
จัดการ  
</th>
 </tr>

     
 @foreach (var item in Model) {

     using (Ajax.BeginForm("EditAjax", "WebLinkCasino", null ,  // Add ActionName  , Controller , RouteValues
    new AjaxOptions {
        HttpMethod = "POST",
        OnSuccess = "SuccessMessage",
        OnFailure = "FailMessage",
         UpdateTargetId = "resultTarget"   // Set  ID  For Update Data  
        // InsertionMode = InsertionMode.Replace, 
        // LoadingElementId = "loader" //  Set  ID & image .gif (To shown when data  loading )

    }//, new { id = "MyNewNameId" } // Set Custom name Id for Form

    )) {  
               

    <tr>  
        <td>
            @Html.DisplayFor(modelItem => item.IdCon)
            @Html.HiddenFor(modelItem => item.IdCon)
        
        </td> 
 
 

        <td> 
           @Html.EditorFor(modelItem => item.WebName) 
        </td>
  
        <td> 
          @Html.EditorFor(modelItem => item.WebLink)  
        </td>

   
        <td>  
        <input type="submit" value="Edit" class="btnDefault"  /> 
        </td> 
    

 </tr>
           
     } @* // end Ajax.BeginForm *@   
    
     
  } @*// end foreach*@   

    
     
      

</table>

    

  

<script >
    /////// reload after delete by Ajax
    function deleteComplete() {
        window.location.reload();
    } 

</script>
