﻿
<!--////  Section  Banner Float   -->

<div id="dialog"  >  
@*style="margin-bottom:5px; position:absolute; left:20px; top:200px;z-index:111 ; width:200px;  "*@

<ul id="bxslider3" height="200px" >
<li>
<img src="~/images/fontend/banner/442big_bonus_01.gif" title="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์" alt="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์"></li>
<li><img src="~/images/fontend/banner/442big_bonus_02.gif" title="แทงบอลผ่านเน็ต sbobet,เล่นบอล Sbo" alt="แทงบอลผ่านเน็ต sbobet,เล่นบอล Sbo">
</li>
<li>
<img src="~/images/fontend/banner/442big_bonus_03.gif" title="แทงบอลผ่านเน็ต sbobet,เล่นบอล Sbo" alt="แทงบอลผ่านเน็ต">
</li>
<li>
<img src="~/images/fontend/banner/442big_bonus_04.gif" title="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์" alt="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์">
</li>
</ul>
  </div> 

 