﻿<div class="demo-wrap">
<ul id="bxslider1">
<li><img src="~/Images/fontend/BannerTop/BannerTop1.jpg"  width="1170" /></li>
<li>
<iframe width="992" height="464" src="//www.youtube.com/embed/2ElxeOmqWnk?controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
</li>
<li>
<iframe width="992" height="464" src="//www.youtube.com/embed/mV3L8e355d8?controls=0&modestbranding=1&rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
</li> 
</ul>
 </div>