﻿@model MVC442.Models.ClientMessage
 

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true) 

     
        <div class="editor-field">
            @Html.EditorFor(model => model.Tel)
            @Html.ValidationMessageFor(model => model.Tel)
        </div>
      
        <p>
            <input type="submit" value="ตกลง" />
        </p>
    
}