﻿
<div class="credit-box"> 
<ul>
<li class="visa"><a href="http://www.visa.com/globalgateway/gg_selectcountry_ng.jsp" target="_blank" rel="nofollow"><img src="~/images/fontend/creadit/creadit_01.png"><span>visa</span></a></li>
<li class="master"><a href="http://www.visa.com/globalgateway/gg_selectcountry_ng.jsp" target="_blank" rel="nofollow"><img src="~/images/fontend/creadit/creadit_02.png"><span>visa electron</span> </a></li>
<li class="diner"><a href="http://www.mastercard.com/index.html" target="_blank" rel="nofollow"><img src="~/images/fontend/creadit/creadit_03.png"><span>mastercard</span> </a></li>
<li class="isle"><a href="http://www.maestrocard.com/gateway/index.html" target="_blank" rel="nofollow"><img src="~/images/fontend/creadit/creadit_04.png"><span>maestro</span></a></li>
<li class="gamecare"><a href="http://www.citibank.co.th/global_docs/dinersclub/index.htm" target="_blank" rel="nofollow"><img src="~/images/fontend/creadit/creadit_05.png"><span>diners club</span></a></li>
<li class="gamecare"><a rel="nofollow"><img src="~/images/fontend/creadit/creadit_08.png"><span>wire transfer</span></a></li>
<li class="gamecare"><a rel="nofollow"><img src="~/images/fontend/creadit/creadit_06.png"><span>Isle_of_Man_coat_of_arms</span></a></li>
<li class="gamecare"><a rel="nofollow"><img src="~/images/fontend/creadit/creadit_07_new.png"><span>gamecare</span></a></li>
</ul> 
 </div>
<div class="clear"></div>
<div class="footLink"> 
<ul>  
<li><a href="http://www.442.im/home">แทงบอลผ่านเน็ต</a> | </li>  
<li><a href="http://www.442.im/">แทงสเต็ป</a> | </li>
<li><a href="http://www.442.im/">บาคาร่าออนไลน์</a> | </li>
<li><a href="http://www.442.im/home">Sbobet</a> | </li>
<li><a href="http://www.442.im/home">Ibcbet</a></li>
</ul> 
 </div>
<div class="clear"></div>
<div class="copyright">This site support iOS (iPhone & iPad) & Andriod Copyright © 442.im All Rights Reserved.</div>