﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - 442.im  แทงบอล เล่นพนันบอลออนไลน์ผ่านเน็ต แทงสเต็ปบอล Sbobet Ibcbet เล่นบาคาร่าออนไลน์ จีคลับ</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
      
   @* //============== Default MVC4 *@
     @Styles.Render("~/Content/css")  
     @Styles.Render("~/Content/themes/base/css")  

     @Scripts.Render("~/bundles/modernizr")
     @Scripts.Render("~/bundles/jquery")  
     @Scripts.Render("~/bundles/jqueryui")  
     @Scripts.Render("~/bundles/jqueryval")  
      
   @* //=================== 442.im JavaScript *@
     @Styles.Render("~/Content/css442")  
   
     @RenderSection("Scripts" , required: false )  
   
   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</head>
<body>  
           <div class="containerHeader">
            <!-- Just Small Button For 767px -->
            <div class="navbar-header">
        
           <!-- Button For Small Display --> 
                <header>
                    <div  class="col-sm-3"     >
                 <a class="navbar-brand  visible-xs" href="@Url.Action("Index", "Home" )"><img src="~/Images/fontend/logo442-xs.png" /></a>
                 <a class=" hidden-xs" href="@Url.Action("Index", "Home" )"   > <img src="~/Images/fontend/Logo442.png" /> </a>
                    </div>
                             
<!-- ////Facebook Like Count  --> 
    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
  </header> 
    </div>  
 
        
         </div>
        <!-- /.containerHeader -->
    </div>
    <!-- /.navbar -->
    <div class="container">
        <div class="wrapper">
            <div class="row row-offcanvas row-offcanvas-right">
                <div class=" col-sm-12">
                 
                    @RenderBody() 
                </div>
                <!--/span-->
          
            </div>
            <!--/row-->
        </div>
        <!--/.wrapper-->
   
    </div>
    <!--/.container--> 

    <!--/////////// 442live  Analytic --> 
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28786480-1']);
    _gaq.push(['_setDomainName', '442.im']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script> 
</body>
</html>