﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - 442.im  แทงบอล เล่นพนันบอลออนไลน์ผ่านเน็ต แทงสเต็ปบอล Sbobet Ibcbet เล่นบาคาร่าออนไลน์ จีคลับ</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
 
   @* //============== Default MVC4 *@
   
     @Styles.Render("~/Content/themes/base/css")  
 
     @Scripts.Render("~/bundles/modernizr")
     @Scripts.Render("~/bundles/jquery")  
     @Scripts.Render("~/bundles/jqueryui")  
     @Scripts.Render("~/bundles/jqueryval")  
      
   @* //=================== 442.im JavaScript *@
       @*@Styles.Render("~/Content/css") *@ 
    @Styles.Render("~/Content/styles")
    
     

    @RenderSection("Scripts" , required: false )  

    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body>  
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="containerHeader">
            <!-- Just Small Button For 767px -->
 <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
           <!-- Button For Small Display --> 
                <header>
                    <div  class="col-sm-3"     >
                        
                    <a class="navbar-brand  visible-xs" href="@Url.Action("Index", "Home" )"><img src="~/Images/fontend/logo442-xs.png" /></a>
                    <a class=" hidden-xs" href="@Url.Action("Index", "Home" )"   > <img src="~/Images/fontend/Logo442.png" /> </a>
                    </div>
                    <div class="col-sm-9 hidden-xs"   style=" background:url(../Images/fontend/tel.png) no-repeat  right bottom ;"  >  
                    <div class="btn-social"> 
                    <div style="float:left; ">
                    <a href="http://www.facebook.com/pages/442im/523538954328861" target="_blank"> <img src="http://442.im/images/update2012/socail/socail_01.png" width="32" height="32"></a>
                    <a href="https://twitter.com/442im" target="_blank"> <img src="http://442.im/images/update2012/socail/socail_02.png" width="32" height="32"></a>
                    <a href="https://plus.google.com/u/0/107840801575774500136/" target="_blank"> <img src="http://442.im/images/update2012/socail/socail_03.png" width="32" height="32"></a>
                    <a href="http://www.youtube.com/user/442im?feature=mhee" target="_blank"> <img src="http://442.im/images/update2012/socail/socail_04.png" width="32" height="32"></a>
                    </div>                
<!-- ////Facebook Like Count  --> 
<div class="btn-likecount">
<div class="fb-like fb_edge_widget_with_comment fb_iframe_widget" data-href="http://www.facebook.com/pages/442im/523538954328861" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-colorscheme="dark" fb-xfbml-state="rendered"><span style="height: 20px; width: 81px;"><iframe id="f104d4adfc" name="f121cd54f" scrolling="no" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?api_key=&amp;channel_url=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D28%23cb%3Df1dfcdcb18%26domain%3D442.im%26origin%3Dhttp%253A%252F%252F442.im%252Ff36e515164%26relation%3Dparent.parent&amp;colorscheme=dark&amp;extended_social_context=false&amp;href=http%3A%2F%2Fwww.facebook.com%2Fpages%2F442im%2F523538954328861&amp;layout=button_count&amp;locale=en_GB&amp;node_type=link&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=450" style="border: none; overflow: hidden; height: 20px; width: 81px;"></iframe></span> 
</div>  
</div> 
  </header> 
 </div>  
         @*======== Navigation ======*@
         @Html.Partial("_NavFrontEndPartial"  )  
         @*======== Test RenderSection ======*@
         @* @RenderSection("Test" , required: false ) *@


         @*======== Banner Top ======*@
         @Html.Partial("_BannerTopPartial"  )  
       
         </div>
        <!-- /.containerHeader -->
    </div>
    <!-- /.navbar -->
    <div class="container">
        <div class="wrapper">
            <div class="row row-offcanvas row-offcanvas-right">
                <div class=" col-sm-9">
                    <p class="pull-right visible-xs"> 
                       @* <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>*@
                          <button type="" class="btn btn-primary btn-xs" data-toggle="offcanvas"> </button>
                    </p>  
                    @RenderBody() 
                </div>
                <!--/span-->
                <div class="col-xs-6  col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                 @*======== SideBar ======*@
                 @Html.Partial("_SidebarPartial"  )  
                </div>
                <!--/span-->
            </div>
            <!--/row-->
        </div>
        <!--/.wrapper-->
         <footer >
                @Html.Partial("_FooterFrontEndPartial")
         </footer>
    </div>
    <!--/.container--> 

    <!--/////////// 442live  Analytic --> 
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28786480-1']);
    _gaq.push(['_setDomainName', '442.im']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script> 
      @*======== Banner Float ======*@
         @Html.Partial("_BannerFlaotPartial")
</body>
</html>