﻿@{
    ViewBag.Title = "_NavBackendPartial";
}

<div class="collapse navbar-collapse">
 

@*//===================  Bootstap Menu ======================*@
<ul class="nav nav-pills  navbar-nav">

    <li class="active">@Html.ActionLink("Home", "Index", "AdminWeb")</li>
     <li>@Html.ActionLink("CreateUser", "Register", "Account")</li>
    <li>@Html.ActionLink("ChangePassword", "Manage", "Account")</li>

    <li class="dropdown">
        <a class="dropdown-toggle" id="drop1" role="button" data-toggle="dropdown" href="#">Client Section <b class="caret"></b></a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop1">
           @* <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SampleLink</a></li>*@
            <li>@Html.ActionLink("CreateUser", "ClientRegister", "Client")</li>
            <li>@Html.ActionLink("ClientMessage-Phone ", "index", "ClientMessagePhone")</li>
            <li>@Html.ActionLink("ClientMessage-Email ", "index", "ClientMessageEmail")</li>
        </ul>
    </li>

     <li  >@Html.ActionLink("Add Category", "AddCat", "AdminWeb")</li>

   
       <li class="dropdown">
        <a class="dropdown-toggle" id="drop2" role="button" data-toggle="dropdown" href="#">Add Link<b class="caret"></b></a>
        <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop2"> 
            <li>@Html.ActionLink("LiveScore", "LiveScore", "AdminWeb")</li>
            <li>@Html.ActionLink("SportOnline", "SportOnline", "AdminWeb")</li>
            <li>@Html.ActionLink("CasinoOnline", "CasinoOnline", "AdminWeb")</li>
     
        </ul>
    </li>
   

      <li  >@Html.ActionLink("Webboard", "Index", "Webboard")</li>
 

</ul>


    </div>
