﻿<div class="collapse navbar-collapse">
<ul class="nav navbar-nav"> 
<li> @Html.ActionLink("หน้าหลัก", "Index", "Home"  ,null, new { title ="Home"} )</li>
@*  <li> @Html.ActionLink("หน้าหลัก_Action&Controller", "Index", null ,null, new { title ="Home"} )</li>*@
<li>@Html.ActionLink("ฝาก-ถอนเงิน","Deposit" ,null , new { title ="Deposit"}  )</li>
@*   <li>@Html.ActionLink("วิธีร่วมสนุก_Action","Join" , null , new { title ="Join"}  )</li>*@
<li>@Html.ActionLink("วิธีร่วมสนุก","Join" , "Home", null , new { title ="Join"}  )</li>
<li>@Html.ActionLink("ฝาก-ถอนเงิน","Deposit" ,"home" , null , new { title ="Deposit"}  )</li>
<li>@Html.ActionLink("เปิดบัญชี","Account" ,null, new { title ="Open Account"}  ) </li>
@*  <li>@Html.ActionLink("เวบบอร์ด","Webboard" ,null,  new { title ="webboard"}  ) </li>*@
<li>@Html.ActionLink("ตารางแข่ง","Matchfootball" , null, new { title ="Match Football"}  ) </li>
<li>@Html.ActionLink("ผลการแข่ง","Scorefootball" ,null, new { title ="Score Football"}  ) </li>
<li>@Html.ActionLink("คะแนนลีก","Scoreleage" ,null, new { title ="Score Leage"}  ) </li>
<li>@Html.ActionLink("ดูบอลออนไลน์","Onlinefootball" ,null, new { title ="Online Football"}  ) </li>  
<li>@Html.ActionLink("ติดต่อเรา","Contact" ,null, new { title ="Contact"}  ) </li>  
<li>@Html.ActionLink("ลีอคอิน","Index" , "Adminweb", null , new { title ="Admin"}  )</li>
<li>@Html.ActionLink("แอดมิน","Index" , "ClientMessageEmail", null , new { title ="Admin"}  )</li>
</ul>
</div>
