﻿@Model MVC442.Models.ClientMessage

<div id="sidebar"> 
 <div class="btn-joinnow">
 <a class="inline cboxElement" href="#inline_content"><span></span> </a>
 </div>
<!---///// Section  Add   Telphone  Number -->
<div class="callcenter">
@*@using (Html.BeginForm(null, null, FormMethod.Post, new { id="formCallcenter" }  )) { 
    @Html.Hidden("IdCat", 2)
    @Html.EditorFor(model=>model. ) 
}*@

<form id="form1" name="form1" method="post" action="http://442.im/phone-scripts.php" target="ifm" onsubmit="return OnSubmit();">
<div class="phone-register">
<div class="telephone">
<input type="text" name="PhoneNumber" id="PhoneNumber">
<input type="submit" name="btnSend" id="btnSend" value="ยืนยัน" class="btn">
</div> <!--- end  class="telephone"---->
</div><!--- end  class="phone-register" ---->
</form>
<iframe src="" id="savetarget" name="ifm" style="border:0px;width:0px;height:0px;margin:0;padding:0;">
</iframe>
</div>
<!--////// Section   Bank  Deposit  -->  
<div class="bankDeposit"> 
<h2>บริการฝาก-ถอนเงิน 24 ชม.</h2>
<div class="bankDetail">
<ul>
<li>ไม่ต้องรอรอบ</li>
<li>ไม่มีขั้นต่ำในการฝาก-ถอนเงิน</li>
</ul>
</div>
<!--////// Check device -->  		
<div class="bankIconFlash"> 	
		<ul>
		<li>
		<div class="rowBankicon"> 
<object id="bank_1" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="60" height="40">
						<param name="movie" value="http://442.im/swf/bank/bank_1.swf">
						<param name="quality" value="high">
						<param name="wmode" value="transparent">
						<param name="swfversion" value="9.0.45.0">
						<!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
						<param name="expressinstall" value="Scripts/expressInstall.swf">
						<!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
						<!--[if !IE]>-->
						<object type="application/x-shockwave-flash" data="http://442.im/swf/bank/bank_1.swf" width="60" height="40">
								<!--<![endif]-->
								<param name="quality" value="high">
								<param name="wmode" value="transparent">
								<param name="swfversion" value="9.0.45.0">
								<param name="expressinstall" value="Scripts/bank_1.swf">
								<!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
								<div>
										<h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
										<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33"></a></p>
								</div>
								<!--[if !IE]>-->
						</object>
						<!--<![endif]-->
			</object>
		</div>
		<div class="rowBankname"><a onclick="window.open( 'https://online.kasikornbankgroup.com/K-Online/login.jsp' ,'_blank') " rel="nofollow">ธ.กสิกรไทย</a></div>
		</li>
		 <li>
		<div class="rowBankicon">  
				<object id="bank_2" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="60" height="40">
						<param name="movie" value="http://442.im/swf/bank/bank_2.swf">
						<param name="quality" value="high">
						<param name="wmode" value="transparent">
						<param name="swfversion" value="9.0.45.0">
						<!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
						<param name="expressinstall" value="Scripts/expressInstall.swf">
						<!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
						<!--[if !IE]>-->
						<object type="application/x-shockwave-flash" data="http://442.im/swf/bank/bank_2.swf" width="60" height="40">
								<!--<![endif]-->
								<param name="quality" value="high">
								<param name="wmode" value="transparent">
								<param name="swfversion" value="9.0.45.0">
								<param name="expressinstall" value="Scripts/expressInstall.swf">
								<!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
								<div>
										<h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
										<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33"></a></p>
								</div>
								<!--[if !IE]>-->
						</object>
						<!--<![endif]-->
				</object>
		</div>
		<div class="rowBankname"> <a onclick="window.open('https://www.krungsrionline.com/cgi-bin/bvisapi.dll/krungsri_ib/login/login.jsp' ,'_blank') " rel="nofollow">ธ.กรุงศรีฯ</a></div>
		</li>
		<li>
		<div class="rowBankicon"><object id="bank_3" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="60" height="40">
						<param name="movie" value="http://442.im/swf/bank/bank_3.swf">
						<param name="quality" value="high">
						<param name="wmode" value="transparent">
						<param name="swfversion" value="9.0.45.0">
						<!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
						<param name="expressinstall" value="Scripts/expressInstall.swf">
						<!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
						<!--[if !IE]>-->
						<object type="application/x-shockwave-flash" data="http://442.im/swf/bank/bank_3.swf" width="60" height="40">
								<!--<![endif]-->
								<param name="quality" value="high">
								<param name="wmode" value="transparent">
								<param name="swfversion" value="9.0.45.0">
								<param name="expressinstall" value="Scripts/expressInstall.swf">
								<!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
								<div>
										<h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
										<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33"></a></p>
								</div>
								<!--[if !IE]>-->
						</object>
						<!--<![endif]-->
		  </object></div>
		<div class="rowBankname"> <a onclick="window.open('https://ibanking.bangkokbank.com/SignOn.aspx' ,'_blank' )" rel="nofollow">ธ.กรุงเทพ</a></div>
		</li>
			<li>
		<div class="rowBankicon"> <object id="bank_4" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="55" height="35">
						<param name="movie" value="http://442.im/swf/bank/bank_4.swf">
						<param name="quality" value="high">
						<param name="wmode" value="transparent">
						<param name="swfversion" value="9.0.45.0">
						<!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
						<param name="expressinstall" value="Scripts/expressInstall.swf">
						<!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
						<!--[if !IE]>-->
						<object type="application/x-shockwave-flash" data="http://442.im/swf/bank/bank_4.swf" width="55" height="35">
								<!--<![endif]-->
								<param name="quality" value="high">
								<param name="wmode" value="transparent">
								<param name="swfversion" value="9.0.45.0">
								<param name="expressinstall" value="Scripts/expressInstall.swf">
								<!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
								<div>
										<h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
										<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33"></a></p>
								</div>
								<!--[if !IE]>-->
						</object>
						<!--<![endif]-->
				</object> </div>
		<div class="rowBankname"><a onclick="window.open('https://www.scbeasy.com/v1.4/site/presignon/index.asp' ,'_blank'  )" rel="nofollow">ธ.ไทยพาณิชย์</a></div>
		</li>
		<li>
		<div class="rowBankicon"><object id="bank_5" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="55" height="35">
						<param name="movie" value="http://442.im/swf/bank/bank_5.swf">
						<param name="quality" value="high">
						<param name="wmode" value="transparent">
						<param name="swfversion" value="9.0.45.0">
						<!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
						<param name="expressinstall" value="Scripts/expressInstall.swf">
						<!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
						<!--[if !IE]>-->
						<object type="application/x-shockwave-flash" data="http://442.im/swf/bank/bank_5.swf" width="55" height="35">
								<!--<![endif]-->
								<param name="quality" value="high">
								<param name="wmode" value="transparent">
								<param name="swfversion" value="9.0.45.0">
								<param name="expressinstall" value="Scripts/expressInstall.swf">
								<!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
								<div>
										<h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
										<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33"></a></p>
								</div>
								<!--[if !IE]>-->
						</object>
						<!--<![endif]-->
				</object></div>
		<div class="rowBankname"><a onclick="window.open('https://www.ktbonline.ktb.co.th/ibhtdocs/th_firstpageconsumer.html' ,'_blank' )" rel="nofollow">ธ.กรุงไทย</a></div>
		</li>
			<li>
		<div class="rowBankicon"><object id="bank_6" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="55" height="35">
						<param name="movie" value="http://442.im/swf/bank/bank_6.swf">
						<param name="quality" value="high">
						<param name="wmode" value="transparent">
						<param name="swfversion" value="9.0.45.0">
						<!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
						<param name="expressinstall" value="Scripts/expressInstall.swf">
						<!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
						<!--[if !IE]>-->
						<object type="application/x-shockwave-flash" data="http://442.im/swf/bank/bank_6.swf" width="55" height="35">
								<!--<![endif]-->
								<param name="quality" value="high">
								<param name="wmode" value="transparent">
								<param name="swfversion" value="9.0.45.0">
								<param name="expressinstall" value="Scripts/expressInstall.swf">
								<!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
								<div>
										<h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
										<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33"></a></p>
								</div>
								<!--[if !IE]>-->
						</object>
						<!--<![endif]-->
				</object></div>
		<div class="rowBankname"><a onclick="window.open('https://www.tmbdirect.com/' ,'_blank') " rel="nofollow">ธ.ทหารไทย</a></div>
		</li>		
			<li>
		<div class="rowBankicon"><object id="bank_7" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="55" height="35">
						<param name="movie" value="http://442.im/swf/bank/bank_7.swf">
						<param name="quality" value="high">
						<param name="wmode" value="transparent">
						<param name="swfversion" value="9.0.45.0">
						<!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
						<param name="expressinstall" value="Scripts/expressInstall.swf">
						<!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
						<!--[if !IE]>-->
						<object type="application/x-shockwave-flash" data="http://442.im/swf/bank/bank_7.swf" width="55" height="35">
								<!--<![endif]-->
								<param name="quality" value="high">
								<param name="wmode" value="transparent">
								<param name="swfversion" value="9.0.45.0">
								<param name="expressinstall" value="Scripts/expressInstall.swf">
								<!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
								<div>
										<h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
										<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33"></a></p>
								</div>
								<!--[if !IE]>-->
						</object>
						<!--<![endif]-->
				</object></div>
		<div class="rowBankname"><a onclick="window.open('http://www.thanachartbank.co.th' ,'_blank' ) " rel="nofollow">ธ.ธนชาต</a></div>
		</li>			
		</ul>
		</div><!-- End  class="bankIcon"  -->
<div class="clear"></div>
</div><!-- End  class="bankService"  -->
<!--///// Section  Radio -->
<script>
    function openRadio(station) {
        //alert(station);
        window.open("http://442.im/radio_" + station + ".php", "_blank", "location=0, status=0, scrollbars=0, width=320,height=200, left=500,top=300px , ");
    }
</script>
 <div class="radio-box">
 <a href="#" onclick="openRadio( 0);"><span></span></a>
 </div> 
<!--///// Section  Side Banner   -->  
<div class="banner-right">
<div id="slideshow2" style="position: relative;"> 
<img src="http://442.im/images/banner/442bb_side_001.gif" title="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์" alt="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์" width="201px" style="position: absolute; top: 0px; left: 0px; z-index: 5; opacity: 0; display: none; width: 201px; height: 307px;"> 
<img src="http://442.im/images/banner/442bb_side_002.gif" title="แทงบอลผ่านเน็ต sbobet,เล่นบอล Sbo" alt="แทงบอลผ่านเน็ต sbobet,เล่นบอล Sbo" width="201px" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 201px; height: 307px;"> 
<img src="http://442.im/images/banner/442bb_side_004.gif" title="แทงบอลผ่านเน็ต sbobet,เล่นบอล Sbo" alt="แทงบอลผ่านเน็ต" width="201px" style="position: absolute; top: 0px; left: 0px; display: none; z-index: 5; opacity: 0; width: 201px; height: 307px;"> 
<img src="http://442.im/images/banner/442bb_side_005.gif" title="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์" alt="แทงบอลออนไลน์ ibcbet ให้ส่วนแบ่ง พนันบอลออนไลน์" width="201px" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 5; opacity: 0.712336; width: 201px; height: 307px;"> 
<img src="http://442.im/images/banner/442bb_side_006.gif" width="201px" style="position: absolute; top: 0px; left: 0px; display: block; z-index: 6; opacity: 0.28766400000000003; width: 201px; height: 307px;"> 
</div> 
</div> 
<!--///// Facebook  Like Box -->      
<div style="background-color:#550000 ; margin-bottom:5px; " class="fb-like-box fb_iframe_widget" data-href="https://www.facebook.com/pages/442im/523538954328861" data-width="205" data-colorscheme="dark" data-show-faces="true" data-border-color="#550000" data-stream="false" data-header="false" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;color_scheme=dark&amp;header=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2F442im%2F523538954328861&amp;locale=en_GB&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=205"><span style="vertical-align: bottom; width: 205px; height: 241px;"><iframe name="f1574fb48" width="205px" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="fb:like_box Facebook Social Plugin" src="http://www.facebook.com/plugins/like_box.php?app_id=&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D28%23cb%3Df258c0e0ec%26domain%3D442.im%26origin%3Dhttp%253A%252F%252F442.im%252Ffcc0965c%26relation%3Dparent.parent&amp;color_scheme=dark&amp;header=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fpages%2F442im%2F523538954328861&amp;locale=en_GB&amp;sdk=joey&amp;show_faces=true&amp;stream=false&amp;width=205" style="border: none; visibility: visible; width: 205px; height: 241px;" class=""></iframe></span></div>
<!--///// Section   histats -->  		
<!----
<div  class="histats"> </div>  
------>  
</div>