﻿@model  MVC442.Models.ClientMessage 

@{ 
    Layout = null;
}
 
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
 <script>
    //\\\\\\\ JS  retrun message SucccessPost or FailPost 
    function SuccessMessage(){
        alert("Succcess Post");
    }
     function FailMessage(){
        alert("Fail Post");
    }

</script>

<h2>AjaxViewModel</h2>
@using (Ajax.BeginForm("AjaxViewModel", "TestAjaxBeginForm_Basic1", 
    new AjaxOptions {  
        HttpMethod = "POST",  
        OnSuccess = "SuccessMessage",
        OnFailure = "FailMessage",
        UpdateTargetId = "resultTarget"  // Set  ID  For Update Data 
        // InsertionMode = InsertionMode.Replace, 
        // LoadingElementId = "loader" //  Set  ID & image .gif (To shown when data  loading ) 
    }//, new { id = "MyNewNameId" } // Set Custom name Id for Form
    ))
{
    @Html.ValidationSummary(true)
      
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>
   
    <p>
        <input type="submit" value="Ajax Form Action" />
    </p>
     
   
    
}


@*
<div id="loader" class=" aletr" style="display:none">
Loading...<img src="~/Images/ajax-loader.gif" />
</div>
*@ 

 
 <div id="resultTarget"></div>  <!-- Update Data Here -->