﻿@model MVC442.Models.ClientMessage 

<table>  
    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.IdCon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.IdCat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Tel1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.InputDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Ip)
        </td> 
    </tr> 

</table>