﻿@{
    Layout = "~/Views/Shared/_Layout442-blank.cshtml";
    ViewBag.Title = "Http404";
}

<h2>Http404</h2>

<style>
body {
background-color: #490E0E;
}
#boxCenter {
margin: 0px auto; text-align: center; margin-top: 100px;
}
#boxCenter .boxCenterLogo {
margin-bottom: 70px;text-align: center;
}
#boxCenter .boxCenterLogo .descrip {
 font-family: 'DBHelvethaiCamon'; font-size: 23px;  color:#fff ;
}
#boxCenter .boxCenterInfo{   }
#boxCenter a {
text-decoration: underline;
 font-family: 'thahoma'; font-size: 13px; 
}
</style>
<div id="boxCenter">
	<div class="boxCenterLogo">
		<div ><img src="~/images/fontend/442_LogoWeb.png" /></div>
		<div class="descrip">ที่นี่คือเวบไซต์  442.im  รับแทงบอลออนไลน์ แทงสเต็ปบอล Sbobet  เล่นบาคาร่าออนไลน์ 
		หน้าที่คุณค้นหาไม่มี </div>
	</div>
	<div class="boxCenterInfo">  
        @Html.ActionLink("กลับสู่หน้าปรกติ" ,"index" , "Home" )
	</div>
</div>


