﻿@model IEnumerable<MVC442.Models.ClientMessage> 
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InputDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ip)
        </th> 
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InputDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ip)
        </td>
  
    </tr>
}

</table>
