﻿@{ 
     Layout = "~/Views/Shared/_Layout442-blank.cshtml";  
   Layout = null ; 
}


<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
 
 
<h2>Index</h2>

@Ajax.ActionLink("All", "All",
                new AjaxOptions { 
                    HttpMethod = "GET", 
                 UpdateTargetId = "TargetShow", // ID of the HTML element to update
      InsertionMode = InsertionMode.Replace // Replace the existing contents
                }) 
<br />

@Ajax.ActionLink("GetTop2", "GetTop2",
                new AjaxOptions { 
                    HttpMethod = "GET", 
                    UpdateTargetId = "TargetShow", // ID of the HTML element to update
      InsertionMode = InsertionMode.Replace // Replace the existing contents
                })  
<br />


@Ajax.ActionLink("GetBottom4", "GetBottom4",
                new AjaxOptions { 
                    HttpMethod = "GET", 
                    UpdateTargetId = "TargetShow", // ID of the HTML element to update
      InsertionMode = InsertionMode.Replace // Replace the existing contents 
                })   
<div id="TargetShow"></div>

 