﻿@model MVC442.Models.ClientMessageVM


@using Recaptcha.Web.Mvc;  @*//// For Recaptcha Google  *@
@using System.Configuration; @*// for appseting*@


@{
    Layout = "~/Views/Shared/_Layout442-blank.cshtml";
    ViewBag.Title = "Create";
 
}
<h2>Create </h2>
 

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true) 
         
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name) 
              @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Tel1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tel1)
            @Html.ValidationMessageFor(model => model.Tel1)
        </div>
       
         <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>
        
 
          <!--- /////  Start Recaptcha ( Google Service )-->
       
<script type='text/javascript' src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script type='text/javascript'>

    $(function () {
        /////// Cone  recaptcha
        //$('form').after($('form').clone()  );    

        ////// execute reload Captcha
        function reloadCaptcha(challenge) {
            $(':input[name=recaptcha_response_field]').val(''); // clear text in input befor reload
            $(':input[name=recaptcha_challenge_field]').val(challenge); // Set  challenge
            $('img.recaptcha').attr('src', '//www.google.com/recaptcha/api/image?c=' + challenge); // Set image recaptcha
            console.log(challenge);
        }
        /////  execute   after recaptcha reload
        Recaptcha.finish_reload = function (challenge, b, c) {
            reloadCaptcha(challenge);
        }

        //////  execute callback
        Recaptcha.challenge_callback = function () {
            reloadCaptcha(RecaptchaState.challenge);
        }

        ///// create recaptcha 
        //System.Configuration.ConfigurationManager.AppSettings["recaptchaPublicKey"]
        Recaptcha.create("6LeGmPQSAAAAAHRTGgXg-4XlxMJtijsKjrNfA_P9");  // recaptcha google plublic key

        ///// event  on get   another recaptcha
        $(document).on('click', '.reload_captcha', function (e) {
            e.preventDefault();
            Recaptcha.reload();
        });

    });//  ready  end 
    </script>
       <input type="hidden" name="recaptcha_challenge_field" value="" />
    <input type="text" name="recaptcha_response_field" placeholder="Enter the Words Below" required/>
    <br>
    <img class="recaptcha" height="57" width="300" src="">
    <br>	<a href="#" class="reload_captcha">Get another CAPTCHA</a>
    <br>
   
    
    <!--- /////  Start Recaptcha ( Google Service )-->
    
    
    
        <p>
            <input type="submit" value="Create" />
            @Html.ActionLink("Back to List", "Index")
        </p> 
    
    


}
 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
