﻿@model MVC442.Models.ClientMessageVM

@using Recaptcha.Web.Mvc;  @*//// Recaptcha ( Google Service ) *@



@{
    Layout = "~/Views/Shared/_Layout442-blank.cshtml";
    ViewBag.Title = "Create";
 
}
<h2>Create </h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true) 
         
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Tel1)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Tel1)
        @Html.ValidationMessageFor(model => model.Tel1)
    </div>
       
    <div class="editor-label">
        @Html.LabelFor(model => model.Message)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Message)
        @Html.ValidationMessageFor(model => model.Message)
    </div>
        
 
    <!--- Start   Recaptcha ( Google Service )-->
    <div class="editor-label">
        Captcha :
    </div>
    <div class="editor-field">
        @Html.Recaptcha(theme: Recaptcha.Web.RecaptchaTheme.Clean)
        @Html.ValidationMessage("GoogleRecapcha1")
        @Html.ValidationMessage("GoogleRecapcha2")

    </div>
      
 
    
    
    <!--- End  Recaptcha ( Google Service )--> 
    
    <p>
        <input type="submit" value="Create" />
        @Html.ActionLink("Back to List", "Index")
    </p> 
    
    


}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
