﻿@model MVC442.Models.ViewModel.ClientMessageVM 
@{ 
    Layout = null;
}

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
 
<script>
    //\\\\\\\ JS  retrun message SucccessPost or FailPost 
    function SuccessMessage(){
        alert("Succcess Post");
    }
     function FailMessage(){
        alert("Fail Post");
    }

</script>

<h2>Edit</h2>

@*  /////////////////////  Use AJAX Form  *@
@using (Ajax.BeginForm("Edit", "TestAjaxBeginFormCreateUpdateDelete", null,  // Add ActionName  , Controller , RouteValues
    new AjaxOptions {
        HttpMethod = "POST" , 
        OnSuccess = "SuccessMessage", 
        OnFailure = "FailMessage"
        // UpdateTargetId = "resultTarget" , // Set  ID  For Update Data  
        // InsertionMode = InsertionMode.Replace, 
        // LoadingElementId = "loader" //  Set  ID & image .gif (To shown when data  loading )

    }//, new { id = "MyNewNameId" } // Set Custom name Id for Form
            
        ))  
    { 
    
    @Html.ValidationSummary(true) 
    
    <div class="editor-field">
        @Html.EditorFor(model => model.IdCon) 
    </div>  
    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div> 
    <div class="editor-label">
        @Html.LabelFor(model => model.Message)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Message)
        @Html.ValidationMessageFor(model => model.Message)
    </div> 
    <div class="editor-label">
    </div>
    <div class="editor-field">
        <input type="submit" value="Edit" />
        @Html.ActionLink("Back to List", "Index") 
    </div> 

}
 
 @*
<div id="loader" class=" aletr" style="display:none">
Loading...<img src="~/Images/ajax-loader.gif" />
</div>
*@ 

 
@* 
<div id="resultTarget"></div>  <!-- Update Data Here -->
*@