﻿@model IEnumerable<MVC442.Models.ClientMessage>

@{
    Layout = null;
}

     @Html.ActionLink("Create", "Create" ) 
 
    <table>
        <tr>
            <th> @Html.DisplayNameFor(model => model.IdCon)  </th> 
            <th>  @Html.DisplayNameFor(model => model.Name) </th> 
            <th>  @Html.DisplayNameFor(model => model.Message) </th> 
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.IdCon) </td> 
            <td> @Html.DisplayFor(modelItem => item.Name)  </td> 
            <td>  @Html.DisplayFor(modelItem => item.Message)  </td> 
            <td>  @Html.ActionLink("Edit", "Edit", new {   id=item.IdCon  })  </td>
        </tr>
    }
    
    </table>
 
