﻿@model IEnumerable<MVC442.Models.SlideManage>

@{
    ViewBag.Title = "CheckOverDate";
   Layout = "~/Views/Shared/_Layout442-blank.cshtml"; 
}

<h2>CheckOverDate</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SlideId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlideName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlideLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlideDes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlideStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlideSort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlideInputDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlideDateShow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SlideDateHide)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SlideId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlideName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlideLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlideDes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlideStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlideSort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlideInputDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlideDateShow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlideDateHide)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
