﻿@model MVC442.Models.ViewModel.SlideManageVM

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    
    ViewBag.Title = "Create";
}


<!-- ==================  CKfinder -->
<script src="~/ckfinder/ckfinder.js"></script>   
<!-- ==================   CKFinder Config    -->
<script >
    function BrowseServer() {
        var finder = new CKFinder();
        finder.basePath = '../';	// The path for the installation of CKFinder (default = "/ckfinder/").
        finder.selectActionFunction = SetFileField;
        finder.popup();
      
        ///========   It can also be done in a single line, calling the "static"
        // popup( basePath, width, height, selectFunction ) function:
        // CKFinder.popup( '../', null, null, SetFileField ) ;

        ///========  The "popup" function can also accept an object as the only argument.
        // CKFinder.popup( { basePath : '../', selectActionFunction : SetFileField } ) ;
    }

    function SetFileField(fileUrl) {
        document.getElementById('xFilePath').value = fileUrl;
    }
</script>



<h2>Create</h2>

@using (Html.BeginForm( )) {
    @Html.ValidationSummary(true) 

        <div class="editor-label">
            @Html.LabelFor(model => model.SlideName )
        </div>
    
        <div class="editor-field">
        @*     
        <input id="xFilePath" name="FilePath" type="text" size="60" />
        <input type="button" value="Browse Server" onclick="BrowseServer();" /> 
        *@
             
        @Html.TextBoxFor(model => model.SlideName, new { @id="xFilePath"   , onclick="BrowseServer();"   } )
             @Html.ValidationMessageFor(model => model.SlideName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SlideLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SlideLink)
            @Html.ValidationMessageFor(model => model.SlideLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SlideDes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SlideDes)
            @Html.ValidationMessageFor(model => model.SlideDes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SlideStatus)
        </div>
        <div class="editor-field">
             <label>@Html.RadioButton("SlideStatus", "0"   ) Hide</label>  
        <label>@Html.RadioButton("SlideStatus", "1"  , true ) Show</label>
       
        @Html.ValidationMessageFor(model => model.SlideStatus)
        </div>
     
        <div class="editor-label">
            @Html.LabelFor(model => model.SlideSort)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SlideSort)
            @Html.ValidationMessageFor(model => model.SlideSort)
        </div>
      
    
        <div class="editor-label">
        @Html.LabelFor(model => model.SlideDateShow)
        </div>
        <div class="editor-field">
        @Html.EditorFor(model => model.SlideDateShow)   
        @Html.ValidationMessageFor(model => model.SlideDateShow)
        </div>
     
       <div class="editor-label">
        @Html.LabelFor(model => model.SlideDateHide)
        </div>
        <div class="editor-field">
          @Html.EditorFor(model => model.SlideDateHide)   
        @Html.ValidationMessageFor(model => model.SlideDateHide)
        </div>
     
      
        <div class="editor-label"> 

        </div>
        <div class="editor-field"> 
        <input type="submit" value="Create" class="btnDefault" />
        @Html.ActionLink("Back to List", "Index" , null ,new{ @class="btnDefault"} )
        </div> 
   
}



<style>
    textarea { height:40px;}

</style>
 
 
 