﻿@*////// Add PageList//////// *@
@using PagedList
@using MVC442.Helper

@*@using PagedList.Mvc*@
@model IPagedList<MVC442.Models.ViewModel.SlideManageVM>

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Index";
    string conType = Request.QueryString["type"];
}

<style>  
.dataList td:nth-child(1) { width: 3%; }
.dataList td:nth-child(2) { text-align: left; }
.dataList td:nth-child(3) { width: 5%; text-align: center; }
.dataList td:nth-child(4) { width: 5%; }
.dataList td:nth-child(5) {text-align: left;width: 10%;  }
.dataList td:nth-child(6) { width: 10%; } 
.dataList td:nth-child(7) { width: 10%; } 
.dataList td:last-child {width: 11%; } 
</style> 

<h2>SlideManage - List</h2> 

<p>
    <div style="float:left">   @Html.ActionLink("Create New", "Create", null, new { @class = "btnDefault" })</div>
    <div style="float:right;text-align:right" >
 @{
<p>DateTimeNow UK  : @DateTime.Now</p>
<p>Timezone Offset : @Session["timezoneoffset"] </p>
@*<p>Test Convert Timezone : @Utillity.SetLocalTimeZone( new DateTime(2015, 1, 25, 3, 15, 7, 123) ) </p>*@  
} 
<p style="color:red; font-size:11px; text-align:right"> สถานะจะแสดงเป็น Hide อัตโนมัติ เมื่อวันที่ปัจจุบัน มากกว่า วันที่หยุดแสดง </p>


    </div>
</p>
<div class="clear"></div> <br />
<table  class=" dataList">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().SlideId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SlideNameTrimed)
        </th>
  
        <th>
            @Html.DisplayNameFor(model => model.First().SlideStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SlideSort)
        </th>
    
        <th>
            @Html.DisplayNameFor(model => model.First().SlideDateShow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SlideDateHide)
        </th>
           <th>
            @Html.DisplayNameFor(model => model.First().SlideInputDate)
        </th>
        <th>
             จัดการ
        </th>
    </tr>



@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SlideId)
        </td>
 
        <td>
            @Html.DisplayFor(modelItem => item.SlideNameTrimed)
        </td>
        <td>
            
         @if ((@Html.DisplayFor(modelItem => item.SlideStatus)).ToString() == "1") {
                <img src="~/images/backend/check-right.png" />
            }else{
               <img src="~/images/backend/check-wrong.png" />
            } 
        </td>
        <td>
              
            @if ( @Html.DisplayFor(modelItem => item.SlideSort).ToString() != "9999" ) {  // Set hide value if == 9999
                  @Html.DisplayFor(modelItem => item.SlideSort)
            }  

        </td>
 
        <td>
            @Html.DisplayFor(modelItem => item.SlideDateShowDisplay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SlideDateHideDisplay)
        </td>

           <td>
            @Html.DisplayFor(modelItem => item.SlideInputDateDisplay)

        </td> 

        <td>
               @Html.ActionLink("แก้ไข", "Edit", new { id = item.SlideId }, new { @class = "btnDefault" })

               @Ajax.ActionLink( "ลบ", "Delete", new { id = item.SlideId }, new AjaxOptions {
               HttpMethod = "POST",
               Confirm = "ยืนยันลบข้อมูล?",
               OnComplete = "deleteComplete"
           },
                  new { @class = "btnDefault" }
                                                                         )

           
        </td>
    </tr>
}

</table>
 
<!-- reload after delete by Ajax --> 
<script > 
   function deleteComplete() {
            window.location.reload();
 }
</script>



<!-- Start show PagedList -->
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
Of @Model.PageCount

@if (Model.HasPreviousPage) {
    @Html.ActionLink("<<", "Index", new { page = 1, type = conType }) 
    @Html.Raw(" ");
    @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1, type = conType })

}
else {
    @:<<
    @Html.Raw(" ");  
    @: < Prev
}

@if (Model.HasNextPage) {
    @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1, type = conType })
    @Html.Raw(" ");
    @Html.ActionLink(">>", "Index", new { page = Model.PageCount, type = conType })  
}
else {
    @:Next >
    @Html.Raw("");  
    @: >>
}

