﻿@model MVC442.Models.SlideManageVM

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-1.9.1.js"></script> 
<script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
<!-- //======  DatePicker CSS -->   
<link href="~/Api/JqueryUI-Datepicker/scripts/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
<!-- //======  DatePicker Thai Month Name -->   
<script src="~/Api/JqueryUI-Datepicker/scripts/jquery.ui.datepicker-th.js"> </script>	    
<!-- //======  DatePicker Plugin Budish Year  -->   	 	
<script src="~/Api/JqueryUI-Datepicker/scripts/jquery.ui.datetimepicker.js"  ></script>	
<script src="~/Api/JqueryUI-Datepicker/scripts/jquery.ui.datepicker.ext.be.js"  ></script>  
    <script>
        $(function () {
            $("[id*=datepicker]").attr('readOnly', 'true');
            $("[id*=datepicker]").datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true, 
                yearRange: "-0:+10"  ,
                //   dateFormat: 'mm/dd/yy',
                isBE: true,
                autoConversionField: false
            })

        });
    </script> 

   @Html.TextBox("xxx", null ,  new { @id="datepicker"})
 



