<div id="mediaplayer1">JW Player goes here</div>
<script type="text/javascript" src="jwplayer.js"></script>
<div id="mediaplayer2">JW Player goes here</div>
<script type='text/javascript'>

          jwplayer('mediaplayer2').setup({

            'flashplayer': 'player.swf',

            'file': 'fm99.stream',

            'bufferlength': '3',

            'streamer': 'rtmp://122.155.18.155/radio',

            'autostart': 'true',

            'controlbar': 'bottom',

            'width': '380',

            'height': '24',
			
			'skin': 'skins/simple.zip'

          });

        </script> 
