﻿@model  IEnumerable<MVC442.Models.ViewModel.ClientMessageVM>
<table> 
       <tr> 
        <td>@Html.DisplayNameFor(model => model.IdCon)</td>
     <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayNameFor(model => model.Message)</td> 
                   
    </tr>

@foreach (var item in Model) { 
    
    <tr> 
        <td>@Html.DisplayFor(modelItem => item.IdCon)</td>
          <td>@Html.DisplayFor(modelItem => item.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.Message)</td> 
    </tr>
    
}

</table>