﻿@{
    ViewBag.Title = "DatePicker1";
    Layout = "~/Views/Shared/_Layout442-blank.cshtml";
}


 <!-- //======  DatePicker Theam  -->  
<link href="~/Api/JqueryUI-Datepicker/theam/redmond/jquery-ui-1.10.3.custom.css" rel="stylesheet" />
 <!-- //======  DatePicker Thai Month Name -->   
<script src="~/Api/JqueryUI-Datepicker/scripts/jquery.ui.datepicker-th.js"> </script>	    
 <!-- //======  Plugin Budish Year  -->   	
 <script src="~/Api/JqueryUI-Datepicker/scripts/jquery.ui.datetimepicker.js"  ></script>	
<script src="~/Api/JqueryUI-Datepicker/scripts/jquery.ui.datepicker.ext.be.js"  ></script> 
 
 
    <script>
        $(function () {
            $("[id*=tbxDate]").attr('readOnly', 'true');
            $("[id*=tbxDate]").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "-0:+10",
                isBE: true,
                autoConversionField: false
            })

        });
    </script>

 
    <input type="text"   id="tbxDate"> </text> 