﻿<link href="jquery.bxslider.css" rel="stylesheet" />
<script src="../../../Scripts/jquery-1.9.1.js"></script>
<!--//////===================== Plugin  Jquery BxSlide  -->
<script src="../bxSlide/jquery.bxSlider.min.js"></script>

<script>
    //////========================= SetVar 
    var tubeId1 = '2ElxeOmqWnk';
    var tubeId2 = 'mV3L8e355d8';
    var tubeId3 = 'Fy7radbtKo0';
    var videoId = tubeId3;
    var idName = "video2";
    var selector1 = $("#slider1");
    var selector3 = $("#slider1");

    //////==========================  Bxslide 
    function setBxSlider(_selector1, _pager, _pause) {
        _selector1.bxSlider({ 
            mode: 'fade',  //  'horizontal', 'vertical', 'fade'
            auto: true, controls: true, pause: 5500, autoHover: true, pagerType: 'full'
        });
    }
     
    ////============================ Dom Ready
    $(function () {
        //============ Test JSON Parse Object 
        var selector2 = '{ "A": "zzzzzzzzzz" }'; // $("#slider1");
        var obj = JSON.parse(selector2);
        alert(obj.A); 
        
        //============ Run BxSlide 
        // setBxSlider(elm2, true, 5000);
        selector3.bxSlider({
            mode: 'fade',  //  'horizontal', 'vertical', 'fade'
            auto: true, controls: true, pause: 5500, autoHover: true, pagerType: 'full'
        });

    });


</script>

<style>
    .demo-wrap1 { height: 200px; width: 400px; overflow: hidden; z-index: 11; }
    img { height: 200px; width: 400px; }
    li { clear: both; border: 1px solid red;height: 200px; }
</style>




<div class="demo-wrap">
    <ul id="slider1">

        <li>
            <a id="video1" href="http://www.youtube.com/embed/2ElxeOmqWnk?controls=0&modestbranding=1&rel=0&showinfo=0">Video Name 1</a>
        </li>
        <li id="video2">
            <a href="http://www.youtube.com/embed/mV3L8e355d8?controls=0&modestbranding=1&rel=0&showinfo=0">Video Name 2</a>
        </li>
        <li id="video3">
            <a href="http://www.youtube.com/embed/Fy7radbtKo0?controls=0&modestbranding=1&rel=0&showinfo=0">Video Name 3</a>
        </li>

    </ul>
</div>






