﻿     <style>
        .demo-wrap1 {  overflow: hidden; z-index: 11; }
       
        li { clear: both; border: 1px solid red;  }
    </style>

    <link href="jquery.bxslider.css" rel="stylesheet" />

    <script src="../../../Scripts/jquery-1.9.1.js"></script>
    <!--//////==================== Plugin Youtube API  -->
    <script src="http://www.youtube.com/player_api"></script>

    <!--//////===================== Plugin  Jquery BxSlide  -->
    <script src="../../../Scripts/jquery.fitvids.js"></script>
    <script src="../bxSlide/jquery.bxSlider.min.js"></script>
	
	 
<script>
    //////========================= Global Var  For Slide & YouTube
        var areaShowVideo;
        var videoId;
        //========= Global Var BxSlide 
        var selectorSlide;
        var objSlider; // set  globalVarible from  setBxSlider()  
        var numSlide;
        var lengthImage;
        var lengthVideo;
        var currentSlide;
        var slideStartAuto;
        var ytPlayer;
		
</script>
<script type='text/javascript'> 

//////////////==============  Control YT API
   /*
 * @author       Rob W (http://stackoverflow.com/a/7513356/938089
 * @description  Executes function on a framed YouTube video (see previous link)
 *               For a full list of possible functions, see:
 *               http://code.google.com/apis/youtube/js_api_reference.html
 * @param String frame_id The id of (the div containing) the frame
 * @param String func     Desired function to call, eg. "playVideo"
 * @param Array  args     (optional) List of arguments to pass to function func*/
function callPlayer(frame_id, func, args) {
    if (window.jQuery && frame_id instanceof jQuery) frame_id = frame_id.get(0).id;
    var iframe = document.getElementById(frame_id);
    if (iframe && iframe.tagName.toUpperCase() != 'IFRAME') {
        iframe = iframe.getElementsByTagName('iframe')[0];
    }
    if (iframe) {
        // Frame exists, 
        iframe.contentWindow.postMessage(JSON.stringify({
            "event": "command",
            "func": func,
            "args": args || [],
            "id": frame_id
        }), "*");
    }
}
 
</script>

<script>
	 //////==========================  Bxslide 
        function setBxSlider(_selectorSlide, _slideStartAuto, _pager, _pause) {
            objSlider = _selectorSlide.bxSlider({
                mode: 'fade',  //  'horizontal', 'vertical', 'fade'
                auto: _slideStartAuto, // Set slide auto start ( If slide have Video set false )
                //speed:  1,
                controls: true,
                pager: _pager,
                pause: _pause,
                autoHover: true,
                video: true,
                pagerType: 'full',
                // startingSlide: 0,

                //// Executes after the slider is fully loaded
                onSliderLoad: function (currentIndex) {
				 console.log(">>>> onSliderLoad ");
				 
                    //========== Loop [object Obiect]
                    /*
                    var obj = $slideElement;
                    for (k in obj) {
                        var v = obj[k] ;
                        console.log(v );
                    }
                    */
                    //=========== Set start add class active
                    var startIndexSlide = currentIndex;
                    $('#bxslider1>li').eq(0).addClass('active-slide');
                    console.log("onSliderLoad =>  startIndexSlide =" + startIndexSlide);
                   
                },
                //// Executes  before each slide transition.
				onSlideBefore: function ($slideElement, oldIndex, newIndex) {
				console.log(">>>> onSlideBefore ");

				currentSlide = addActiveClass(oldIndex, newIndex);  // Set Class Active 
				checkSlideType();
                    
                }
            });
        }

        function checkSlideType (){ 
            //========= Is Image Slide or Video Slide 
            if (!currentSlide.children().is('img')) {  //&& (currentSlide.attr('class') == "active-slide") 
                console.log("=== SlideVideo ===");               
			   objSlider.stopAuto(); 
                //areaShowVideo = currentSlide.children().find('iframe').attr('id');
				 areaShowVideo = currentSlide.children().attr('id');
                console.log("areaShowVideo = " + areaShowVideo);
				
				//==============  Start Play Youtube
                callPlayer('video1', 'playVideo');

            } else {
			    console.log("=== SlideImage ===");
                objSlider.startAuto(); 
            }
			
        }

        ////============ Add class active to BxSlide
        function addActiveClass(_oldIndex, _newIndex) { 
            console.log("lengthVideo = " + lengthVideo);
            console.log("newIndex = " + _newIndex);
            //var nextNumberSlide = ((_newIndex + 1) == 1) ? 1 : (_newIndex + 1);
            //console.log("nextNumberSlide = " + nextNumberSlide);

            //=======  Add .active-slide
            $('#bxslider1>li').removeClass('active-slide');

            if ((_newIndex) >= numSlide)  // protect last slide
                $('#bxslider1>li').eq(0).addClass('active-slide');
            else
                $('#bxslider1>li').eq(_newIndex).addClass('active-slide');

            //========= Get videoId & areaShowVideo  
            currentSlide = $('#bxslider1 .active-slide');

            //======== Test Show Index by Jquery
            //alert($('#bxslider1 li.active-slide').index())

            return currentSlide ; 

        } //end fnc


        ////============================ Dom Ready   // This Run After Dom Create
        $(function () {
            /*
            * If define varible from sector in Jquery  have to  set varible after dom create !!!!!!
            *  
            */
            selectorSlide = $("#bxslider1"); //  Set varible from sector after dom create
            numSlide = $('#bxslider1>li').size();
            lengthImage = $('#bxslider1>li').children('img').size();
            lengthVideo = numSlide - lengthImage;
            //====== Run BxSlide 
            setBxSlider(selectorSlide, true, true, 100); //5500 
        });

		

</script>

  
      <div class="demo-wrap">
        <ul id="bxslider1">
         <li>
                <img src="Images/fontend/BannerTop/football_online_0.jpg"  width="992" height="464"   /></li>
            <li>
                <img src="Images/fontend/BannerTop/football_online_1.jpg"  width="992" height="464"   /></li>
            <li>
                <img src="Images/fontend/BannerTop/football_online_2.jpg"  width="992" height="464"   /></li>
            
			 <li >
			 
		 
			 <div  id="video1">
                <iframe   width="700" height="300"  frameborder="0" allowfullscreen="1"  
                    src="https://www.youtube.com/embed/2ElxeOmqWnk?autoplay=0&amp;controls=0&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;enablejsapi=1&amp;version=3&width=200&height=200"></iframe>
					</div>
            </li>
         <li  >
		 <div id="video2">
       <iframe  frameborder="0" allowfullscreen="1" title="YouTube video player" width="400" height="300" src="https://www.youtube.com/embed/mV3L8e355d8?autoplay=0&amp;controls=0&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;enablejsapi=1&amp;version=3"></iframe>
	   <div>
            </li>
		 
            <li >
			   <div id="video3">
              <iframe   frameborder="0" allowfullscreen="1" title="YouTube video player"   height="300" src="https://www.youtube.com/embed/Fy7radbtKo0?autoplay=0&amp;controls=0&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;enablejsapi=1&amp;version=3"></iframe>
            </div> 
			 </li> 
        </ul>
    </div>
     
