﻿     <style>
        .demo-wrap1 { height: 200px; width: 400px; overflow: hidden; z-index: 11; }
        img { height: 200px; width: 400px; }
        li { clear: both; border: 1px solid red; height: 400px; }
    </style>

    <link href="jquery.bxslider.css" rel="stylesheet" />

    <script src="../../../Scripts/jquery-1.9.1.js"></script>
    <!--//////==================== Plugin Youtube API  -->
    <script src="http://www.youtube.com/player_api"></script>

    <!--//////===================== Plugin  Jquery BxSlide  -->
    <script src="../../../Scripts/jquery.fitvids.js"></script>
    <script src="../bxSlide/jquery.bxSlider.min.js"></script>
	
	 

<script type='text/javascript'> 

//////////////==============  Executes Function on a framed YouTube 
    /**
     * @author       Rob W <gwnRob@gmail.com>
     * @website      http://stackoverflow.com/a/7513356/938089
     * @version      20120724
     * @description  Executes function on a framed YouTube video (see website link)
     *               For a full list of possible functions, see:
     *               https://developers.google.com/youtube/js_api_reference
     * @param String frame_id The id of (the div containing) the frame
     * @param String func     Desired function to call, eg. "playVideo"
     *        (Function)      Function to call when the player is ready.
     * @param Array  args     (optional) List of arguments to pass to function func*/
    function callPlayer(frame_id, func, args) {
        if (window.jQuery && frame_id instanceof jQuery) frame_id = frame_id.get(0).id;
        var iframe = document.getElementById(frame_id);
        if (iframe && iframe.tagName.toUpperCase() != 'IFRAME') {
            iframe = iframe.getElementsByTagName('iframe')[0];
        }

        // When the player is not ready yet, add the event to a queue
        // Each frame_id is associated with an own queue.
        // Each queue has three possible states:
        //  undefined = uninitialised / array = queue / 0 = ready
        if (!callPlayer.queue) callPlayer.queue = {};
        var queue = callPlayer.queue[frame_id],
            domReady = document.readyState == 'complete';

        if (domReady && !iframe) {
            // DOM is ready and iframe does not exist. Log a message
            window.console && console.log('callPlayer: Frame not found; id=' + frame_id);
            if (queue) clearInterval(queue.poller);
        } else if (func === 'listening') {
            // Sending the "listener" message to the frame, to request status updates
            if (iframe && iframe.contentWindow) {
                func = '{"event":"listening","id":' + JSON.stringify('' + frame_id) + '}';
                iframe.contentWindow.postMessage(func, '*');
            }
        } else if (!domReady || iframe && (!iframe.contentWindow || queue && !queue.ready)) {
            if (!queue) queue = callPlayer.queue[frame_id] = [];
            queue.push([func, args]);
            if (!('poller' in queue)) {
                // keep polling until the document and frame is ready
                queue.poller = setInterval(function () {
                    callPlayer(frame_id, 'listening');
                }, 250);
                // Add a global "message" event listener, to catch status updates:
                messageEvent(1, function runOnceReady(e) {
                    var tmp = JSON.parse(e.data);
                    if (tmp && tmp.id == frame_id && tmp.event == 'onReady') {
                        // YT Player says that they're ready, so mark the player as ready
                        clearInterval(queue.poller);
                        queue.ready = true;
                        messageEvent(0, runOnceReady);
                        // .. and release the queue:
                        while (tmp = queue.shift()) {
                            callPlayer(frame_id, tmp[0], tmp[1]);
                        }
                    }
                }, false);
            }
        } else if (iframe && iframe.contentWindow) {
            // When a function is supplied, just call it (like "onYouTubePlayerReady")
            if (func.call) return func();
            // Frame exists, send message
            iframe.contentWindow.postMessage(JSON.stringify({
                "event": "command",
                "func": func,
                "args": args || [],
                "id": frame_id
            }), "*");
        }
        /* IE8 does not support addEventListener... */
        function messageEvent(add, listener) {
            var w3 = add ? window.addEventListener : window.removeEventListener;
            w3 ?
                w3('message', listener, !1)
            :
                (add ? window.attachEvent : window.detachEvent)('onmessage', listener);
        }
    }

    // Example: call play
    // Note that the function automatically queues
    // the request when the DOM/frame is not ready yet
   // callPlayer('whateverID', 'playVideo');

 
    //////========================= Global Var  For Slide & YouTube
        var areaShowVideo;
        var videoId;
        //========= Global Var BxSlide 
        var selectorSlide;
        var objSlider; // set  globalVarible from  setBxSlider()  
        var numSlide;
        var lengthImage;
        var lengthVideo;
        var currentSlide;
        var slideStartAuto;
        var ytPlayer;
		
	 //////==========================  Bxslide 
        function setBxSlider(_selectorSlide, _slideStartAuto, _pager, _pause) {
            objSlider = _selectorSlide.bxSlider({
                mode: 'fade',  //  'horizontal', 'vertical', 'fade'
                auto: _slideStartAuto, // Set slide auto start ( If slide have Video set false )
                //speed:  1,
                controls: true,
                pager: _pager,
                pause: _pause,
                autoHover: true,
                video: true,
                pagerType: 'full',
                // startingSlide: 0,

                //// Executes after the slider is fully loaded
                onSliderLoad: function (currentIndex) {
				 console.log(">>>> onSliderLoad ");
				 
                    //========== Loop [object Obiect]
                    /*
                    var obj = $slideElement;
                    for (k in obj) {
                        var v = obj[k] ;
                        console.log(v );
                    }
                    */
                    //=========== Set start add class active
                    var startIndexSlide = currentIndex;
                    $('#bxslider1>li').eq(0).addClass('active-slide');
                    console.log("onSliderLoad =>  startIndexSlide =" + startIndexSlide);
                   
                },
                //// Executes  before each slide transition.
				onSlideBefore: function ($slideElement, oldIndex, newIndex) {
				console.log(">>>> onSlideBefore ");

				currentSlide = addActiveClass(oldIndex, newIndex);  // Set Class Active 
				checkSlideType();
                    
                }
            });
        }

        function checkSlideType (){ 
            //========= Is Image Slide or Video Slide 
            if (!currentSlide.children().is('img')) {  //&& (currentSlide.attr('class') == "active-slide") 
                console.log("=== SlideVideo ===");               
			   objSlider.stopAuto();
                

                //areaShowVideo = currentSlide.children().find('iframe').attr('id');
				 areaShowVideo = currentSlide.children().attr('id');
                console.log("areaShowVideo = " + areaShowVideo);
  
               callPlayer('areaShowVideo', 'playVideo');

            } else {
			    console.log("=== SlideImage ===");
                objSlider.startAuto();
                
                
            }
        }

        ////============ Add class active to BxSlide
        function addActiveClass(_oldIndex, _newIndex) { 
            console.log("lengthVideo = " + lengthVideo);
            console.log("newIndex = " + _newIndex);
            //var nextNumberSlide = ((_newIndex + 1) == 1) ? 1 : (_newIndex + 1);
            //console.log("nextNumberSlide = " + nextNumberSlide);

            //=======  Add .active-slide
            $('#bxslider1>li').removeClass('active-slide');

            if ((_newIndex) >= numSlide)  // protect last slide
                $('#bxslider1>li').eq(0).addClass('active-slide');
            else
                $('#bxslider1>li').eq(_newIndex).addClass('active-slide');

            //========= Get videoId & areaShowVideo  
            currentSlide = $('#bxslider1 .active-slide');

            //======== Test Show Index by Jquery
            //alert($('#bxslider1 li.active-slide').index())

            return currentSlide ; 

        } //end fnc


        ////============================ Dom Ready   // This Run After Dom Create
        $(function () {
            /*
            * If define varible from sector in Jquery  have to  set varible after dom create !!!!!!
            *  
            */
            selectorSlide = $("#bxslider1"); //  Set varible from sector after dom create
            numSlide = $('#bxslider1>li').size();
            lengthImage = $('#bxslider1>li').children('img').size();
            lengthVideo = numSlide - lengthImage;
            //====== Run BxSlide 
         //   setBxSlider(selectorSlide, true, true, 100); //5500 
		 
		 //======== Test 
		  callPlayer('video3', 'playVideo');
        });

		

</script>

 
			   <div id="video3">
              <iframe   frameborder="0" allowfullscreen="1" title="YouTube video player"   height="300" src="https://www.youtube.com/embed/Fy7radbtKo0?autoplay=0&amp;controls=0&amp;modestbranding=1&amp;rel=0&amp;showinfo=0&amp;enablejsapi=1&amp;version=3"></iframe>
            </div> 
 
     
