﻿@model MVC442.Models.ViewModel.ClientRegisterVM 

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true) 

        <div class="editor-label">
            @Html.LabelFor(model => model.IdClientRegister)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.IdClientRegister) 
               @Html.HiddenFor(model => model.IdClientRegister) 
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCasinoCat)
        </div>
        <div class="editor-field"> 
           
            @*////// DropDown By @Html.Action  ( Be CareFull  Action in  Controller don't  under  [Authorize] ) ////////*@
            @Html.Action("CasinoCatsPartial", "Base", new { DdlIdName = "myCustomName1", IdCasinoCat = Model.IdCasinoCatSelected, type = string.Empty })
            @Html.ValidationMessageFor(model => model.IdCasinoCatSelected)

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Tel1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tel1)
            @Html.ValidationMessageFor(model => model.Tel1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GetSms)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.GetSms)
            @Html.ValidationMessageFor(model => model.GetSms)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.GetNews)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.GetNews )
            @Html.ValidationMessageFor(model => model.GetNews)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.InputDate)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.InputDate)
            @Html.ValidationMessageFor(model => model.InputDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ip)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Ip)
            @Html.ValidationMessageFor(model => model.Ip)
        </div>
    
    
          <div class="editor-label">
            
        </div>
        <div class="editor-field">
         <input type="submit" value="Save" class="btnDefault" />
       @Html.ActionLink("Back to List", "Index" , null  , new{ @class  ="btnDefault" } ) 
                                    
        </div>
    
}  
 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

  

}
