﻿@using CaptchaMvc.HtmlHelpers

@model MVC442.Models.ViewModel.WebLinkCasinoVM

@{
    Layout = null ;
    ViewBag.Title = "Edit";
    int reqType = (Request.QueryString["type"] == null) ? 1 : Convert.ToInt32(Request.QueryString["type"]);
}

@{
    //// Get PageName from Request.QueryString[ ] //////
    if (reqType == 1 ) {
        @:<h2>Casino Online - Edit </h2>
    } else if (reqType == 2 ) {
        @:<h2>Sport Online - Edit </h2>
    } else {

    }

}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(model => model.ConType)

    @Html.HiddenFor(model => model.IdCasinoCat) 
    
    <div class="editor-label">
        @Html.LabelFor(model => model.IdCon)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.IdCon)
        @Html.HiddenFor(model => model.IdCon)
    </div> 
    
    <div class="editor-label">
        @Html.LabelFor(model => model.IdCasinoCat, "CasinoCat")
    </div> 
    <div class="editor-field">  
        @*////// DropDown By @Html.Action  ( Be CareFull  Action in  Controller don't  under  [Authorize] ) ////////*@
        @Html.Action("CasinoCatsPartial", new { DdlIdName = "customIdName", IdCasinoCat = Model.IdCasinoCatSelected, type = Model.ConType })
      @Html.ValidationMessageFor(model => model.IdCasinoCatSelected) 
    </div>
     
    <div class="editor-label">
        @Html.LabelFor(model => model.WebName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.WebName)
        @Html.ValidationMessageFor(model => model.WebName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.WebLink)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.WebLink)
        @Html.ValidationMessageFor(model => model.WebLink)
    </div>
    

    <div class="editor-label">
    </div>
    <div class="editor-field">
        <input type="submit" value="Save" class="btnDefault" />
        @Html.ActionLink("Back to List", "Index", new { type = Model.ConType }, new { @class = "btnDefault" })
    </div>  
    
    
}
 