﻿@model  IEnumerable<MVC442.Models.ViewModel.WebLinkCasinoVM>
 
@{
    Layout = null ;
    ViewBag.Title = "Index";
    int reqType = (Request.QueryString["type"] == null) ? 1 : Convert.ToInt32(Request.QueryString["type"]);
 }

<style> 
    .dataList td:nth-child(1) { width: 3%; }
    .dataList td:nth-child(2) {  width: 10%;text-align: center; }
    .dataList td:nth-child(3) {width: 25%; text-align: left; } 
    .dataList td:nth-child(4) {width: 10%;  }  
</style>
  
<h2> DropDownListFor by @@Html.Action()  ( Get & CheckType SelectListItem From  BaseController ) </h2>
  
@{
    //// Get Page name from   Request.QueryString[ ] //////
    if (reqType == 1) {
        @:<h2>Casino Online - List </h2>  
    } else if (reqType == 2 ) {
        @:<h2>Sport Online - List </h2> 
    } else {
        
    }
}
 
@*<p>
    @Html.ActionLink("Create New", "Create",   new { type = reqType } , new { @class = "btnDefault"   } )
</p*@

<p>
    @Html.ActionLink("Create New", "Create", new { type = 1 }, new { @class = "btnDefault" })
</p>
<p>
    @Html.ActionLink("Create New", "Create", new { type = 2 }, new { @class = "btnDefault" })
</p>

<table  class="dataList">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCon)
        </th>
        <th>
 
            ชื่อ Casino
        </th>
            
          <th>
           ชื่อเวบ
          </th>
   
        <th> จัดการ </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CasinoCat.CatNameTh)

        </td>
            <td>
            @Html.DisplayFor(modelItem => item.WebName)
        </td>
 
        <td>
            @Html.ActionLink("แก้ไข", "Edit", new { id=item.IdCon  , type= item.ConType    }   ,  new {@class="btnDefault"  }  )  
              
            @Ajax.ActionLink("ลบ", "Delete", new { id = item.IdCon, type = item.ConType }, new AjaxOptions {
            HttpMethod = "POST",
            Confirm = "ยืนยันลบข้อมูล?",
            OnComplete = "deleteComplete"  
            } ,  
                                                                         
            new { @class="btnDefault" } 
            )  

        </td>
      
    </tr>
}

</table>

<script >
////// reload after delete by Ajax
function deleteComplete() {
            window.location.reload();
 }
</script>

 