﻿@{
    //  Layout = "~/Views/Shared/_Layout.cshtml"; 
    ViewBag.Title = "Home Page";
}
@*
@section Test{
<p style="color:yellow;">This add content from View</p>
}
*@
<div class="page-home">
    <div class="banercasinoCol-home">
        <div class="title-box"  >
        <div class="h1-bg1">
        <h3 class="title-th">ฟุตบอล และกีฬา ออนไลน์</h3>
        <h3 class="title-en">SPORT ONLINE</h3>
        </div> 
        </div>
        <div class="clear"></div>
        <div class="row">
        <div class="logocasino col-xs-4 col-sm-4">
        <div   > <img src="~/Images/fontend/logoCasino/logo-casino1.jpg" />  </div>
        <div class="casinoName"  >SBOBET</div>
        <div class="casinoLink"> » <a href="#"> GO NOW</a></div>
        </div><!--//--> 
        <div class="logocasino  col-xs-4 col-sm-4 ">
        <div  > <img src="~/Images/fontend/logoCasino/logo-casino2.jpg" />  </div>
        <div class="casinoName" >IBCBET</div>
        <div class="casinoLink"> » <a href="#">GO NOW</a></div>
        </div><!--//-->
        <div class="logocasino  col-xs-4 col-sm-4 ">
        <div  > <img src="~/Images/fontend/logoCasino/logo-casino3.jpg" />  </div>
        <div  class="casinoName" >SB1888</div>
        <div class="casinoLink"> » <a href="#">GO NOW</a></div>
        </div><!--//-->
        </div>
    </div>
    <div class="banercasinoCol-home">
        <div class="title-box ">
        <div class="h1-bg2">
        <h3 class="title-th">คาร์สิโน ออนไลน์</h3>
        <h3 class="title-en">CASINO ONLINE</h3>
        </div> 
        </div> 
        <div class="clear"></div>
        <div class="row">
        <div class="logocasino col-xs-4 col-sm-4  col-md-3">
        <div  > <img src="~/Images/fontend/logoCasino/logo-casino1.jpg" />  </div>
        <div class="casinoName" >Holiday-Palace</div>
        <div class="casinoLink" > » <a href="#">GO NOW</a></div>
        </div><!--//--> 
        <div class="logocasino  col-xs-4 col-sm-4  col-md-3">
        <div  > <img src="~/Images/fontend/logoCasino/logo-casino2.jpg" />  </div>
        <div class="casinoName" >G-Club</div>
        <div class="casinoLink" > » <a href="#">GO NOW</a></div>
        </div><!--//-->
        <div class="logocasino  col-xs-4 col-sm-4   col-md-3">
        <div  > <img src="~/Images/fontend/logoCasino/logo-casino3.jpg" />  </div>
        <div  class="casinoName" >Red Dragon</div>
        <div class="casinoLink"> » <a href="#">GO NOW</a></div>
        </div><!--//-->
        <div class="logocasino  col-xs-4 col-sm-4  col-md-3">
        <div  > <img src="~/Images/fontend/logoCasino/logo-casino4.jpg" />  </div>
        <div  class="casinoName" >855Crown</div>
        <div  class="casinoLink"> » <a href="#">GO NOW</a></div>
        </div><!--//-->
         <div class="logocasino col-xs-4 col-sm-4  col-md-3">
        <div  > <img src="~/Images/fontend/logoCasino/logo-casino5.jpg" />  </div>
        <div  class="casinoName" >Royal 1688</div>
        <div  class="casinoLink"> » <a href="#">GO NOW</a></div>
        </div><!--//--> 
        <div class="logocasino  col-xs-4 col-sm-4  col-md-3">
        <div  > <img src="~/Images/fontend/logoCasino/logo-casino6.jpg" />  </div>
        <div  class="casinoName"  >Genting Crown</div>
        <div  class="casinoLink"> » <a href="#">GO NOW</a></div>
        </div><!--//-->
        <div class="logocasino  col-xs-4 col-sm-4 col-md-3" >
        <div  > <img src="~/Images/fontend/logoCasino/logo-casino7.jpg" />  </div>
        <div  class="casinoName"  >Royal Online<br /> Entertainment</div>
        <div  class="casinoLink"> » <a href="#">GO NOW</a></div>
        </div><!--//-->
        <div class="logocasino  col-xs-4 col-sm-4 col-md-3" >
        <div  > <img src="~/Images/fontend/logoCasino/logo-casino8.jpg" />  </div>
        <div  class="casinoName"  >SBO Casino & Game</div>
        <div  class="casinoLink" > » <a href="#">GO NOW</a></div>
        </div><!--//-->
        </div>
        <div class="clear"></div>
    </div>
</div>
@*//////////////////  Livescore  *@
 
<div id="liveScore-outer" class="row">
<div id="liveScore">
<h3> LIVE SCORE</h3> 
<div class="col-xs-4 col-sd-3" >
<div class="title1">Watch football online </div>
<h4 class="title2"> เว็บบอล ดูบอลออนไลน์ ผลบอลทุกลีกดัง</h4>
<div class="chanel">
<ul>
<li> <a > Sport  live..! </a> </li>
<li> <a > Sport  live..! </a> </li>
<li> <a > Sport  live..! </a> </li>
<li> <a > Sport  live..! </a> </li>
</ul>
</div>
</div><!---end  class="col" ---->
<div class="col-xs-4 col-sd-3" >
<div class="title1">Score football report</div>
<h4 class="title2">รายงานผลการแข่งขันบอล  ทุกคู่ทุกลีกดัง</h4> 
<div class="chanel">
<ul  col-sd-2">
<li> <a > Sport  live..! </a> </li>
<li> <a > Sport  live..! </a> </li>
<li> <a > Sport  live..! </a> </li>
<li> <a > Sport  live..! </a> </li>
</ul>
</div>
</div><!---end  class="col" ---->
<div class="col-xs-4 col-sd-3">
<div class="title1"> Other sport report </div>
<h4 class="title2">รายงานผลบอลสด</h4> 
<div class="chanel">
<ul>
<ul>
<li> <a > Sport  live..! </a> </li>
<li> <a > Sport  live..! </a> </li>
<li> <a > Sport  live..! </a> </li>
<li> <a > Sport  live..! </a> </li>
</ul>
</div>
</div><!---end  class="col" ----> 
</div>
</div>