﻿@model MVC442.Models.ClientMessageVM
@{
    Layout = "~/Views/Shared/_Layout442-blank.cshtml";
    ViewBag.Title = "CkeditorCkfiddle";
}

<!-- ==================  CKEditor -->
<script src="~/ckeditor/ckeditor.js"></script>  
<script src="~/ckeditor_config/cke_config_Max.js"></script>

 <!-- ===============  CKEditor Config   -->
     <script>
         $(function () { 
             CKEDITOR.replace('ckeditor3', cke_config_max);
         });

   </script>
<!-- ==================  CKFinder -->
<script src="~/ckfinder/ckfinder.js"></script>  

<!-- ===============  CKEditor With CKFinder Config  -->
     <script>
        $(function () {  
            /// CKFinder With CKEditer
            if (typeof CKEDITOR != 'undefined') {
                var editor = CKEDITOR.replace('ckeditor3', { customConfig: '~/ckeditor_config/cke_config_Max.js' });
                ////////  Fix This When change location of this file  (This path for refer to file in folder  ckfinder )
                CKFinder.setupCKEditor(editor, '../ckfinder/');
            } 
        });// end onload
    </script> 
 
    @Html.TextAreaFor(model => model.Message ,  new {@id = "ckeditor3"  } )

 





