﻿@model MVC442.Models.ClientMessageVM

@{
    Layout = "~/Views/Shared/_Layout442-blank.cshtml";
    ViewBag.Title = "Create";
}



<!-- ==================  CKEditor -->
<script src="~/ckeditor/ckeditor.js"></script> 
<script src="~/ckeditor_config/cke_config_Min.js"></script>
<script src="~/ckeditor_config/cke_config_Medium.js"></script>
<script src="~/ckeditor_config/cke_config_Max.js"></script>

 <!-- ===============  CKEditor Config   -->
     <script> 
         $(function () {
             CKEDITOR.replace('ckeditor1', cke_config_min);
             CKEDITOR.replace('ckeditor2', cke_config_medium);
             CKEDITOR.replace('ckeditor3', cke_config_max);
         });
   </script>


        <div class="editor-label">
            @Html.LabelFor(model => model.IdCon)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.IdCon ,  new {@id = "ckeditor1" }  )
            @Html.ValidationMessageFor(model => model.IdCon)
        </div>

      

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Name ,  new {@id = "ckeditor2" }  )
            @Html.ValidationMessageFor(model => model.Name)
        </div>

  
        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Message ,  new {@id = "ckeditor3"  } )
            @Html.ValidationMessageFor(model => model.Message)
        </div>

   

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
