﻿@{
    Layout = "~/Views/Shared/_Layout442-blank.cshtml";
    ViewBag.Title = "Ckfiddle3";
}
 
<!-- ==================  CKfinder -->
<script src="~/ckfinder/ckfinder.js"></script>  

<!-- ==================   CKFinder Config -   Multi Brows    -->
<script  >
    //========= Setup new Instance 
    function BrowseServer(startupPath, functionData) {
        var finder = new CKFinder();
        // The path for the installation of CKFinder (default = "/ckfinder/").
        finder.basePath = '../';

        /////// Set  startup  folder in Brows
        finder.startupPath = startupPath;

        // Set Name of a function  called when a file is selected in CKFinder.
        finder.selectActionFunction = SetFileField;

        //// Pass  Id of  field that will be updated.
        finder.selectActionData = functionData;

        // Option - Set Name of a function  called when a file is selected in CKFinder.
        //finder.selectThumbnailActionFunction = ShowThumbnails;

        finder.popup();
    }
    //========= Get Path Value  from Brows
    function SetFileField(fileUrl, data) {
        document.getElementById(data["selectActionData"]).value = fileUrl;
    }
    //========= Set Option Called when a thumbnail is selected in CKFinder.
    function ShowThumbnails(fileUrl, data) {
        // this = CKFinderAPI
        var sFileName = this.getSelectedFile().name;
        document.getElementById('thumbnails').innerHTML +=
                '<div class="thumb">' +
                    '<img src="' + fileUrl + '" />' +
                    '<div class="caption">' +
                        '<a href="' + data["fileUrl"] + '" target="_blank">' + sFileName + '</a> (' + data["fileSize"] + 'KB)' +
                    '</div>' +
                '</div>';

        document.getElementById('preview').style.display = "";
        // It is not required to return any value.
        // When false is returned, CKFinder will not close automatically.
        return false;
    }

</script>	 

 <h1>Ckfinder - Multi </h1>

 <input id="ckfinderUpload2" name="FilePath" type="text" size="60" />
<input type="button" value="Browse Server" onclick="BrowseServer('Images:/', 'ckfinderUpload2');" />
<br />
 
<input id="ckfinderUpload3" name="FilePath" type="text" size="60" />
<input type="button" value="Browse Server" onclick="BrowseServer('Files:/', 'ckfinderUpload3');" />






          