﻿@model MVC442.Models.ViewModel.WebLinkCasinoVM

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Create";
    string reqType = Request.QueryString["type"];
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    
  
    
        <div class="editor-label">
            @Html.LabelFor(model => model.IdCasinoCat, "CasinoCat")
        </div>
        <div class="editor-field"> 
         

        @* ////// DropDown By @Html.Action  //////*@
        @Html.Action("CasinoCatPartial", "WebLinkCasino", new { DdlId = "myCustomName1", IdCasinoCat = Model.IdCasinoCat  ,type = reqType  })
        @Html.ValidationMessageFor(model => model.IdCasinoCatSelected)

        </div>
    
    
    
    
        @Html.HiddenFor(model => model.ConType)
 

        <div class="editor-label">
            @Html.LabelFor(model => model.WebName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebName)
            @Html.ValidationMessageFor(model => model.WebName)
        </div>
    
    
        <div class="editor-label">
            @Html.LabelFor(model => model.WebLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebLink)
            @Html.ValidationMessageFor(model => model.WebLink)
        </div>
     
        <div class="editor-label"> 
        </div>
        <div class="editor-field">
        <input type="submit" value="Create"   class="btnDefault" />
        @Html.ActionLink("Back to List", "Index" ,  new { type = reqType }  , new {@class="btnDefault"  } )
        </div>
    
}

 

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
