﻿@using CaptchaMvc.HtmlHelpers

@model MVC442.Models.ViewModel.WebLinkCasinoVM

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Edit";

    string reqType = Request.QueryString["type"];
}

@{
    //// Get PageName from   Request.QueryString[ ] //////
    if (reqType == "2") {
    @:<h2>Sport Online - Edit </h2>
     }
    else {
    @:<h2>Casino Online - Edit </h2>
    }
    
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)  
    <div class="editor-label">
        @Html.LabelFor(model => model.IdCon)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.IdCon)
        @Html.HiddenFor(model => model.IdCon)
    </div> 
    
    <div class="editor-label">
        @Html.LabelFor(model => model.IdCasinoCat, "CasinoCat")
    </div> 
    <div class="editor-field"> 

        @* ////// DropDown By @Html.Action  //////*@
        @Html.Action("CasinoCatPartial", "TestPatialDropDown3", new { DdlId = "myCustomName1", IdCasinoCat = Model.IdCasinoCat , type = reqType  }) 

        @Html.ValidationMessageFor(model => model.IdCasinoCatSelected)
    </div>
    
     
    
    @Html.HiddenFor(model => model.ConType)

 
    <div class="editor-label">
        @Html.LabelFor(model => model.WebName)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.WebName)
        @Html.ValidationMessageFor(model => model.WebName)
    </div>
 
  
    <div class="editor-label">
    </div>
    <div class="editor-field">
        <input type="submit" value="Save" class="btnDefault" />
        @Html.ActionLink("Back to List", "Index", new { type = reqType }, new { @class = "btnDefault" })
    </div>
          
      
    
}
 