﻿ @{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout442-blank.cshtml";
}

<h2>index</h2> 

@Ajax.ActionLink("Customer from Germany", // <-- Text to display
                 "Germany", // <-- Action Method Name
                 new AjaxOptions
                 {
                     UpdateTargetId="CustomerList", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })

|

@Ajax.ActionLink("Customer from Mexico", // <-- Text to display
                 "Mexico", // <-- Action Method Name
                 new AjaxOptions
                 {
                     UpdateTargetId="CustomerList", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })

<div id="CustomerList"></div>

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}