﻿
@{
     Layout = null; 
} 
  
 
<ul> 
 @Html.Action("LiveScorePartial", "TestHtmlAction", new { contype = 1 })  
</ul>
 
<hr />
 
<ul> 
 @Html.Action("LiveScorePartial", "TestHtmlAction", new { contype = 2 })  
</ul>
 
<hr />

 
<ul> 
 @Html.Action("LiveScorePartial", "TestHtmlAction", new { contype = 3 })  
</ul>
 

