﻿@charset "utf-8";
/*----- Font Face ---------------------------------------------------------------*/ 
 
@font-face { 
             font-weight: normal; font-style: normal; 
             font-family: 'RSULight'; 
             src: url('font/RSULight/rsu_light-webfont.eot'); 
             src: url('font/RSULight/rsu_light-webfont.eot?#iefix') format('embedded-opentype'),  
             url('font/RSULight/rsu_light-webfont.ttf') format('truetype'), 
             url('font/RSULight/rsu_light-webfont.svg#RSULight') format('svg'); 
}
/*//============ Font Face  */  
 
@font-face { font-family: 'RSULight'; 
             src: url('font/RSULight/rsu_light-webfont.eot'); 
             src: url('font/RSULight/rsu_light-webfont.eot?#iefix') format('embedded-opentype'),  
             url('font/RSULight/rsu_light-webfont.ttf') format('truetype'), 
             url('font/RSULight/rsu_light-webfont.svg#RSULight') format('svg'); 
             font-weight: normal; font-style: normal; }