﻿ 
/*//================== Ganeral  */
body { font-family: Tahoma, Verdana, Arial; font-size: 13px; color: #333; 
       background: linear-gradient( 0deg, #490E0E 0%, #D81414 100% );
        background-color: #490E0E;
 }
a:link, a:visited { color: #50a3fc; border: none; text-decoration: none; color: #485ed1; }
a:hover, a:active { color: #073c75; border: none; text-decoration: underline; color: #2c3056; }
.clear { clear: both; }
h1 { color:#A51111 ; padding-bottom: 0px; font-family: 'RSULight'; font-size: 22px; font-weight: normal;margin:0px; margin-bottom:5px; }
h2 { color:#A51111; margin-bottom: 0px; padding-bottom: 10px; font-family: Verdana, Geneva, sans-serif; font-size: 19px; font-weight: lighter; }
h3 { }
p { margin-bottom: 5px; }
ul, li, ol { margin: 0px; padding: 0px; }
 
/*//================== Layout */
#container { width: 1280px; margin: 0px auto; background-color:#FDF6DA;    
             background: linear-gradient( 0deg, #fff 20%, #FFF3C2 100% ); /*  IE10 - Button Color   */ 
             background-color: #fff; /* IE19 & Below - Button Color */    
} 

#wrapper { /* padding: 15px;  background-color: #ccc;*/ padding: 10px;}
#header { /*border: 1px solid yellow;*/ width: 100%; }
#sideLeft { float:left; margin-right:5px; }
#sideRight { float:left; }
iframe {border: 1px solid #D69898 ;border-radius: 10px 10px; padding:3px;padding-top:10px; background-color: #fff;}
 
footer { height: 50px; display: block; margin-bottom: 20px; padding-top: 20px; width: 870px; }
footer .footlink { margin-bottom: 10px; clear: both; height: 30px; text-align: center; margin: 0px auto; display: block; width: 500px; }
footer .footlink li { float: left; font-size: 12px; }
footer .footlink li a { text-align: center; padding: 0px 5px; color: #2852cd; }
footer .footlink li a:hover { color: #24439d; }
footer .copy { color: #525253; font-size: 11px; float: left; text-align: center; margin-bottom: 10px; }
footer .policy { margin-bottom: 5px; float: right; font-size: 11px; }
footer .policy li { float: left; }
footer .policy a { color: #525253; padding: 0px 5px; }
footer .policy a:hover { color: #ccc; }

 
/*//================ Btn Default  */
a.btn-default { color: #fff; text-decoration: none; cursor: pointer; }
.btn-default { position: relative; display: block; border: none; padding: 2px 7px 0px 7px; 
               font-family: 'RSULight'; font-size: 16px; font-weight: normal; color: #fff; cursor: pointer; float: left;  border-radius: 5px; 
               background: linear-gradient( 0deg, #F10909 0%, #9B1818 50% ); /*  IE10 - Button Color   */ 
               background-color: #577ce9; /* IE19 & Below - Button Color */ 
}
.btn-default:hover { color: #fff; 
                     background: linear-gradient( 0deg, #EB0F0F 0%, #DA1616 50% ); /*  IE10 - Button Color    */
                     background-color: #DA1616; /* IE19 & Below - Button Color */ 
}
.btn-default span { width: 30px; height: 30px; display: block; right: 0px; position: absolute; top: 1px; z-index: 11; /*border:1px solid red ;*/ }
.btn-small { font-size:13px;  }



  