﻿ 

/*//================= GridView */
 .dataList { border-collapse: collapse; border-spacing: 0; background-color: white; text-align: center; font-size: 13px; width: 100%; border-color: #C7C6C6; }
.dataList .gridhead { height: 30px; padding: 5px; background-color: #8B1111; color: #fff; border: 1px solid #C7C6C6; text-align: center; font-size: 12px; vertical-align: top; }
.dataList .gridrow0 { height: 30px; padding: 5px; background-color: #FFF; color: #000; border: 1px solid #C7C6C6; vertical-align: top; }
.dataList .gridrow1 { height: 30px; padding: 5px; background-color: #F6F7B5; color: #000; border: 1px solid #C7C6C6; vertical-align: top; }
.gridrowSelect { height: 30px; padding: 5px; background-color: #FFE191; color: #000; border: 1px solid #C7C6C6; vertical-align: top; }

 