﻿@model MVC442.Models.ViewModel.WebLinkCasinoVM

@{
    Layout = null;
    ViewBag.Title = "Create";
}

<h2> DropDownList by ViewBag ( Get & CheckType SelectListItem From  Controller )</h2>
<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
 

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCon)
            @Html.ValidationMessageFor(model => model.IdCon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdCasinoCat, "CasinoCat")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdCasinoCat", String.Empty)@*=== Please Select ===*@
            @Html.ValidationMessageFor(model => model.IdCasinoCat)
        </div>

    

        <div class="editor-label">
            @Html.LabelFor(model => model.WebName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebName)
            @Html.ValidationMessageFor(model => model.WebName)
        </div>
    

        <div class="editor-label">
            @Html.LabelFor(model => model.WebLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.WebLink)
            @Html.ValidationMessageFor(model => model.WebLink)
        </div>
     
    
        <div class="editor-label">
            @Html.LabelFor(model => model.IdCasinoCatSelected)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdCasinoCatSelected)
            @Html.ValidationMessageFor(model => model.IdCasinoCatSelected)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
  
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
