﻿@model IEnumerable<MVC442.Models.WebLinkCasino>

@{
    Layout = null;
    ViewBag.Title = "Index";
}

<h2> DropDownList by ViewBag ( Get & CheckType SelectListItem From  Controller )</h2>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
 
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CasinoCat.CatNameTh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebLink)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.IdCasinoCatSelected)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.IdCon   })  
        </td>
    </tr>
}

</table>
