﻿
@using PagedList 
@*@using PagedList.Mvc *@
@*@model IEnumerable<MVC442.Models.WebLinkCasino>*@
@model  IPagedList < MVC442.Models.WebLinkCasino > 

@{
    Layout = null ;
    ViewBag.Title = "Index";
}

<h2>Index</h2>

 
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().IdCon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().CasinoCat.CatNameTh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().ConType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().WebName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().WebLink)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().InputDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().IdCasinoCatSelected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Sort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Description)
        </th>
    
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CasinoCat.CatNameTh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WebLink)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InputDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCasinoCatSelected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
   
    </tr>
}

</table>


<!-- Start show PagedList -->
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber )  of  @Model.PageCount //  show current page and the total number of pages

//////////  Add  Paging  Button - Next & Preview 
@if (Model.HasPreviousPage) {
    @Html.ActionLink("<<", "Index", new { page = 1} ) 
    @Html.Raw(" ");
    @Html.ActionLink("< Prev", "Index", new{page = Model.PageNumber-1 } )
}else{
  @:<<
  @Html.Raw(" ");  
  @: < Prev
}

@if(Model.HasNextPage){
    @Html.ActionLink("Next >" , "Index" , new{ page = Model.PageNumber +1})
    @Html.Raw(" ");
    @Html.ActionLink(">>", "Index", new { page = Model.PageCount })  
}else{
  @:Next >
  @Html.Raw("");  
  @: >>
}
 
<!-- End show PagedList -->
