﻿@model MVC442.Models.ViewModel.ClientMessageVM

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Create";
    string conType = Request.QueryString["type"];
}

<h2>ClientMessageEmail - Create</h2>
<div class="outerForm">
@using (Html.BeginForm( ) ) {
      @Html.ValidationSummary(true)
      @Html.Hidden("IdCat", (object)@ViewBag.IdCat) 
    
      if(conType == "1" ){
            <div class="editor-label">
            @Html.LabelFor(model => model.Name) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>  
        
}     
      
       
        <div class="editor-label">
            @Html.LabelFor(model => model.Tel1) :
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Tel1)
            @Html.ValidationMessageFor(model => model.Tel1)
        </div>
          
     if(conType == "1" ){
        <div class="editor-label">
            @Html.LabelFor(model => model.Message)  :
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>
     } 
    
       @* 
        //======== Date Time Input  .net
        <div class="editor-label">
            @Html.LabelFor(model => model.InputDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.InputDate)
            @Html.ValidationMessageFor(model => model.InputDate)
        </div>
        //=========  Date Time With @ MVC ========// 
        ///////// Datetime print on screen 
        @DateTime.Now.ToString()   
        //////// Datetime  in hidden field 
        @Html.Hidden(DateTime.Now.ToString())  
        /////// Datetime  variable 
        @{ var  today = DateTime.Now; }   
        @Html.EditorFor(model => today )
       //=========
        @Html.Hidden("InputDate" , DateTime.Now) 
      *@
    @Html.Hidden("DateMessage", (object)DateTime.Now) 
   
    
      <div class="editor-label">
           
        </div>
        <div class="editor-field">
           <input type="submit" value="ยืนยัน" class="btnDefault" />
            @Html.ActionLink("ย้อนกลับ", "Index", new {  type= conType}, new { @class = "btnDefault" })
        </div>
    
    <div class="clear"></div>
    
}
 
    </div> <!-- /.outerForm -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}