﻿@model MVC442.Models.ClientMessage


@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Delete";
}

<h2>ClientMessageEmail - Delete</h2>

<p>คุณยืนยันที่จะลบ ?</p>
 

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCon) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tel1)  :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tel1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Message) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InputDate) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InputDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ip) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ip)
    </div>
 
 
@using (Html.BeginForm()) {
    <div class="display-label"> 
    </div>
    <div class="display-field">
      <input type="submit" value="ลบ" class="btnDefault"   /> 
        @Html.ActionLink("ยกเลิก", "Index" , null , new { @class="btnDefault" })
    </div>
     
}
