﻿@model MVC442.Models.ViewModel.ClientMessageVM

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Details";
    string conType = Request.QueryString["type"];
}
 


<h2>ClientMessageEmail - Details</h2>
 <div class="dataView">
 
   @*   <div class="row">
        <div class="logocasino col-xs-4 col-sm-4">
        </div> *@

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdCon) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdCon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tel1) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tel1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Message) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InputDateDisplay) :
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InputDateDisplay)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ip) :
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.Ip)
    </div>
 
       <div class="display-label">
         
    </div>

    <div class="display-field">
 
    @Html.ActionLink("ย้อนกลับ", "Index", new { type= conType  }, new { @class = "btnDefault" })
     
    </div>
    
 