﻿@*////// Add PageList//////// *@ 
@using PagedList
@*@using PagedList.Mvc*@
@using  MVC442.Helper.UT 


@model IPagedList<MVC442.Models.ViewModel.ClientMessageVM>

@{
    Layout = "~/Views/Shared/_Layout442-Backend1.cshtml";
    ViewBag.Title = "Index";
    string conType = Request.QueryString["type"];
}
 
<style>
    .dataList td:nth-child(1) { width: 3%; }
    .dataList td:nth-child(2) { width: 15%; text-align: left; }
    [class*=dataList] td:nth-child(3) { width: 10%; text-align: left; }
    .dataList td:nth-child(4) { width: 10%; }
    .dataList td:nth-child(5) {text-align: left;  }
    .dataList td:nth-child(6) { width: 10%; }
    .dataList td:nth-child(7) { width: 10%; } 
    .dataList td:last-child {width: 11%; } 
</style>
<h2>ClientMessageEmail - List</h2>
@*
<p>
    @Html.ActionLink("สร้าง", "Create", new { type = conType }, new { @class = "btnDefault" } )
</p>
*@
@{
    <p>DateTimeNow UK  : @DateTime.Now</p>
    <p>Timezone Offset : @Session["timezoneoffset"] </p> 
} 


<table class=" dataList" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().IdCon)
        </th>
        @{
            if (conType == "1") {
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Email)
            </th>
            } 
        }

        <th>
            @Html.DisplayNameFor(model => model.First().Tel1)
        </th>
        @{
            if (conType == "1") {
            <th>
                @Html.DisplayNameFor(model => model.First().MessageTrimmed)
            </th>
            } 
        }


        <th>
            @Html.DisplayNameFor(model => model.First().InputDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Ip)
        </th>
        <th> จัดการ
        </th>
    </tr>

    @{  
        int count = 0;
    }

    @foreach (var item in Model) {
        count++; 
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCon)
            </td>
                 @{
            if (conType == "1") {
           <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            } 
        }

       
            <td>
                @Html.DisplayFor(modelItem => item.Tel1)
            </td>
       
            @{
            if (conType == "1") {
            <td> 
             @* 
             ///////   Set link to from model  //////  
             @if( item.Message != null ){
             @Html.ActionLink(item.Message , "Details" , new { id = item.IdCon  }  ) 
             }
             *@    
           
                 @Html.DisplayFor(modelItem => item.MessageTrimmed)
           

             @*   @Html.Display(modelItem => item.Message.Length )*@

              @*  > 10 ? item.Message.Substring(0,10) : item.Message*@
            </td>

            } 
        }



            <td> 
                    @Html.DisplayFor(modelItem =>  item.InputDateDisplay )
                
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Ip)
            </td>
            <td>
                @Html.ActionLink("ดูข้อมูล", "Details", new { id = item.IdCon, type = conType }, new { @class = "btnDefault", Styles = "" })

                @Ajax.ActionLink("ลบ", "Delete", new { id = item.IdCon }, new AjaxOptions {
                           HttpMethod = "POst",
                           Confirm = "ยืนยันลบข้อมูล?",
                           OnComplete = "deleteComplete"
                       },
                  new { @class = "btnDefault" }
              
                  ) 
            </td>
        </tr>
    }
</table>

<script>
    function deleteComplete() {
        window.location.reload();
    }
</script>



<!-- Start show PagedList -->
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
Of @Model.PageCount

@if (Model.HasPreviousPage) {
    @Html.ActionLink("<<", "Index", new { page = 1, type = conType }) 
    @Html.Raw(" ");
    @Html.ActionLink("< Prev", "Index", new { page = Model.PageNumber - 1, type = conType })

}
else {
    @:<<
    @Html.Raw(" ");  
    @: < Prev
}

@if (Model.HasNextPage) {
    @Html.ActionLink("Next >", "Index", new { page = Model.PageNumber + 1, type = conType })
    @Html.Raw(" ");
    @Html.ActionLink(">>", "Index", new { page = Model.PageCount, type = conType })  
}
else {
    @:Next >
    @Html.Raw("");  
    @: >>
}

